/* 2020/02/27 build */
/* 2020/05/07 ipdate */
/* pos */
.fixed {
	position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
}
/* abs */
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
/* float */
.fl {
	float: left;
}
.fr {
	float: right;
}
/* center */
.center {
	margin-left: auto;
	margin-right: auto;
}
/* text */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
/* width */
.full-w {
	width: 100%;
}
.full-h {
	height: 100%;
}
/* font */
.fontsize0 {
	font-size: 0;
}
.lineheight0 {
	line-height: 0;
}
.bold500 {
	font-weight: 500;
}
.bold700 {
	font-weight: 700;
}
.bold900 {
	font-weight: 900;
}
/* color */
.grey {
	color: #666;
}
.white {
	color: #fff;
}
.red {
	color: #ff0000;
}
.bg-white {
	background: #fff;
}
/* clear */
.clearfix:after {
    content: "";  /*设置内容为空*/
    height: 0;  /*高度为0*/
    line-height: 0;  /*行高为0*/
    display: block;  /*将文本转为块级元素*/
    visibility: hidden;  /*将元素隐藏*/
    clear: both;  /*清除浮动*/
}
.clearfix {
    zoom: 1;  /*为了兼容IE*/
}
.pointer {
	cursor: pointer;
}
.hide {
	display: none;
}
/* pc & mo */
.box-swiper, .content {
	left: 0;
}
.modal {
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 12;
}
.modal-loading {
	background: none;
}
.loader {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    border-top: 0.2rem solid #c00000;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
/* pc */
.pc .wrapper {
	min-width: 960px;
}
.pc .main {
	margin: 9.4rem auto 0;
}
.pc .slash {
	width: 10.2rem;
}
.pc .slash-m {
	width: 5.2rem;
}
.pc .box-title h2 {
	padding: 4rem 0 3rem;
	font-size: 4rem;
	line-height: 5.9rem;
	letter-spacing: 0.12rem;
}
.pc .box-title h3 {
	padding: 3.2rem 0;
	font-size: 3.48rem;
	line-height: 4rem;
}
.pc .box-title .subtitle {
	font-size: 2.44rem;
	line-height: 3.98rem;
}
.pc .modal-player .content {
	width: 72%;
	margin-top: 2%;
}
.pc .modal-player .btn-close {
	width: 8.681%;
	margin-right: -8.681%;
}
.pc .modal-180 .content {
	width: 50%;
	margin-top: 2%;
}
.pc .modal-180 .box-close {
	margin-bottom: 4%;
}
.pc .modal-180 .btn-close {
	width: 12.5%;
	margin-right: -12.5%;
}
.pc .modal-180 .tip-180 {
	width: 24.48%;
	margin-top: 4%;
}
.pc .modal-download .content {
	width: 40rem;
	font-size: 2rem;
	line-height: 2rem;
	margin-top: 10%;
}
.pc .modal-download a {
	padding: 2rem 0;
	border-bottom: 0.1rem solid #fff;
	display: block;
}
.pc .modal-download a:last-child {
	border-bottom: none;
}
.pc .modal-download a {
	color: #fff;
}
.pc .modal-download a:link {
	color: #fff;
}
.pc .modal-download a:visited {
	color: #fff;
}
.pc .modal-download a:hover {
	color: #fff;
}
.pc .modal-download a:active {
	color: #fff;
}
.pc .modal-download .icon-download {
	width: 1.5rem;
	height: 1.7rem;
	margin-left: 0.8rem;
	margin-bottom: 0;
	vertical-align: bottom;
	background: url('../img/pc/common/icon-download.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.pc .modal-download .btn-close {
	width: 3.1rem;
	margin-right: -6.2rem;
}
.pc .tip-no, .pc .tip-error {
	font-size: 1.6rem;
	line-height: 2.4rem;
}
/* mo */
.mo .main {
	margin: 6rem 0 0;
}
.mo .box-title {
	left: 0;
}
.mo .slash {
	width: 8.4%;
}
.mo iframe {
	height: 20rem;
}
.mo .modal-player .content {
	width: 90%;
}
.mo .modal-player .btn-close {
	width: 16%;
	margin-top: 6%;
	margin-bottom: 30%;
}
.mo .modal-180 .content, .mo .modal-download .content {
	padding: 40% 10% 0;
}
.mo .modal-180 .btn-close, .mo .modal-download .btn-close {
	width: 12%;
	margin-top: 4rem;
}
.mo .modal-download .content {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.mo .modal-download a {
	padding: 1.66rem 0;
	border-bottom: 1px solid #fff;
	display: block;
}
.mo .modal-download a:last-child {
	border-bottom: none;
}
.mo .modal-download a {
	color: #fff;
}
.mo .modal-download a:link {
	color: #fff;
}
.mo .modal-download a:visited {
	color: #fff;
}
.mo .modal-download a:hover {
	color: #fff;
}
.mo .modal-download a:active {
	color: #fff;
}
.mo .modal-download .icon-download {
	width: 1.2rem;
	height: 1.3rem;
	margin-left: 0.8rem;
	margin-bottom: 0.1rem;
	vertical-align: bottom;
	background: url('../img/mo/common/icon-download.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.mo .tip-no, .mo .tip-error {
	font-size: 1.4rem;
	line-height: 2.1rem;
}
/* animate */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.cardAn1 {  
	-webkit-transform: matrix(0.92, 0, 0, 0.92, 0, -60)!important; /* Safari和Chrome */  
    -moz-transform: matrix(0.92, 0, 0, 0.92, 0, -60)!important; /* Firefox */
    -ms-transform: matrix(0.92, 0, 0, 0.92, 0, -60)!important; /* IE9 */  
    -o-transform: matrix(0.92, 0, 0, 0.92, 0, -60)!important; /* Opera */  
    transform: matrix(0.92, 0, 0, 0.92, 0, -60)!important; 
    -webkit-transition: all 0.8s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.8s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.8s ease-in-out; /* Opera */ 
    transition: all 0.8s ease-in-out;  
}
.cardAn2 {  
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0); /* Safari和Chrome */  
    -moz-transform: matrix(1, 0, 0, 1, 0, 0); /* Firefox */
    -ms-transform: matrix(1, 0, 0, 1, 0, 0); /* IE9 */  
    -o-transform: matrix(1, 0, 0, 1, 0, 0); /* Opera */  
    transform: matrix(1, 0, 0, 1, 0, 0); 
    -webkit-transition: all 0.8s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.8s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.8s ease-in-out; /* Opera */ 
    transition: all 0.8s ease-in-out;  
}  
.opacityAn1 {  
	opacity: 0.2;
    -webkit-transition: all 0.8s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.8s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.8s ease-in-out; /* Opera */ 
    transition: all 0.8s ease-in-out;  
} 
.opacityAn2 {  
	opacity: 1;
    -webkit-transition: all 0.8s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.8s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.8s ease-in-out; /* Opera */ 
    transition: all 0.8s ease-in-out;  
}
.opacityAn3 {
	opacity: 0;
    -webkit-transition: all 0.8s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.8s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.8s ease-in-out; /* Opera */ 
    transition: all 0.8s ease-in-out;  
}
