/* 2020/04/29 build */
.box-title h2 {
	letter-spacing: 0.2rem!important;
}
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.5% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 17.93%;
	margin: 0 3.8% 0.4% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.8% 3.6% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .item-prod .box-3d {
	width: 35%;
	margin-left: 6%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 8.8%;
	left: 11.6%;
	color: #FFF;
}
.sec2 .box-text2-1 {
	top: 21%;
	left: 43.3%;
	width: 13.7%;
}
.sec2 .box-text2-2 {
	top: 56.7%;
	left: 31.9%;
	width: 36.2%;
}
.sec2 .box-content2 {
	top: 48.7%;
}
.sec2 .box-content2 .btn-sleepmode-1,
.sec2 .box-content2 .btn-sleepmode-2{
	width: 9.6%;
	margin-left: 45.2%;
	cursor: pointer;
}
.sec2 .box-content2 .hand{
	width: 2.4%;
	left: 53.8%;
	top: 70%;
}
.sec2 .box-cards {
	top: 64%;
}
.sec2 .box-cards img{
	width: 34.5%;
}
.sec3 {
	margin-top: -17.4%;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 13%;
	left: 11.6%;
	color: #2a4139;
}
.sec3 .box-prod {
	width: 32.3%;
	top: 9.8%;
	left: 50%;
}
.sec3 .box-text3-1 {
	width: 15%;
	top: 41.7%;
	left: 51%;
}
.sec3 .box-text3-2 {
	width: 28.43%;
	top: 47.9%;
	left: 51%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	top: 8.8%;
	left: 11.6%;
	width: 88.4%;
	color: #3c2318;
}
.sec4 .box-effect {
	width: 39.3%;
	top: 19.6%;
	left: 34.2%;
}
.sec4 .box-wind {
	height: 0%;
	top: 57%;
	overflow: hidden;
}
.windAn4 {  
	height: 364%!important;
    -webkit-transition: all 3s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 3s ease-in-out; /*Firefox 4 */  
    -o-transition: all 3s ease-in-out; /* Opera */ 
    transition: all 3s ease-in-out; 
}
.sec4 .box-text4-1 {
	width: 12.6%;
	top: 31.5%;
	left: 43.6%;
}
.sec4 .box-text4-2 {
	width: 47.7%;
	top: 45.5%;
	left: 31.1%;
}
.sec4 .box-text4-3 {
	width: 52.5%;
	top: 65.6%;
	left: 23.8%;
}
.sec2 .box-title2,
.sec2 .box-text2-1,
.sec2 .box-text2-2,
.sec2 .box-content2,
.sec2 .box-cards,
.sec3 .box-title3,
.sec3 .box-text3-1,
.sec3 .box-text3-2,
.sec4 .box-title4,
.sec4 .box-text4-1,
.sec4 .box-text4-2,
.sec4 .box-text4-3,
.sec4 .card4-1,
.sec4 .card4-2{
	opacity: 0;
}

.scale{
    animation: scale 1.5s linear 0s infinite;
    -ms-animation: scale 1.5s linear 0s infinite;
    -webkit-animation: scale 1.5s linear 0s infinite;
    -o-animation: scale 1.5s linear 0s infinite;
    -moz-animation: scale 1.5s linear 0s infinite;
}
@keyframes scale{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
@-ms-keyframes scale{
    0%{-ms-transform: scale(1);}
    50%{-ms-transform: scale(1.2);}
    100%{-ms-transform: scale(1);}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.2);}
    100%{-webkit-transform: scale(1);}
}
@-o-keyframes scale{
    0%{-o-transform: scale(1);}
    50%{-o-transform: scale(1.2);}
    100%{-o-transform: scale(1);}
}
@-moz-keyframes scale{
    0%{-moz-transform: scale(1);}
    50%{-moz-transform: scale(1.2);}
    100%{-moz-transform: scale(1);}
}