/* 2020/04/29 build */
.box-title h2 {
	letter-spacing: 0.2rem!important;
}
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.5% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1-1 {
	width: 17.93%;
	margin: 0 1.8% 0.4% 0;
}
.sec1 .item-prod .level1-2 {
	width: 17.93%;
	margin: 0 3.2% 0.4% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.8% 46% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .item-prod .box-3d {
	width: 35%;
	margin-left: 6%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 10.9%;
	left: 11.6%;
	color: #374865;
}
.sec2 .box-prod {
    width: 27.4%;
    left: 36.3%;
    top: 19%;
}
.sec2 .box-text2-1 {
	top: 41.5%;
	left: 24.4%;
	width: 17.7%;
}
.sec2 .box-text2-2 {
	top: 54.7%;
	left: 24.6%;
	width: 16.8%;
}
.sec3 {
	margin-top: -17.2%;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 13%;
	left: 11.6%;
	color: #53463f;
}
.sec3 .box-img3 {
	width: 17.9%;
	top: 44.5%;
	left: 33.1%;
}
.sec3 .box-text3-1 {
	width: 16.2%;
	top: 60.2%;
	left: 17%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	top: 8.8%;
	left: 11.6%;
	width: 88.4%;
	color: #3c2318;
}
.sec4 .box-prod4 {
	width: 15.1%;
	top: 20.5%;
	left: 42.2%;
}
.sec4 .box-text4-1 {
	width: 12.6%;
	top: 31.2%;
	left: 43.6%;
}
.sec4 .box-text4-2 {
	width: 47.4%;
	top: 44.8%;
	left: 31.1%;
}
.sec4 .box-text4-3 {
	width: 52.5%;
	top: 65.6%;
	left: 23.8%;
}
.sec2 .box-title2,
.sec2 .box-text2-1,
.sec2 .box-text2-2,
.sec3 .box-title3,
.sec3 .box-text3-1,
.sec3 .box-img3,
.sec4 .box-title4,
.sec4 .box-text4-1,
.sec4 .box-text4-2,
.sec4 .box-text4-3,
.sec4 .card4-1,
.sec4 .card4-2 {
	opacity: 0;
}
