/* 2020/05/04 build */
/* 2020/05/18 update */
/* 2020/06/15 update */
/* 2020/07/01 update */
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.2%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.2% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 12.83%;
	margin: 0.3% 3.8% 1.8% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.6% 3.6% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	display: inline-block;
}
.sec1 .item-prod .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .item-prod .box-3d {
	width: 35%;
	margin-left: 7%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .btn-player {
	width: 6.3542%;
	top: 42%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 7%;
	left: 11.6%;
	color: #052441;
}
.sec3 .content3 {
	width: 67.709%;
	top: 12.6%;
}
.sec3 .text3 {
	margin-top: 7.4%;
}
.sec3 .card3-1, .sec3 .card3-2 {
	width: 38.594%;
	top: 59.2%;
}
.sec3 .card3-1 {
	left: 10.7%;
}
.sec3 .card3-2 {
	left: 50.8%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	width: 88.4%;
	top: 13.1%;
	left: 11.6%;
	color: #450002;
}
.sec4 .box-text {
	width: 19.167%;
	top: 38.5%;
	right: 24.3%;
}
.sec4 .text4-2 {
	margin-top: 10%;
}
.sec5 {
	margin-top: -14.8%;
}
.sec5 .box-title5 {
	width: 88.4%;
	top: 8.6%;
	left: 11.6%;
}
.sec5 .box-text {
	top: 38.8%;
}
.sec5 .text5-2 {
	margin-top: 3.6%;
}
.sec5 .box-swiper {
	top: 56.6%;
}
.sec5 .swiper5 {
	padding-bottom: 4.8%;
}
.sec5 .swiper-slide img {
	width: 125.418%;
	margin-left: -12.709%;
}
.sec5 .swiper-button-prev, .sec5 .swiper-button-next {
	width: 3%;
	height: 13.6%;
	top: 40%;
}
.sec5 .swiper-button-prev {
	left: 19.6%;
	background: url('../../../img/pc/seriesbg/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec5 .swiper-button-next {
	right: 19.6%;
	background: url('../../../img/pc/seriesbg/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec5 .swiper5 .swiper-pagination {
	width: 61.6%;
	height: 0.3rem;
	top: 98%;
	left: 19.2%;
	background: rgba(181, 181, 181, 0.3);
}
.sec5 .swiper5 .swiper-pagination-progressbar {
	background: #91a2b7;
}
.sec6 .bg {
	opacity: 0;
}
.sec6 .bg-item {
	opacity: 0;
}
.sec6 .bg-item.bgAn1 {
	opacity: 1!important;
    -webkit-transition: all 0.2s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.2s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.2s ease-in-out; /* Opera */ 
    transition: all 0.2s ease-in-out;  
}
.sec6 .bg-item.bgAn2 {
	opacity: 0!important;
    -webkit-transition: all 0.2s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.2s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.2s ease-in-out; /* Opera */ 
    transition: all 0.2s ease-in-out;  
}
.sec6 .box-title6 {
	width: 88.4%;
	top: 8.5%;
	left: 11.6%;
}
.sec6 .colorcold {
	color: #052441;
}
.sec6 .colorhot {
	color: #631e00;
}
.sec6 .box-title.active, .sec6 .box-text.active {
	opacity: 1;
}
.sec6 .box-text {
	width: 29.6875%;
	top: 16.9%;
	opacity: 0;
}
.sec6 .text6-1-2, .sec6 .text6-2-2 {
	margin-top: 6.6%;
}
.sec6 .text6-1-3, .sec6 .text6-2-3 {
	margin-top: 128.8%;
}
.sec6 .box-swiper {
	top: 30.3%;
}
.sec6 .swiper6 {
	padding-bottom: 16%;
}
.sec6 .swiper6 .swiper-button-prev, .sec6 .swiper6 .swiper-button-next {
	width: 4%;
	height: 10.2%;
	top: 31.4%;
}
.sec6 .swiper6 .swiper-button-prev {
	left: 19.2%;
	background: url('../../../img/pc/seriesbg/arrows-black.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec6 .swiper6 .swiper-button-next {
	right: 19.2%;
	background: url('../../../img/pc/seriesbg/arrows-black.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec6 .swiper6 .swiper-pagination-bullet {
	width: 10rem;
	height: auto;
	line-height: 7rem;
	margin: 0 7%;
	background: transparent;
	border-radius: 0;
	opacity: 0.5;
}
.sec6 .swiper6 .swiper-pagination-bullet-active {
	opacity: 1;
}
.sec6 .swiper6 .swiper-pagination-bullet span {
	font-size: 2.6rem;
	padding: 20% 0;
	vertical-align: bottom;
}
.sec6 .swiper6 .swiper-pagination-bullet-active span {
	font-size: 3.4rem;
}
.sec6 .swiper6 .swiper-pagination.colorcold .swiper-pagination-bullet-active span {
	border-bottom: 0.3rem solid #052441;
}
.sec6 .swiper6 .swiper-pagination.colorhot .swiper-pagination-bullet-active span {
	border-bottom: 0.3rem solid #631e00;
}
.sec7 {
	margin-top: -14.2%;
}
.sec7 .box-title7 {
	width: 88.4%;
	top: 13.6%;
	left: 11.6%;
	color: #3e2308;
}
.sec7 .box-title7 h3 {
	text-shadow: 0rem 0rem 3rem #fff;
}
.sec7 .text7 {
	width: 35.209%;
	top: 34.8%;
	left: 15.2%;
}
.sec8 {
	margin-top: -14.2%;
}
.sec8 .box-title8 {
	width: 88.4%;
	top: 7.8%;
	left: 11.6%;
	color: #103330;
}
.sec8 .box-text {
	width: 61.459%;
	top: 17.5%;
}
.sec8 .text8-2 {
	margin-top: 4.1%;
}
.sec8 .text8-3 {
	margin-top: 3.7%;
}
.sec9 {
	margin-top: -14.2%;
}
.sec9 .box-title9 {
	width: 88.4%;
	top: 13.7%;
	left: 11.6%;
}
.sec9 .box-text {
	width: 30%;
	top: 36.8%;
	left: 16.6%;
}
.sec9 .text9-2 {
	margin-top: 7%;
}
.sec9 .text9-3 {
	margin-top: 6.6%;
}
.sec9 .text9-4, .sec9 .text9-5 {
	width: 8.125%;
}
.sec9 .text9-4 {
	top: 43.8%;
	right: 43.7%;
}
.sec9 .text9-5 {
	top: 30.8%;
	right: 20.6%;
}
.component-select {
	margin-top: -6.8%;
}
.sec3 .box-title3,
.sec3 .prod3,
.sec3 .text3,
.sec3 .card3-1,
.sec3 .card3-2,
.sec4 .box-title4,
.sec4 .text4-1,
.sec4 .text4-2,
.sec5 .box-title5,
.sec5 .text5-1,
.sec5 .text5-2,
.sec5 .box-swiper,
.sec6 .box-title6,
.sec6 .text6-1,
.sec6 .text6-2,
.sec6 .text6-3,
.sec6 .swiper6,
.sec6 .swiper6 .swiper-pagination,
.sec7 .box-title7,
.sec7 .text7,
.sec8 .box-title8,
.sec8 .text8-1,
.sec8 .text8-2,
.sec8 .text8-3,
.sec9 .box-title9,
.sec9 .text9-1,
.sec9 .text9-2,
.sec9 .text9-3,
.sec9 .text9-4,
.sec9 .text9-5 {
	opacity: 0;
}
