/* 2020/04/20 build */
/* 2020/05/20 update */
/* 2020/07/01 update */
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.2% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 12.83%;
	margin: 0.3% 3.8% 1.8% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.8% 3.6% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	border: 0.01rem solid transparent;
	display: inline-block;
}
.sec1 .item-prod .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .color-item2 div {
	background: #c70023;
}
.sec1 .color-item3 div {
	background: #e8d3b4;
}
.sec1 .item-prod .box-3d {
	width: 35%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14%;
	z-index: 1;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 13%;
	left: 11.6%;
	color: #311a10;
}
.sec2 .content2 {
	width: 33.334%;
	top: 15.2%;
}
.sec2 .box-text {
	margin-top: 6.2%;
}
.sec2 .btn-check-plus {
	width: 31.40625%;
}
.sec3 {
	margin-top: -15.8%;
}
.sec3 .btn-player {
	width: 6.3542%;
	top: 41%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	width: 88.4%;
	top: 12.2%;
	left: 11.6%;
	color: #575757;
	z-index: 2;
}
.sec4 .box-swiper {
	top: 18.5%;
}
.sec4 .swiperprod {
	padding-bottom: 12%;
}
.sec4 .swiperprod .swiper-slide img {
	width: 64.0625%;
}
.sec4 .swiperprod .swiper-pagination {
	bottom: 2%;
}
.sec4 .swiperprod .swiper-pagination-bullet {
	width: 18.334%;
	height: auto;
	margin: 0 1.6%;
	background: transparent;
	border-radius: 0;
	vertical-align: top;
	opacity: 1;
}
.sec4 .swiperprod .swiper-pagination-bullet .text4-1-1, .sec4 .swiperprod .swiper-pagination-bullet .text4-2-1, .sec4 .swiperprod .swiper-pagination-bullet .text4-3-1 {
	display: block;
}
.sec4 .swiperprod .swiper-pagination-bullet .text4-1-2, .sec4 .swiperprod .swiper-pagination-bullet .text4-2-2, .sec4 .swiperprod .swiper-pagination-bullet .text4-3-2 {
	display: none;
}
.sec4 .swiperprod .swiper-pagination-bullet-active .text4-1-1, .sec4 .swiperprod .swiper-pagination-bullet-active .text4-2-1, .sec4 .swiperprod .swiper-pagination-bullet-active .text4-3-1 {
	display: none;
}
.sec4 .swiperprod .swiper-pagination-bullet-active .text4-1-2, .sec4 .swiperprod .swiper-pagination-bullet-active .text4-2-2, .sec4 .swiperprod .swiper-pagination-bullet-active .text4-3-2 {
	display: block;
}
.sec5 {
	margin-top: -14.2%;
}
.sec5 .box-title5 {
	width: 24.0625%;
	top: 18.8%;
	left: 16.8%;
	z-index: 2;
}
.sec5 .box-swiper {
	top: 26.8%;
}
.sec5 .swiperprod .swiper-pagination {
	width: 22rem;
	left: 16.8%;
	bottom: 9%;
	text-align: left;
}
.sec5 .swiperprod .swiper-pagination-bullet {
	width: 100%;
	height: auto;
	line-height: 3.02rem;
	background: transparent;
	margin: 0 0 16% 0;
	border-radius: 0;
	opacity: 0.5;
}
.sec5 .swiperprod .swiper-pagination-bullet-active {
	opacity: 1;
}
.sec5 .swiperprod .swiper-pagination-bullet > div {
	display: inline-block;
	vertical-align: top;
}
.sec5 .swiperprod .swiper-pagination-bullet .color {
	width: 3rem;
	height: 3rem;
	border: 0.01rem solid #fff;
	margin-right: 1rem;
	display: inline-block;
}
.sec5 .swiperprod .swiper-pagination.color1 {
	color: #373737;
}
.sec5 .swiperprod .swiper-pagination.color2 {
	color: #6b030e;
}
.sec5 .swiperprod .swiper-pagination.color3 {
	color: #4e2d00;
}
.sec5 .swiperprod .swiper-pagination-bullet .color1 {
	background: #f5f5f5
}
.sec5 .swiperprod .swiper-pagination-bullet .color2 {
	background: #af223b;
}
.sec5 .swiperprod .swiper-pagination-bullet .color3 {
	background: #ece1cd;
}
.sec5 .swiperprod .swiper-pagination-bullet .series {
	font-size: 3rem;
	margin-right: 0.6rem;
}
.sec5 .swiperprod .swiper-pagination-bullet-active .series {
	font-size: 3.6rem;
}
.sec5 .swiperprod .swiper-pagination-bullet .panel {
	font-size: 2.2rem;
}
.sec5 .swiperprod .swiper-pagination-bullet-active .panel {
	font-size: 2.5rem;
}
.sec6 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec6 .box-title6 {
	top: 26.4%;
}
.sec6 .subtitle6 {
	margin-top: 4.4%;
}
.sec6 .prod6-1 {
	width: 34.48%;
	top: 2.6%;
	left: 11%;
}
.sec6 .prod6-2 {
	width: 34.48%;
	top: 15.6%;
	right: 6.7%;
}
.sec6 .prod6-3 {
	width: 34.48%;
	top: 46.4%;
	left: 1.6%;
}
.sec6 .prod6-4 {
	width: 13.334%;
	top: 48.8%;
	right: 18.9%;
}
.sec7 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec7 .box-title7 {
	width: 88.4%;
	top: 9.2%;
	left: 11.6%;
}
.sec7 .box-text {
	top: 41%;
}
.sec7 .text7-2 {
	margin-top: 3.9%;
}
.sec7 .box-swiper {
	top: 60.6%;
}
.sec7 .swiper7 {
	padding-bottom: 3.2%;
}
.sec7 .swiper-slide img {
	width: 125.625%;
	margin-left: -12.8125%;
}
.sec7 .swiper-button-prev, .sec7 .swiper-button-next {
	width: 3%;
	height: 13.6%;
	top: 41.4%;
}
.sec7 .swiper-button-prev {
	left: 19.8%;
	background: url('../../../img/pc/seriesbg/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec7 .swiper-button-next {
	right: 19.8%;
	background: url('../../../img/pc/seriesbg/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec7 .swiper7 .swiper-pagination {
	width: 61.6%;
	height: 0.3rem;
	top: 98%;
	left: 19.2%;
	background: rgba(181, 181, 181, 0.3);
}
.sec7 .swiper7 .swiper-pagination-progressbar {
	background: #91a2b7;
}
.sec8 {
	margin-top: 0.2%;
	padding-bottom: 30%;
}
.sec8 .box-title8 {
	width: 88.4%;
	top: 11.7%;
	left: 11.6%;
}
.sec8 .box-effect {
	width: 26.042%;
	top: 13.9%;
	right: 23%;
}
.sec8 .box-effect .box-wind {
	width: 203.2%;
	height: 0%;
	top: 78%;
	right: 1.8%;
	overflow: hidden;
}
.windAn {  
	height: 260%!important;
    -webkit-transition: all 3s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 3s ease-in-out; /*Firefox 4 */  
    -o-transition: all 3s ease-in-out; /* Opera */ 
    transition: all 3s ease-in-out;  
} 
.sec8 .box-text {
	width: 34.896%;
	top: 27.1%;
	left: 16.8%;
}
.sec8 .text8-2 {
	margin-top: 5%;
}
.sec8 .card8-1, .sec8 .card8-2 {
	width: 36.771%;
	top: 64.1%;
}
.sec8 .card8-1 {
	left: 11.6%;
}
.sec8 .card8-2 {
	left: 51.3%;
}
.sec9 .box-title9 {
	width: 88.4%;
	top: 12.6%;
	left: 11.6%;
	color: #0c3821;
}
.sec9 .text9-1 {
	width: 24.375%;
	top: 28%;
}
.sec9 .text9-2 {
	width: 28.646%;
	top: 48%;
	left: 16.8%;
}
.sec9 .prod9 {
	width: 31.042%;
	top: 38.6%;
	right: 16.7%;
}
.sec10 {
	margin-top: -14.2%;
}
.sec10 .box-title10 {
	width: 88.4%;
	top: 13.6%;
	left: 11.6%;
	color: #3e2308;
}
.sec10 .box-title10 h3 {
	text-shadow: 0rem 0rem 3rem #fff;
}
.sec10 .text10 {
	width: 35.209%;
	top: 34.8%;
	left: 15.2%;
}
.sec11 {
	margin-top: -14.2%;
}
.sec11 .box-title11 {
	width: 88.4%;
	top: 12.1%;
	left: 11.6%;
	color: #4c2000;
	z-index: 1;
}
.sec11 .box-text {
	width: 26.667%;
	top: 35.1%;
	left: 52.2%;
}
.sec11 .text11-2 {
	margin-top: 6%;
}
.component-select {
	margin-top: -6.8%;
}
.sec2 .box-title2, 
.sec2 .prod2, 
.sec2 .box-text, 
.sec4 .box-title4,
.sec4 .swiperprod,
.sec4 .swiperprod .swiper-pagination,
.sec5 .box-title5,
.sec5 .swiperprod,
.sec5 .swiperprod .swiper-pagination,
.sec6 .prod6-1,
.sec6 .prod6-2,
.sec6 .prod6-3,
.sec6 .prod6-4,
.sec6 .title6,
.sec6 .subtitle6,
.sec7 .box-title7,
.sec7 .text7-1,
.sec7 .text7-2,
.sec7 .box-swiper,
.sec8 .box-title8,
.sec8 .text8-1,
.sec8 .text8-2,
.sec8 .card8-1,
.sec8 .card8-2,
.sec9 .box-title9,
.sec9 .prod9,
.sec9 .text9-1,
.sec9 .text9-2,
.sec10 .box-title10,
.sec10 .text10,
.sec11 .box-title11,
.sec11 .text11-1,
.sec11 .text11-2 {
	opacity: 0;
}
