/* 2020/04/29 build */
/* 2020/05/19 update */
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.2% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 12.83%;
	margin: 0.4% 3.6% 1.8% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.6% 3.6% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	display: inline-block;
}
.sec1 .item-prod .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .item-prod .box-3d {
	width: 35%;
	margin-left: 7%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 8.8%;
	left: 11.6%;
}
.sec2 .box-text {
	top: 39.6%;
}
.sec2 .text2-1 {
	margin-bottom: 4.2%;
}
.sec2 .box-swiper {
	top: 58.5%;
}
.sec2 .swiper2 {
	padding-bottom: 4.2%;
}
.sec2 .swiper-slide img {
	width: 125.418%;
	margin-left: -12.709%;
}
.sec2 .swiper-button-prev, .sec2 .swiper-button-next {
	width: 3%;
	height: 13.2%;
	top: 40.4%;
}
.sec2 .swiper-button-prev {
	left: 19.8%;
	background: url('../../../img/pc/seriesbg/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec2 .swiper-button-next {
	right: 19.8%;
	background: url('../../../img/pc/seriesbg/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec2 .swiper2 .swiper-pagination {
	width: 61.6%;
	height: 0.3rem;
	top: 98%;
	left: 19.2%;
	background: rgba(181, 181, 181, 0.3);
}
.sec2 .swiper2 .swiper-pagination-progressbar {
	background: #7c91cc;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 9%;
	left: 11.6%;
	color: #391b19;
}
.sec3 .box-effect {
	width: 68.90625%;
	top: 19.5%;
	left: 15.8%;
}
.sec3 .box-wind {
	width: 87.831%;
	height: 0%;
	top: 19.8%;
	left: 17.4%;
	overflow: hidden;
}
.windAn3 {  
	height: 81%!important;
    -webkit-transition: all 3s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 3s ease-in-out; /*Firefox 4 */  
    -o-transition: all 3s ease-in-out; /* Opera */ 
    transition: all 3s ease-in-out;  
}
.sec3 .prod3 {
	width: 19.653%;
	top: 9.8%;
	left: 14%;
}
.sec3 .box-text {
	width: 32.292%;
	top: 60.7%;
}
.sec3 .text3-2 {
	margin-top: 9.2%;
}
.sec4 {
	margin-top: -14.2%;
	padding-bottom: 25.6%;
}
.sec4 .box-title4 {
	top: 13%;
	left: 11.6%;
}
.sec4 .box-effect {
	width: 23.021%;
	top: 10%;
	left: 16.8%;
}
.sec4 .box-wind {
	width: 271.946%;
	height: 0%;
	top: 74%;
	left: 27.8%;
	overflow: hidden;
}
.windAn4 {  
	height: 464%!important;
    -webkit-transition: all 3s ease-in-out; /* Safari和Chrome 
    -moz-transition: all 3s ease-in-out; /*Firefox 4 */  
    -o-transition: all 3s ease-in-out; /* Opera */ 
    transition: all 3s ease-in-out;  */
}
.sec4 .text4 {
	width: 26.146%;
	top: 31.8%;
}
.sec4 .card4-1, .sec4 .card4-2 {
	width: 33.959%;
	top: 66.4%;
}
.sec4 .card4-1 {
	left: 15.1%;
}
.sec4 .card4-2 {
	left: 50.5%;
}
.sec5 .box-title5 {
	width: 88.4%;
	top: 9.9%;
	left: 11.6%;
	color: #364f4b;
}
.sec5 .prod5 {
	width: 53.646%;
	top: 18%;
}
.sec5 .text5-1 {
	width: 28.542%;
	top: 54.9%;
	left: 23.3%;
}
.sec5 .text5-1-2 {
	margin-top: 5.2%;
}
.sec5 .text5-1-3 {
	top: 31%;
}
.sec5 .text5-1-4, .sec5 .text5-1-5 {
	margin-top: 1%;
}
.sec5 .text5-1-6 {
	margin-top: 0.8%;
}
.sec5 .text5-2 {
	width: 20.1042%;
	top: 55.6%;
	right: 24.6%;
}
.sec6 {
	margin-top: -14.2%;
}
.sec6 .box-title6 {
	width: 88.4%;
	top: 13.6%;
	left: 11.6%;
	color: #3e2308;
}
.sec6 .box-title6 h3 {
	text-shadow: 0rem 0rem 3rem #fff;
}
.sec6 .text6 {
	width: 35.209%;
	top: 34.8%;
	left: 15.2%;
}
.component-select {
	margin-top: -2.5%;
}
.sec2 .box-title2,
.sec2 .text2-1,
.sec2 .text2-2,
.sec2 .box-swiper,
.sec3 .box-title3,
.sec3 .box-effect,
.sec3 .text3-1,
.sec3 .text3-2,
.sec4 .box-title4,
.sec4 .text4,
.sec4 .card4-1,
.sec4 .card4-2,
.sec5 .box-title5,
.sec5 .prod5,
.sec5 .text5-1-1,
.sec5 .text5-1-2,
.sec5 .text5-1-3,
.sec5 .text5-1-4,
.sec5 .text5-1-5,
.sec5 .text5-1-6,
.sec5 .text5-2-1,
.sec6 .box-title6,
.sec6 .text6 {
	opacity: 0;
}
