/* 2020/04/29 build */
.box-title h2 {
	letter-spacing: 0.2rem!important;
}
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.5% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 17.93%;
	margin: 0 3.2% 0.4% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.8% 46% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .item-prod .box-3d {
	width: 35%;
	margin-left: 6%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 12.9%;
	left: 11.6%;
	color: #000;
}
.sec2 .box-effect {
	width: 43.7%;
	top: 17.5%;
	left: 0;
}
.sec2 .box-wind {
	height: 0%;
	top: 70%;
	overflow: hidden;
}
.windAn2 {  
	height: 400%!important;
    -webkit-transition: all 3s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 3s ease-in-out; /*Firefox 4 */  
    -o-transition: all 3s ease-in-out; /* Opera */ 
    transition: all 3s ease-in-out;  
}
.sec2 .box-text2-1 {
	top: 29.5%;
	left: 59.1%;
	width: 17.9%;
}
.sec2 .box-text2-2 {
	top: 33.7%;
	left: 59.6%;
	width: 16.87%;
}
.sec2 .text2-3 {
	width: 24.7%;
	top: 43.5%;
	left: 55.8%;
}
.sec2 .text2-3-2 {
	margin-top: 5.2%;
}
.sec2 .text2-3-3 {
	top: 22%;
}
.sec2 .text2-3-4, .sec2 .text2-3-5 {
	margin-top: 1%;
}
.sec2 .text2-3-6 {
	margin-top: 0.8%;
}
.sec2 .text2-4 {
	margin-top: 12.3%;
	margin-left: 15%;
	width: 68%;
}
.sec2 .box-text2-4 {
	top: 72.5%;
	left: 61.5%;
	width: 13.3%;
}
.sec3 {
	margin-top: -17.2%;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 8.8%;
	left: 11.6%;
	color: #FFF;
}
.sec3 .box-text3-1 {
	top: 21%;
	left: 43.3%;
	width: 13.7%;
}
.sec3 .box-text3-2 {
	top: 56.7%;
	left: 31.9%;
	width: 36.2%;
}
.sec3 .box-content3 {
	top: 48.7%;
}
.sec3 .box-content3 .btn-sleepmode-1,
.sec3 .box-content3 .btn-sleepmode-2{
	width: 9.6%;
	margin-left: 45.2%;
	cursor: pointer;
}
.sec3 .box-content3 .hand{
	width: 2.4%;
	left: 53.8%;
	top: 70%;
}
.sec3 .box-cards {
	top: 64%;
}
.sec3 .box-cards img{
	width: 34.5%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	width: 88.4%;
	top: 10%;
	left: 11.6%;
	color: #371e14;
}
.sec4 .box-prod4 {
	width: 11.67%;
	top: 21.7%;
	left: 61.56%;
}
.sec4 .box-text4-1 {
	width: 10.5%;
	top: 36.5%;
	left: 62.5%;
}
.sec4 .box-text4-2 {
	width: 54.1%;
	top: 69.6%;
	left: 27%;
}
.sec2 .box-title2,
.sec2 .box-text2-1,
.sec2 .box-text2-2,
.sec2 .box-text2-3,
.sec2 .text2-3-1,
.sec2 .text2-3-2,
.sec2 .text2-3-3,
.sec2 .text2-3-4,
.sec2 .text2-3-5,
.sec2 .text2-3-6,
.sec2 .text2-4,
.sec2 .box-text2-4,
.sec3 .box-title3,
.sec3 .box-text3-1,
.sec3 .box-text3-2,
.sec3 .box-text3-3,
.sec3 .box-content3,
.sec3 .box-cards,
.sec4 .box-title4,
.sec4 .box-text4-1,
.sec4 .box-text4-2 {
	opacity: 0;
}

.scale{
    animation: scale 1.5s linear 0s infinite;
    -ms-animation: scale 1.5s linear 0s infinite;
    -webkit-animation: scale 1.5s linear 0s infinite;
    -o-animation: scale 1.5s linear 0s infinite;
    -moz-animation: scale 1.5s linear 0s infinite;
}
@keyframes scale{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
@-ms-keyframes scale{
    0%{-ms-transform: scale(1);}
    50%{-ms-transform: scale(1.2);}
    100%{-ms-transform: scale(1);}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.2);}
    100%{-webkit-transform: scale(1);}
}
@-o-keyframes scale{
    0%{-o-transform: scale(1);}
    50%{-o-transform: scale(1.2);}
    100%{-o-transform: scale(1);}
}
@-moz-keyframes scale{
    0%{-moz-transform: scale(1);}
    50%{-moz-transform: scale(1.2);}
    100%{-moz-transform: scale(1);}
}