/* 2020/04/29 build */
.box-title h2 {
	letter-spacing: 0.2rem!important;
}
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.5% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 12.83%;
	margin: 0.3% 3.8% 1.8% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.8% 3.6% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid transparent;
	display: inline-block;
}
.sec1 .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: linear-gradient(#f9f9f9,#c6cacb);
}
.sec1 .color-item2 div {
	background: linear-gradient(#926660,#67281f);
}
.sec1 .item-prod .box-3d {
	width: 35%;
	margin-left: 6%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 10.8%;
	left: 11.6%;
    color: #4f5e65;
    z-index: 1;
}
.sec2 .box-text2-1 {
	top: 67.2%;
	left: 45.5%;
    width: 9.1%;
    z-index: 1;
}
.sec2 .box-text2-2 {
	top: 71.2%;
	left: 29.2%;
	width: 41.6%;
    z-index: 1;
}
.sec2 .box-img {
	top: 4.3%;
	left: 22.9%;
	width: 54.2%;
    z-index: 1;
}
.sec2 .box-swiperimg {
    width: 66.4%;
    top: 19.6%;
    left: 16.9%;
    z-index: 1;
}
.sec2 .box-swiperimg .swiperimg{
    height: 100%;
}
.sec2 .swiper-slide-prev,
.sec2 .swiper-slide-next{
	opacity: 0.3;
}
.sec2 .swiper-button-prev, .sec2 .swiper-button-next {
	width: 3%;
	height: 11.3%;
	top: 45%;
}
.sec2 .swiper-button-prev {
	left: 5%;
	background: url('../../../img/pc/seriesbg/zfj/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec2 .swiper-button-next {
	right: 5%;
	background: url('../../../img/pc/seriesbg/zfj/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec2 .swiper-pagination2{
    bottom: -50%;
    width: 100%;
}
.sec2 .swiper-pagination-bullet {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 1.4rem;
	background: #fff;
	opacity: 1;
}
.sec2 .swiper-pagination-bullet-active {
	background: #5f6d73;
}
.sec3 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 9%;
	left: 11.6%;
}
.sec3 h3 {
	color: #000;
}
.sec3 .box-text {
	top: 40.3%;
}
.sec3 .text3-1 {
	margin-bottom: 5.4%;
}
.sec3 .box-swiper {
	top: 60.3%;
}
.sec3 .swiper-slide img {
	width: 125.625%;
	padding-bottom: 20%;
	margin-left: -12.8125%;
}
.sec3 .swiper-slide-prev,
.sec3 .swiper-slide-next{
	opacity: 0.3;
}
.sec3 .swiper-button-prev, .sec3 .swiper-button-next {
	width: 3%;
	height: 11.3%;
	top: 35%;
}
.sec3 .swiper-button-prev {
	left: 19.8%;
	background: url('../../../img/pc/seriesbg/zfj/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec3 .swiper-button-next {
	right: 19.8%;
	background: url('../../../img/pc/seriesbg/zfj/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec3 .swiper3 .swiper-pagination3 {
	width: 62%;
	height: 0.3rem;
	top: 85%;
	left: 19%;
	background: rgba(181, 181, 181, 0.3)
}
.sec3 .swiper3 .swiper-pagination-progressbar {
	background: #77a3a3;
}
.sec4 {
}
.sec4 .box-title4 {
	width: 88.4%;
	top: 14%;
	left: 11.6%;
	color: #000;
}
.sec4 .box-text4-1 {
	width: 21.7%;
	top: 29.7%;
	left: 20%;
}
.sec4 .box-text4-2 {
	width: 26.9%;
	top: 44.9%;
	left: 20.7%;
}
.sec4 .box-prod {
	width: 35.3%;
	top: 24.9%;
	left: 47.7%;
}
.sec4 .box-card {
	width: 47.6%;
	top: 57.7%;
	left: 26.2%;
}
.sec2 .box-title2,
.sec2 .box-text2-1,
.sec2 .box-text2-2,
.sec3 .box-title3,
.sec3 .text3-1,
.sec3 .text3-2,
.sec3 .box-swiper,
.sec4 .box-title4,
.sec4 .box-text4-1,
.sec4 .box-text4-2,
.sec4 .box-prod,
.sec4 .box-card {
	opacity: 0;
}
