/* 2020/04/24 build */
/* 2020/05/19 build */
/* 2020/06/16 build */
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.2% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 12.83%;
	margin: 0.4% 3.6% 2% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.4% 3.6% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	border: 0.01rem solid transparent;
	display: inline-block;
}
.sec1 .item-prod .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .color-item2 div {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#898b8e, endColorStr=#6d6f72); /*IE 6 7 8*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#898b8e), to(#6d6f72));  /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(#898b8e, #6d6f72); /*Safari5.1 Chrome 10+*/
	background:-moz-linear-gradient(#898b8e, #6d6f72); /*火狐*/
	background: -ms-linear-gradient(#898b8e, #6d6f72); /* IE 10 */
	background: -o-linear-gradient(#898b8e, #6d6f72); /*Opera 11.10+*/
    background: linear-gradient(#898b8e, #6d6f72);
}
.sec1 .item-prod .box-3d {
	width: 35%;
	margin-left: 6%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 10.7%;
	left: 11.6%;
}
.sec2 .content2 {
	width: 50%;
	top: 18.8%;
}
.sec2 .text2-1 {
	margin-top: 6.4%;
}
.sec2 .text2-2 {
	margin-top: 4%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 7.8%;
	left: 11.6%;
	color: #5d0d00;
}
.sec3 .content3 {
	width: 71.042%;
	top: 17.8%;
}
.sec3 .text3-1 {
	margin-top: 4.6%;
}
.sec3 .text3-2 {
	margin-top: 3.6%;
}
.sec3 .text3-3 {
	margin-top: 4.7%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	width: 88.4%;
	top: 8.6%;
	left: 11.6%;
}
.sec4 .box-text {
	top: 38.6%;
}
.sec4 .text4-1 {
	margin-bottom: 4.2%;
}
.sec4 .box-swiper {
	top: 57.2%;
}
.sec4 .swiper4 {
	padding-bottom: 4.2%;
}
.sec4 .swiper-slide img {
	width: 125.418%;
	margin-left: -12.709%;
}
.sec4 .swiper-button-prev, .sec4 .swiper-button-next {
	width: 3%;
	height: 13.6%;
	top: 40%;
}
.sec4 .swiper-button-prev {
	left: 19.8%;
	background: url('../../../img/pc/seriesbg/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec4 .swiper-button-next {
	right: 19.8%;
	background: url('../../../img/pc/seriesbg/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec4 .swiper4 .swiper-pagination {
	width: 61.6%;
	height: 0.3rem;
	top: 98%;
	left: 19.2%;
	background: rgba(181, 181, 181, 0.3);
}
.sec4 .swiper4 .swiper-pagination-progressbar {
	background: #7c91cc;
}
.sec5 {
	padding-bottom: 26.4%;
}
.sec5 .box-title5 {
	width: 88.4%;
	top: 4.9%;
	left: 11.6%;
	z-index: 1;
}
.sec5 .box-text {
	width: 41.667%;
	top: 25.1%;
	left: 28%;
	z-index: 1;
}
.sec5 .text5-2 {
	margin-top: 4.8%;
}
.sec5 .swiper-button-prev, .sec5 .swiper-button-next {
	width: 3.8%;
	height: 7%;
	top: 48.2%;
}
.sec5 .swiper-button-prev {
	left: 19.2%;
	background: url('../../../img/pc/seriesbg/arrows-black.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec5 .swiper-button-next {
	right: 19.2%;
	background: url('../../../img/pc/seriesbg/arrows-black.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec5 .swiper5 .swiper-pagination {
	bottom: 15.2%;
}
.sec5 .swiper5 .swiper-pagination-bullet {
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 1.2rem;
	background: #fff;
	opacity: 1;
}
.sec5 .swiper5 .swiper-pagination-bullet-active {
	background: #565656;
}
.sec5 .card5-1, .sec5 .card5-2 {
	width: 31.5625%;
	top: 68.7%;
	z-index: 1;
}
.sec5 .card5-1 {
	left: 17.6%;
}
.sec5 .card5-2 {
	left: 50.8%;
}
.sec6 {
	margin-top: 0.4%;
}
.sec6 .box-title6 {
	width: 88.4%;
	top: 10.7%;
	left: 11.6%;
	color: #1a4f3e;
}
.sec6 .prod6 {
	width: 43.75%;
	top: 18.5%;
}
.sec6 .text6-1, .sec6 .text6-2 {
	width: 30%;
	top: 57.9%;
}
.sec6 .text6-1 {
	left: 25.5%;
}
.sec6 .text6-2 {
	left: 56.9%;
}
.sec6 .text6-1-2, .sec6 .text6-2-2 {
	margin-top: 5%;
}
.component-select {
	margin-top: -7.1%;
}
.sec2 .box-title2, 
.sec2 .prod2,
.sec2 .text2-1,
.sec2 .text2-2,
.sec3 .box-title3,
.sec3 .prod3,
.sec3 .text3-1,
.sec3 .text3-2,
.sec3 .text3-3,
.sec4 .box-title4,
.sec4 .text4-1,
.sec4 .text4-2,
.sec4 .box-swiper,
.sec5 .box-title5,
.sec5 .text5-1,
.sec5 .text5-2,
.sec5 .card5-1,
.sec5 .card5-2,
.sec6 .box-title6,
.sec6 .prod6,
.sec6 .text6-1-1,
.sec6 .text6-1-2,
.sec6 .text6-2-1,
.sec6 .text6-2-2 {
	opacity: 0;
}
