/* 2020/04/29 build */
.box-title h2 {
	letter-spacing: 0.2rem!important;
}
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 8.3% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 35%;
	margin-left: 1.1%;
	padding-top: 0.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 13.4%;
	margin-right: 1.8%;
}
.sec1 .item-info .box-download {
	width: 59.674%;
	margin: 5.5% 0 0 -1%;
}
.sec1 .item-prod {
	width: 31.667%;
	margin-left: 0.8%;
}
.sec1 .item-prod .level1 {
	width: 12.83%;
	margin: 0.3% 3.8% 1.8% 0;
}
.sec1 .item-prod .box-option {
	margin: 3.8% 3.6% 0 0;
}
.sec1 .item-prod .option-item {
	display: inline-block;
}
.sec1 .item-prod .box-colors {
	margin-top: 1.6%;
	vertical-align: top;
}
.sec1 .item-prod .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	border: 0.01rem solid transparent;
	display: inline-block;
}
.sec1 .item-prod .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #FFF;
}
.sec1 .color-item2 div {
	background: #a9a39d;
}
.sec1 .item-prod .box-3d {
	width: 35%;
	margin-left: 6%;
}
.sec1 .item-prod .box-3d img {
	width: 27.3%;
}
.sec1 .item-prod .box-3d .btn-180 {
	margin-left: 7.4%;
}
.sec2 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 6.6%;
	left: 11.6%;
}
.sec2 h3 {
	color: #2a496b;
}
.sec2 .box-img {
    width: 6.4%;
    top: 13.4%;
    left: 29.2%;
}
.sec2 .box-text {
	top: 21.4%;
	margin-left: 18.6%;
	width: 28.1%;
}
.sec2 .text2-1 {
    width: 100%;
    margin-bottom: 4.3%;
    display: block;
}
.sec2 .text2-2 {
    width: 100%;
    display: block;
    margin-bottom: 17.2%;
}
.sec2 .qr2 {
    width: 100%;
    display: block;
}
.sec2 .box-swiper {
	top: 49.2%;
}
.sec2 .swiper-slide img {
	width: 125.625%;
	padding-bottom: 20%;
	margin-left: -12.8125%;
}
.sec2 .swiper-slide-prev,
.sec2 .swiper-slide-next{
	opacity: 0.3;
}
.sec2 .swiper-button-prev, .sec2 .swiper-button-next {
	width: 3%;
	height: 11.3%;
	top: 35%;
}
.sec2 .swiper-button-prev {
	left: 19.8%;
	background: url('../../../img/pc/seriesbg/zt/arrows-blue.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec2 .swiper-button-next {
	right: 19.8%;
	background: url('../../../img/pc/seriesbg/zt/arrows-blue.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec2 .swiper2 .swiper-pagination2 {
	width: 62%;
	height: 0.3rem;
	top: 85%;
	left: 19%;
	background: rgba(181, 181, 181, 0.3)
}
.sec2 .swiper2 .swiper-pagination-progressbar {
	background: #47627f;
}
.sec3 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 7.6%;
	left: 11.6%;
}
.sec3 h3 {
	color: #000;
}
.sec3 .box-text {
	top: 33.9%;
}
.sec3 .text3-1 {
	margin-bottom: 3.9%;
}
.sec3 .box-swiper {
	top: 50.5%;
}
.sec3 .swiper-slide img {
	width: 125.625%;
	padding-bottom: 20%;
	margin-left: -12.8125%;
}
.sec3 .swiper-slide-prev,
.sec3 .swiper-slide-next{
	opacity: 0.3;
}
.sec3 .swiper-button-prev, .sec3 .swiper-button-next {
	width: 3%;
	height: 11.3%;
	top: 35%;
}
.sec3 .swiper-button-prev {
	left: 19.8%;
	background: url('../../../img/pc/seriesbg/zt/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec3 .swiper-button-next {
	right: 19.8%;
	background: url('../../../img/pc/seriesbg/zt/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec3 .swiper3 .swiper-pagination3 {
	width: 62%;
	height: 0.3rem;
	top: 85%;
	left: 19%;
	background: rgba(181, 181, 181, 0.3)
}
.sec3 .swiper3 .swiper-pagination-progressbar {
	background: #89a8c7;
}
.sec4 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec4 .box-title4 {
	width: 88.4%;
	top: 10.3%;
	left: 11.6%;
}
.sec4 h3 {
	color: #413223;
}
.sec4 .box-effect {
	width: 58.49%;
	top: 20.7%;
	left: 29.3%;
}
.sec4 .box-wind {
	height: 0%;
	top: 72%;
	overflow: hidden;
}
.windAn4 {  
	height: 400%!important;
    -webkit-transition: all 4s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 4s ease-in-out; /*Firefox 4 */  
    -o-transition: all 4s ease-in-out; /* Opera */ 
    transition: all 4s ease-in-out;  
}
.sec4 .box-text {
	width: 29.4%;
	top: 53.3%;
	margin-left: 35.3%;
}
.sec4 .text4-1 {
    display: block;
}
.sec4 .text4-2 {
    display: none;
}
.sec4 .box-swiper {
	top: 61.1%;
}
.sec4 .swiper-slide img {
	width: 125.625%;
	padding-bottom: 20%;
	margin-left: -12.8125%;
}
.sec4 .swiper-slide-prev,
.sec4 .swiper-slide-next{
	opacity: 0.3;
}
.sec4 .swiper-button-prev, .sec4 .swiper-button-next {
	width: 3%;
	height: 11.3%;
	top: 35%;
}
.sec4 .swiper-button-prev {
	left: 19.8%;
	background: url('../../../img/pc/seriesbg/zt/arrows-brown.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec4 .swiper-button-next {
	right: 19.8%;
	background: url('../../../img/pc/seriesbg/zt/arrows-brown.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec4 .swiper4 .swiper-pagination4 {
	width: 62%;
	height: 0.3rem;
	top: 83%;
	left: 19%;
	background: rgba(181, 181, 181, 0.3)
}
.sec4 .swiper4 .swiper-pagination-progressbar {
	background: #625447;
}
.sec5 {
	margin-top: -14.2%;
}
.sec5 .box-title5 {
	width: 88.4%;
	top: 8.7%;
	left: 11.6%;
	color: #000;
}
.sec5 .box-subtitle5 {
	width: 13.2%;
	top: 32.3%;
	left: 43.5%;
}
.sec5 .text5-1 {
	width: 28.542%;
	top: 64.1%;
	left: 21.1%;
}
.sec5 .text5-1-2 {
	margin-top: 5.2%;
}
.sec5 .text5-1-3 {
	top: 31%;
}
.sec5 .text5-1-4, .sec5 .text5-1-5 {
	margin-top: 1%;
}
.sec5 .text5-1-6 {
	margin-top: 0.8%;
}
.sec5 .text5-2 {
	width: 20.1042%;
	top: 64.8%;
	right: 21.7%;
}
.sec5 .text5-2-2 {
	margin-top: 6.8%;
}
.sec6 {
	margin-top: -14.2%;
}
.sec6 .box-title6 {
	width: 88.4%;
	top: 13.6%;
	left: 11.6%;
	color: #3e2308;
}
.sec6 .box-title6 h3 {
	text-shadow: 0rem 0rem 3rem #fff;
}
.sec6 .text6 {
	width: 35.209%;
	top: 34.8%;
	left: 15.2%;
}
.sec2 .box-title2,
.sec2 .text2-1,
.sec2 .text2-2,
.sec2 .qr2,
.sec2 .box-swiper,
.sec3 .box-title3,
.sec3 .text3-1,
.sec3 .text3-2,
.sec3 .box-swiper,
.sec4 .box-title4,
.sec4 .box-text,
.sec4 .box-swiper,
.sec5 .box-title5,
.sec5 .box-subtitle5,
.sec5 .text5-1-1,
.sec5 .text5-1-2,
.sec5 .text5-1-3,
.sec5 .text5-1-4,
.sec5 .text5-1-5,
.sec5 .text5-1-6,
.sec5 .text5-2-1,
.sec5 .text5-2-2,
.sec6 .box-title6,
.sec6 .text6 {
	opacity: 0;
}
