/* 2020/03/10 build */
/* 2020/05/15 update */
/* 2020/06/15 update */
.wrapper {
	min-width: 1200px!important;
}
.box-title {
	width: 88.4%;
	left: 11.6%;
}
.box-title h2 {
	margin-left: 5.8%;
}
.sec1 {
	margin-top: -14.2%;
}
.sec1 .box-title {
	top: 13%;
}
.sec1 .slash-m {
	margin-bottom: 6.5%;
}
.sec1 .subtitle {
	margin-left: 6%;
}
.sec1 .btn-more-m {
	width: 15.437%;
	margin: 3.2% 0 0 6.2%;
}
.sec1 .swiper-button-prev, .sec1 .swiper-button-next {
	width: 4%;
	height: 9%;
	top: 49.2%;
}
.sec1 .swiper-button-prev {
	left: 8.4%;
	background: url('../../img/pc/about/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec1 .swiper-button-next {
	right: 8.4%;
	background: url('../../img/pc/about/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec1 .swiper-pagination {
	bottom: 18.2%;
}
.sec1 .swiper-pagination .swiper-pagination-bullet {
	width: 0.78125%;
	/* height: 1.5rem; */
	margin: 0 1.6rem!important;
	background: #fff;
	opacity: 0.5;
}
.sec1 .swiper-pagination .swiper-pagination-bullet-active {
	background: #fff;
	opacity: 1;
}
.sec2 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec2 .box-title2 {
	top: 12.4%;
}
.sec2 .slash2 {
	margin-bottom: 1.6%;
}
.sec2 .box-year {
	height: 48%;
	top: 30%;
	left: 10.4%;
}
.sec2 .year-item:first-child {
	border-left: 0.1rem solid rgba(0, 0, 0, 0.5);
}
.sec2 .year-item {
	padding: 1.6rem 2.2rem 0 2.2rem;
	border-right: 0.1rem solid rgba(0, 0, 0, 0.5);
	display: inline-block;
}
.sec2 .year-content {
	width: 5rem;
	overflow: hidden;
}
.sec2 .year {
	font-size: 2.2rem;
	line-height: 2.2rem;
	white-space: nowrap;
}
.sec2 .year-event {
	width: 45.6rem;
	margin-top: 2rem;
	font-size: 1.4rem;
	line-height: 2.52rem;
	opacity: 0;
}
.sec2 .btn-slide {
	top: 84%;
	left: 0.9rem;
	padding: 2.6rem;
}
.sec2 .btn-slide .divider {
	background: #000;
} 
.sec2 .btn-slide .divider1 {
	width: 2.6rem;
	height: 0.1rem;
}
.sec2 .btn-slide .divider2 {
	width: 0.1rem;
	height: 2.6rem;
	top: 25%;
	left: 50%;
}
.sec2 .tip-no, .sec2 .tip-error, .sec2 .modal-loading {
	top: 30%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	top: 13.6%;
}
.sec3 .slash3 {
	margin-bottom: 4%;
}
.sec3 .subtitle3 {
	padding-left: 5.8%;
}
.sec3 .btn-more-m {
	width: 15.437%;
	margin: 4.8% 0 0 6.2%;
}
.sec1 .box-title,
.sec1 .swiper-pagination,
.sec2 .box-title2,
.sec2 .box-year,
.sec3 .box-title3 {
	opacity: 0;
}
