/* 2020/03/17 build */
/* 2020/05/21 update */
/* 2020/06/15 update */
.sec0 .btn-play {
	width: 16.303%;
	top: 45.5%;
	left: 17.8%;
}
.sec0 .swiper-button-prev, .sec0 .swiper-button-next {
	width: 3%;
	height: 11.6%;
	top: 40%;
}
.sec0 .swiper-button-prev {
	left: 4.6%;
	background: url('../../img/pc/home/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec0 .swiper-button-next {
	right: 4.6%;
	background: url('../../img/pc/home/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.box-title {
	left: 10.4%;
}
.sec1 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec1 .box-title1 {
	top: 12.6%;
}
.sec1 .box-other {
	top: 40.1%;
}
.sec1 .other-item {
	width: 38.6%;
	display: inline-block;
}
.sec1 .other-item:first-child {
	margin-right: 2%;
}
.sec1 .other-item .btn-more-s {
	width: 32.6%;
	bottom: 8%;
	right: 6.8%;
}
.sec1 .box-zykt {
	margin-top: 4%;
}
.sec1 .box-zykt img {
	width: 23.959%;
}
.sec2 {
	margin-top: -14%;
	z-index: 1;
}
.sec2 .box-title2 {
	top: 7.3%;
}
.sec2 .box-player {
	width: 79.271%;
	top: 19.2%;
}
.sec2 .btn-player {
	width: 8.016%;
	top: 41.6%;
}
.sec2 .box-title2-2 {
	top: 70%;
}
.sec2 .btn-more-l {
	width: 24%;
	top: 82%;
	left: 10.4%;
}
.sec3 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec3 .box-title3 {
	top: 11.4%;
}
.sec3 .btn-more-l {
	width: 24%;
	top: 78.6%;
	left: 38%;
}
.sec4 {
	margin-top: -14%;
	z-index: 1;
}
.sec4 .box-title4 {
	top: 12.4%;
}
.sec4 .box-text {
	width: 30%;
	top: 26.5%;
	left: 10.4%;
}
.sec4 .text4 {
	margin-top: 10%;
}
.sec4 .btn-more-l {
	width: 24%;
	top: 76.5%;
	left: 38%;
}
.sec1 .box-title1, 
.sec1 .box-other, 
.sec1 .box-zykt, 
.sec2 .box-title2, 
.sec2 .box-player,
.sec2 .box-title2-2, 
.sec2 .btn-more-l,
.sec3 .box-title3, 
.sec3 .btn-more-l, 
.sec4 .box-title4,
.sec4 .box-text,
.sec4 .btn-more-l {
	opacity: 0;
}
