/* 2020/03/07 build */
/* 2020/05/21 update */
/* 2020/06/30 update */
.sec1, .sec3, .sec4, .sec5 {
	margin-top: -14%;
}
.sec1 .box-title1, .sec1 .box-title1-2, .sec2 .box-title2, .sec3 .box-title3, .sec4 .box-title4, .sec4 .subtitle4 {
	left: 10.4%;
}
.sec1 .box-title1 {
	top: 17%;
}
.sec1 .divider {
	width: 24.4%;
	height: 0.2rem;
	top: 56.5%;
	left: 37.8%;
	background: #d8e3e7;
}
.sec1 .box-title1-2 {
	top: 60.2%;
}
.sec1 .content1 {
	top: 72%;
}
.sec1 .content1 img {
	width: 18.605%;
	margin: 0 0.76%;
}
.sec2 .box-title2 {
	top: 14.2%;
}
.sec3 .box-title3 {
	top: 14.2%;
}
.sec4 .box-title4 {
	top: 14%;
}
.sec4 .subtitle4 {
	width: 30%;
	top: 30.5%;
}
.sec5 .box-title5 {
	top: 23.8%;
	right: 16%;
}
.sec1 .box-title1,
.sec1 .divider,
.sec1 .box-title1-2,
.sec1 .content1,
.sec2 .box-title2,
.sec3 .box-title3,
.sec4 .box-title4,
.sec4 .subtitle4,
.sec5 .box-title5 {
	opacity: 0;
}
