/* 2020/03/07 build */
/* 2020/04/27 update */
/* 2020/06/15 update */
.sec0 .box-title0 {
	top: 35.5%;
}
.sec0 .content0 {
	width: 79.167%;
	top: 46.5%;
}
.sec0 .btn-player {
	width: 8.027%;
	top: 41.4%;
}
.sec0 .conts {
	margin-top: 7.2%;
}
.box-title {
	left: 10.4%;
}
.sec1 .box-title1 {
	top: 10.1%;
}
.sec1 .content1 {
	top: 25.2%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 13.2%;
}
.sec2 .content2 {
	top: 36%;
}
.sec2 .btn-check {
	width: 15.8%;
	top: 79.2%;
}
.sec2 .btn-check1 {
	left: 14.8%;
}
.sec2 .btn-check2 {
	left: 42.2%;
}
.sec2 .btn-check3 {
	left: 69.4%;
}
.modal .content {
	width: 72%;
	margin-top: 6%;
}
.modal .btn-close {
	width: 8.75%;
	top: -15%;
	right: -9%;
}
.box-link .link-meq {
	float: right!important;
}
.box-link .link-moveeye, .box-link .link-brand {
	display: none!important;
}
.sec0 .box-title0,
.sec0 .box-player,
.sec0 .conts,
.sec1 .box-title1,
.sec1 .content1 img,
.sec2 .box-title2,
.sec2 .content2 {
	opacity: 0;
}
