/* 2020/03/16 build */
/* 2020/05/29 update */
/* 2020/06/15 update */
.box-title h2 {
	margin-left: 5.8%;
}
.sec1 {
	margin-top: -14.2%;
}
.sec1 .box-title1 {
	top: 13.4%;
	left: 11.6%;
}
.sec1 .content1 {
	top: 25.8%;
}
.sec1 .content1  div.rel {
	width: 31.98%;
	margin: 0 1.3%;
	display: inline-block;
}
.sec1 .content1 .btn-more {
	width: 36.482%;
	top: 47%;
}
.sec1 .content > div.shadow {
	-webkit-box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
	-moz-box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
	box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
}
.sec2 {
	margin-top: -6%;
}
.sec2 .box-title2 {
	margin-left: 11.6%;
}
.sec2 .slash-m {
	margin-bottom: 2.7%;
}
.sec2 .content-select {
	margin-top: 1.8%;
}
.sec2 .select-item, .sec2 .select-item-prod > div {
	display: inline-block;
}
.sec2 .select-item-prod {
	width: 45%;
	margin-right: 1%;
}
.sec2 .select-item-prod > div {
	width: 44.792%;
}
.sec2 .select-item-prod > div:first-child {
	margin-right: 6%;
}
.sec2 .select-item-area {
	width: 20.15625%;
}
.sec2 .select-item .area-cold {
	margin-bottom: 7.4%;
}
.sec2 .line {
	height: 0.4rem;
	background: #c00000;
	opacity: 0;
}
.sec2 .box-area {
	width: 66.2%;
	margin-top: 3%;
}
.sec2 .box-area select {
	padding: 1.8% 0;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-indent: 45%;
	background: #efefef;
}
.sec2 .box-select img {
	opacity: 0.5;
}
.sec2 .active img, .sec2 .active select {
	opacity: 1;
}
.sec2 .active .line {
	opacity: 1;
}
.sec2 .btn-submit {
	width: 13%;
	margin-top: 3.4%;
	padding: 0.8% 0;
	font-size: 1.5rem;
	line-height: 1.5rem;
	background: #494949;
}
.sec1 .box-title1,
.sec1 .content1,
.sec2 .box-title2,
.sec2 .box-select,
.sec2 .box-area,
.sec2 .btn-submit {
	opacity: 0;
}
