/* 2020/06/18 build */
/* 2020/07/01 update */
.sec1 {
	margin-top: -14.2%;
}
.sec1 .box-title1 {
	top: 11.8%;
	left: 11.6%;
}
.sec1 .content1 {
	top: 22.8%;
}
.sec1 .content1  div.rel {
	width: 25.261%;
	margin: 0 0.84%;
	display: inline-block;
}
.sec1 .content1 .btn-more {
	width: 46.186%;
	top: 49.4%;
}
.sec1 .content1 div.rel.shadow {
	-webkit-box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
	-moz-box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
	box-shadow: 0 0 26px rgba(124, 130, 139, 0.5);
}
.sec1 .box-title1,
.sec1 .content1 {
	opacity: 0;
}
