/* 2020/04/16 build */
/* 2020/05/29 update */
.sec1 {
	margin-top: 1%;
}
.sec1 .content1 {
	width: 71.146%;
}
.sec1 a {
	color: #000;
}
.sec1 a:link {
	color: #000;
}
.sec1 a:visited {
	color: #000;
}
.sec1 a:hover {
	color: #000;
}
.sec1 a:active {
	color: #000;
}
.sec1 .prod-item {
	width: 47.878%;
	background: #f7f7f7;
	margin: 1%;
	vertical-align: top;
	display: inline-block;
}
.sec1 .prod-item.shadow {
	-webkit-box-shadow: 0 0 16px rgba(141, 141, 141, 0.36);
	-moz-box-shadow: 0 0 16px rgba(141, 141, 141, 0.36);
	box-shadow: 0 0 16px rgba(141, 141, 141, 0.36);
}
.sec1 .prod-name {
	font-size: 2rem;
	line-height: 3rem;
	padding: 11% 0 13%;
}
.sec1 .modal-loading {
    top: 10%;
}
.sec1 .content1 {
	opacity: 0;
}
