/* 2020/04/16 build */
.sec1 {
	margin-top: 1%;
}
.sec1 .content1 {
	width: 79.2%;
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
}
.sec1 .content1 aside {
	width: 15rem;
	display: inline-block;
}
.sec1 .content1 .box-prod {
	-webkit-flex: 1;   /* Chrome */  
    -ms-flex: 1;       /* IE 10 */  
    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
}
.sec1 aside .box-btns {
	margin-bottom: 4.4rem;
}
.sec1 aside .box-btns .btn {
	width: 48%;
	font-size: 1.9rem;
	line-height: 1.9rem;
	background: transparent;
	display: inline-block;
}
.sec1 aside .icon-screen {
	width: 1.8rem;
	height: 1.8rem;
	margin-right: 0.6rem;
	vertical-align: bottom;
	background: url('../../img/pc/prod/icon-screen.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.sec1 aside .btn-reset {
	color: #c00000;
	/*text-indent: 0.8rem;*/
}
.sec1 aside ul {
	padding-right: 2.6rem;
}
.sec1 aside ul li {
	padding: 1.4rem 0;
	border-bottom: 0.2rem solid #dcdcdc;
}
.sec1 aside ul li:first-child {
	border-top: 0.2rem solid #dcdcdc;
}
.sec1 aside .title span {
	font-size: 1.78rem;
	line-height: 1.78rem;
}
.sec1 .icon-plus {
	padding: 0.8rem 0;
}
.sec1 .icon-plus .divider {
	background: #bbb;
}
.sec1 .icon-plus .divider1 {
	width: 1.6rem;
	height: 0.2rem;
	margin-top: -0.1rem;
}
.sec1 .icon-plus .divider2 {
	width: 0.2rem;
	height: 1.6rem;
	left: 0.78rem;
}
.sec1 .box-select .select-item {
	font-size: 1.54rem;
	line-height: 1.54rem;
	margin: 1.8rem 0;
}
.sec1 aside input[type=checkbox] {
    visibility: hidden;
}
.sec1 aside input[type=checkbox] +label {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    right: 0.1rem;
    border: 0.1rem solid #b5b5b5;
}
.sec1 aside input[type=checkbox]:checked +label {
	border: 0.1rem solid #c00000;
}
.sec1 aside input[type=checkbox]:checked +label::before {
    display: block;
    height: 100%;
    content: "";
    background: #c00000;
}
.sec1 .box-prod a {
	color: #000;
}
.sec1 .box-prod a:link {
	color: #000;
}
.sec1 .box-prod a:visited {
	color: #000;
}
.sec1 .box-prod a:hover {
	color: #000;
}
.sec1 .box-prod a:active {
	color: #000;
}
.sec1 .box-prod .prod-item {
	width: 47.714%;
	background: #f7f7f7;
	margin: 0 0 2.2% 2.2%;
	vertical-align: top;
	display: inline-block;
}
.sec1 .box-prod .prod-item.shadow {
	-webkit-box-shadow: 0 0 16px rgba(141, 141, 141, 0.36);
	-moz-box-shadow: 0 0 16px rgba(141, 141, 141, 0.36);
	box-shadow: 0 0 16px rgba(141, 141, 141, 0.36);
}
.sec1 .box-prod .prod-name {
	font-size: 2rem;
	line-height: 3rem;
	padding: 0% 0 13%;
}
.sec1 .pagin {
	margin-left: 1.5%;
}
.sec1 .modal-loading {
    top: 10%;
}
/*.sec1 aside,
.sec1 .content1 {
	opacity: 0;
}*/