/* 2020/06/18 build */
.sec1 {
	margin-top: -14.2%;
	padding-top: 7.5%;
	background: #f4f4f4;
}
.sec1 .box-title1 {
	margin-left: 11.6%;
}
.sec1 h2, .sec1 .divider {
	margin-left: 4.2%;
}
.sec1 .divider {
	width: 30%;
	height: 0.1rem;
	margin-top: 4%;
	background: #c3c3c3;
}
.sec1 .box-result {
	width: 68%;
	padding: 5.2% 0;
}
.sec1 .res-item {
	padding: 4%;
	margin-bottom: 2%;
}
.sec1 .res-title {
	line-height: 2.7rem;
}
.sec1 .title, .sec1 .data {
	display: inline-block;
}
.sec1 .title {
	width: 80%;
	font-size: 1.8rem; 
}
.sec1 .date {
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.6);
}
.sec1 .res-content {
	font-size: 1.4rem;
	line-height: 2.52rem;
	margin-top: 2%;
}
.modal-loading {
	top: 20%;
}
/* .sec1 .box-title1,
.sec1 .box-result {
	opacity: 0;
} */
