/* 2020/05/08 build */
.sec0 .box-search {
	width: 67%;
	height: 5.2rem;
	top: 30.6%;
}
.sec0 input {
	text-indent: 3rem;
	font-size: 1.8rem;
	line-height: 5.2rem;
}
.sec1 {
	margin-top: -14.2%;
	padding-top: 7.5%;
	background: #f4f4f4;
}
.sec1 .box-title1 {
	margin-left: 11.6%;
}
.sec1 h2, .sec1 .divider {
	margin-left: 4.2%;
}
.sec1 .divider {
	width: 30%;
	height: 0.1rem;
	background: #c3c3c3;
}
.sec1 .box-result {
	width: 68%;
	padding: 5.2% 0;
}
.sec1 .res-item {
	padding: 4%;
	margin-bottom: 2%;
}
.sec1 .res-title {
	line-height: 2.7rem;
}
.sec1 .title {
	font-size: 1.8rem; 
}
.sec1 .box-result a:link {
	color: rgba(0, 0, 0, 0.5);
}
.sec1 .box-result a:visited {
	color: rgba(0, 0, 0, 0.5);
}
.sec1 .box-result a:hover {
	color: rgba(0, 0, 0, 1);
}
.sec1 .box-result a:active {
	color: rgba(0, 0, 0, 0.5);
}
.modal-loading {
	top: 20%;
}
/* .sec1 .box-title1 {
	opacity: 0;
} */
