/* 2020/03/07 build */
/* 2020/04/27 update */
/* 2020/06/16 update */
.box-title {
	left: 10.4%;
}
.sec0 {
	z-index: 1;
}
.sec1 {
	margin-top: -32.2%;
}
.sec1 .box-title1 {
	top: 12%;
}
.sec1 .content1 {
	width: 79.167%;
	top: 31.5%;
}
.sec2 {
	margin-top: -14.2%;
	overflow: hidden;
}
.sec2 .box-title2 {
	top: 11.3%;
}
.sec2 .box-swiper {
	width: 79.167%;
	top: 29.2%;
	left: 10.4165%;
}
.sec2 .swiper2 {
	overflow: visible;
}
.sec2 .swiper2 .swiper-slide img {
	width: 100.144%;
	margin-left: 0.072%;
}
.sec2 .swiper2 .swiper-button-prev, .sec2 .swiper2 .swiper-button-next {
	width: 3%;
	height: 11.6%;
	top: 27%;
}
.sec2 .swiper2 .swiper-button-prev {
	left: -10%;
	background: url('../../img/pc/home/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec2 .swiper2 .swiper-button-next {
	right: -10%;
	background: url('../../img/pc/home/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec2 .swiper2 .swiper-pagination {
	height: 0.4rem;
	top: 99%;
	background: #fff;
}
.sec2 .swiper2 .swiper-pagination-progressbar {
	background: #ff0000;
}
.sec1 .box-title1,
.sec1 .content1,
.sec2 .box-title2,
.sec2 .box-swiper {
	opacity: 0;
}
