/* 2020/03/12 build */
/* 2020/05/08 update */
.sec0 {
	z-index: 1;
}
.box-title {
	width: 88.4%;
	left: 11.6%;
}
.box-title h2, .box-title .subtitle {
	margin-left: 5.8%;
}
.sec1 {
	margin-top: -14.2%;
}
.sec1 .box-title1 {
	top: 12.7%;
}
.sec1 .box-form {
	width: 26.4%;
	height: 52%;
	top: 28%;
	left: 16.8%;
}
.sec1 .box-form form {
	height: 3.6rem;
}
.sec1 select {
	width: 45.4%;
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-indent: 6%;
	background: #ececec;
}
.sec1 select.province {
	margin-right: 4%;
}
.sec1 .btn-pos {
	display: inline-block;
	width: 4.1rem;
	vertical-align: bottom;
	background: url('../../img/pc/support/icon-pos.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.sec1 .box-result {
	max-height: 64.32%;
	margin-top: 12.8%;
	padding-right: 5%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.box-result::-webkit-scrollbar {
	width: 0.3rem;
	background-color: #d1d1d1;
}
.box-result::-webkit-scrollbar-thumb {
	background-color: #313131;
}
.sec1 .box-result li {
	padding: 0 5%;
	border-bottom: 1px solid #ccc;
}
.sec1 .box-result li:first-child {
	border-top: 1px solid #ccc;
}
.sec1 .res-title {
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 0.8rem 0;
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
}
.sec1 .res-title div {
	-webkit-flex: 1;   /* Chrome */  
    -ms-flex: 1;     /* IE 10 */  
    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
}
.sec2 .icon-loc {
	display: inline-block;
	width: 1.6rem;
	height: 2.4rem;
	margin-top: -1%;
	margin-right: 3%;
	vertical-align: top;
	background: url('../../img/pc/support/icon-loc.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.sec2 .res-name div {
	display: inline-block;
	-webkit-flex: 1;   /* Chrome */  
    -ms-flex: 1;     /* IE 10 */  
    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;    /* OLD - Firefox 19- */
}
.sec1 .icon-loc {
	display: inline-block;
	width: 1rem;
	height: 1.4rem;
	margin-top: 0.3rem;
	margin-right: 0.6rem;
	vertical-align: top;
	background: url('../../img/pc/support/icon-loc.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.sec1 .res-city {
	color: rgba(0, 0, 0, 0.5);
	font-size: 1rem;
	line-height: 1rem;
}
.sec1 .res-address {
	padding: 0.6rem 0 0.8rem;
	font-size: 1.2rem;
	line-height: 1.6rem;
}
.sec1 .box-result .btn-pos {
	width: 4rem;
	height: 4rem;
	top: 30%;
	background: url('../../img/pc/support/icon-pos.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.sec1 .tip-no {
	margin-top: 10%;
}
.sec1 .map-box {
	width: 54.2%;
}
.sec1 .BMap_stdMpCtrl {
	top: 24%!important;
}
.sec2 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec2 .box-title2 {
	top: 18%;
}
.sec2 .content2 {
	width: 72.709%;
	top: 48.8%;
	left: 16.8%;
}
.sec2 .content2 .text {
	margin-top: 4.3%;
}
.sec2 .box-form {
	width: 74.5%;
	padding: 0 8.7% 4% 16.8%;
	background: #e5e5e5;
}
.sec2 .box-form form {
	height: 3.6rem;
}
.sec2 select {
	width: 18%;
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-indent: 8%;
	background: #f2f2f2;
}
.sec2 select.province, .sec2 select.city {
	margin-right: 2.2%;
}
.sec2 .btn-pos {
	display: inline-block;
	width: 4.1rem;
	vertical-align: bottom;
	background: url('../../img/pc/support/icon-pos.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.sec2 .box-result {
	margin-top: 2.2%;
	padding-right: 2%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.sec2 .box-result li {
	padding: 1.6% 0 1.6% 1.4%;
	line-height: 2rem;
	border-bottom: 1px solid #ccc;
}
.sec2 .box-result li:first-child {
	border-top: 1px solid #ccc;
}
.sec2 .res-item > div {
	font-size: 1.24rem;
	margin-right: 2%;
}
.sec2 .res-title {
	width: 28%;
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
}
.sec2 .res-title div {
	-webkit-flex: 1;   /* Chrome */  
    -ms-flex: 1;     /* IE 10 */  
    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
}
.sec2 .res-name {
	font-size: 1.4rem;
}
.sec2 .icon-loc {
	display: inline-block;
	width: 1.6rem;
	height: 2.4rem;
	margin-top: -20%;
	margin-right: 0.6rem;
	vertical-align: top;
	background: url('../../img/pc/support/icon-loc.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.sec2 .res-city {
	color: #999;
	font-size: 1rem;
}
.sec2 .res-address {
	width: 28%;
}
.sec2 .res-tel {
	width: 20%;
}
.sec2 .res-code {
	width: 14%;
}
.sec2 .tip-no {
	margin-top: 4%;
}
.sec3 {
	margin-top: -6.2%;
}
.sec3 .box-title3 {
	margin-left: 11.6%;
}
.sec3 .content3 .btn-download {
	width: 31.71875%;
	margin: 3% 1.5%;
}
