/** {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}*/

.ge_sge .main img {
  width: 100%;
}

.ge_sge .main .fadeUpAn {
  opacity: 0;
}

.ge_sge .swiper-pagination-outer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ge_sge .sec .content {
  top: 0;
  left: 0;
  width: 100%;
}

.ge_sge .sec .content .titleBox {
  left: 1.8rem;
  z-index: 2;
}

.ge_sge .sec .content .titleBox .titleicon {
  width: 3rem;
}

.ge_sge .sec .content .titleBox .title {
  width: 12.4rem;
  margin-top: 1.65rem;
  margin-left: 1.25rem;
}

.ge_sge .sec1 {
  padding: 12% 0 24%;
  background: #f1f1f1; }
  .ge_sge .sec1 .box-title {
    width: 33.467%; }
  .ge_sge .sec1 .level3 {
    top: 11.3%;
    left: 65.4%;
    width: 17.2%; }
    .ge_sge .sec1 .box-swiper {
      margin-top: -0.3%;
    }
  .ge_sge .sec1 .box-swiper .swiper1 {
    padding-bottom: 8.8%;
  }
  .ge_sge .sec1 .box-swiper .swiper-slide img {
    width: 36%; }
  .ge_sge .sec1 .swiper1 .swiper-pagination {
    bottom: 3%;
    z-index: 1;
  }
  .ge_sge .sec1 .swiper1 .swiper-pagination-bullet {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0.3rem;
    padding: 0.2rem;
    background: transparent;
    border: 0.01rem solid transparent;
    border-radius: 0;
    opacity: 1;
  }
  .ge_sge .sec1 .swiper1 .swiper-pagination-bullet-active {
    border: 0.01rem solid #848484;
  }
  .ge_sge .sec1 .swiper1 .swiper-pagination-bullet div {
    width: 1.3rem;
    height: 1.3rem;
  }
  .ge_sge .sec1 .swiper1 .swiper-pagination-bullet div.color1 {
    background: #fff;
  } 
  .ge_sge .sec1 .swiper1 .swiper-pagination-bullet div.color2 {
    background: #611a2c;
  }
  .ge_sge .sec1 .btn-360 img, .ge_sge .sec1 .btn-180 {
    width: 11.334%;
    z-index: 1;
  }
  .ge_sge .sec1 .btn-360 img {
    right: 23.2%;
  }
  .ge_sge .sec1 .btn-180 {
    right: 8%;
  } 
  .ge_sge .sec1 .box-tag {
    display: flex;
    justify-content: center;
    margin-top: 9.8%; }
    .ge_sge .sec1 .box-tag div {
      width: 15.4%;
      margin: 0 1%; }
  .ge_sge .sec1 .box-download {
    width: 83.6%;
    margin-top: 12.2%; }

.ge_sge .sec3 {
  margin-top: -14%;
  z-index: 2;
}

.ge_sge .sec3 .titleicon {
  top: 5.5rem;
  left: 1.8rem;
  width: 3rem;
  z-index: 2;
}

.ge_sge .sec3 .title {
  top: 9.5rem;
  left: 3.25rem;
  width: 12.3rem;
  z-index: 2;
}

.ge_sge .sec3 .content {
  top: 0;
  left: 0;
  z-index: 2;
}

.ge_sge .sec3 .text1 {
  top: 16.2rem;
  left: 50%;
  margin-left: -41.8%;
  width: 83.6%;
}

.ge_sge .sec3 .text2 {
  top: 64%;
  left: 46.66667%;
  width: 46.53333%;
}

.ge_sge .sec3 .text3 {
  top: 74%;
  left: 50%;
  margin-left: -22.66667%;
  width: 45.33333%;
}

.ge_sge .sec3 .select {
  top: 84%;
  left: 50%;
  margin-left: -30%;
  width: 60%;
}

.ge_sge .sec4 {
  margin-top: -15%;
  z-index: 1;
}

.ge_sge .sec4 .titleicon {
  top: 5.5rem;
  left: 1.8rem;
  width: 3rem;
  z-index: 2;
}

.ge_sge .sec4 .title {
  top: 9.5rem;
  left: 3.25rem;
  width: 15.5rem;
  z-index: 2;
}

.ge_sge .sec4 .swiper4 .section4_f_12_bg_an {
  top: 0;
  right: 0;
  width: 100%;
  transform-origin: 100% 5.79151%;
}

.ge_sge .sec4 .swiper4 .section4_f_qfw_an {
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: 84% 53.31992%;
}

.ge_sge .sec4 .swiper4-pagination .swiper-pagination-bullet {
  margin: 0 1rem;
  background: #fff;
  opacity: 1;
}

.ge_sge .sec4 .swiper4-pagination .swiper-pagination-bullet-active {
  background: #523e34;
}

.ge_sge .sec4 .swiper4_container .swiper4_info {
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 82.66667%;
}

.ge_sge .sec4 .swiper4_container .prev {
  top: 25%;
  left: 1rem;
  transform: translate(0, -50%);
  width: 1rem;
}

.ge_sge .sec4 .swiper4_container .next {
  top: 25%;
  right: 1rem;
  transform: translate(0, -50%);
  width: 1rem;
}

.ge_sge .sec6 {
  margin-top: -15%;
  padding-top: 11.5rem;
  padding-bottom: 16.5rem;
  z-index: 0;
}

.ge_sge .sec6 .bg {
  top: 0;
  width: 100%;
  z-index: -1;
}

.ge_sge .sec6 .titleicon {
  top: 5.5rem;
  left: 1.8rem;
  width: 3rem;
  z-index: 2;
}

.ge_sge .sec6 .swiper6 {
  width: 93.73333%;
  margin: 0 auto;
}

.ge_sge .sec6 .swiper6-pagination {
  margin-top: 4rem;
}

.ge_sge .sec6 .swiper6-pagination .swiper-pagination-bullet {
  margin: 0 1rem;
  background: #c8c8c8;
  opacity: 1;
}

.ge_sge .sec6 .swiper6-pagination .swiper-pagination-bullet-active {
  background: #4b372d;
}

.ge_sge .sectj {
  margin-top: 0;
}

.ge_sge .sectj .content .titleBox {
  left: 0;
  margin-left: 1.8rem;
}

.ge_sge .sectj .content .titleBox .title {
  width: 7.45rem;
}

.ge_sge .sectj .box-swiper {
  margin-top: 4rem;
}

.ge_sge .sectj .box-swiper .swiper-pagination {
  bottom: 0;
}

.ge_sge .sectj .box-swiper .swiper-pagination-bullet {
  width: 0.9rem;
  height: 0.9rem;
  margin: 0 1rem;
  background: #d9d9d9;
  opacity: 1;
}

.ge_sge .sectj .box-swiper .swiper-pagination-bullet-active {
  background: #565656;
}

.ge_sge .sectj .box-swiper .prod-info {
  padding: 6% 0 30%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.ge_sge .sectj .box-swiper .btn-checkprod {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-top: 9%;
  padding: 2.4% 16.4%;
  background: #000;
  display: inline-block;
}

@keyframes section4_2_qfw_an {
  0% {
    transform: scale(0.3);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes section4_2_zy_bg_an {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg);
  }
}

@keyframes section4_2_sx_bg_an {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(90deg);
  }
}

@keyframes section4_2_12_bg_an {
  0% {
    transform: scale(0.5);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
