/** {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }*/

.vj_mvj .main img {
  width: 100%; }

.vj_mvj .main .fadeUpAn {
  opacity: 0; }

.vj_mvj .swiper-pagination-outer {
  display: flex;
  justify-content: center;
  width: 100%; }

.vj_mvj .main .sec2, .vj_mvj .main .sec3, .vj_mvj .main .sec4 {
  margin-top: -14.4%; }

.vj_mvj .sec .content {
  top: 0;
  left: 0;
  width: 100%; }
  .vj_mvj .sec .content .titleBox {
    left: 5%;
    z-index: 2; }
    .vj_mvj .sec .content .titleBox .titleicon {
      width: 3rem; }
    .vj_mvj .sec .content .titleBox .title {
      width: 12.4rem;
      margin-top: 1.65rem;
      margin-left: 1.25rem; }

.vj_mvj .sec1 {
  padding: 12% 0 24%;
  background: #f1f1f1; }
  .vj_mvj .sec1 .box-title {
    width: 33.067%; }
  .vj_mvj .sec1 .level1 {
    top: 11.3%;
    left: 65.4%;
    width: 17.2%; }
    .vj_mvj .sec1 .box-swiper {
      margin-top: -0.3%;
    }
  .vj_mvj .sec1 .box-swiper .swiper1 {
    padding-bottom: 8.8%;
  }
  .vj_mvj .sec1 .box-swiper .swiper-slide img {
    width: 36%; }
  .vj_mvj .sec1 .swiper1 .swiper-pagination {
    bottom: 3%;
    z-index: 1;
  }
  .vj_mvj .sec1 .swiper1 .swiper-pagination-bullet {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0.3rem;
    padding: 0.2rem;
    background: transparent;
    border: 0.01rem solid transparent;
    border-radius: 0;
    opacity: 1;
  }
  .vj_mvj .sec1 .swiper1 .swiper-pagination-bullet-active {
    border: 0.01rem solid #848484;
  }
  .vj_mvj .sec1 .swiper1 .swiper-pagination-bullet div {
    width: 1.3rem;
    height: 1.3rem;
  }
  .vj_mvj .sec1 .swiper1 .swiper-pagination-bullet div.color1 {
    background: #2b2c30;
  } 
  .vj_mvj .sec1 .swiper1 .swiper-pagination-bullet div.color2 {
    background: #dac7b9;
  }
  .vj_mvj .sec1 .btn-360 img, .vj_mvj .sec1 .btn-180 {
    width: 11.334%;
    z-index: 1;
  }
  .vj_mvj .sec1 .btn-360 img {
    right: 23.2%;
  }
  .vj_mvj .sec1 .btn-180 {
    right: 8%;
  } 
  .vj_mvj .sec1 .box-tag {
    display: flex;
    justify-content: center;
    margin-top: 9.8%; }
    .vj_mvj .sec1 .box-tag div {
      width: 15.4%;
      margin: 0 1%; }
  .vj_mvj .sec1 .box-download {
    width: 83.6%;
    margin-top: 12.2%; }

.vj_mvj .sec2 {
  z-index: 2; }
  .vj_mvj .sec2 .content {
    top: 4%;
    z-index: 2;
    overflow: hidden; }
  .vj_mvj .sec2 .text2-1-1, .vj_mvj .sec2 .text2-2-1 {
    top: 18.2%;
  }
  .vj_mvj .sec2 .text2-1-2, .vj_mvj .sec2 .text2-2-2 {
    top: 37.6%;
  }
  .vj_mvj .sec2 .text2-1-3 {
    width: 46.667%;
    top: 61.4%;
    right: 2.4%;
  }
  .vj_mvj .sec2 .text2-2-3 {
    width: 49.867%;
    top: 61.4%;
    right: 3.3%;
  }
  .vj_mvj .sec2 .text2-1-4  {
    width: 20.667%;
    top: 73.8%;
  }
  .vj_mvj .sec2 .text2-2-4 {
    width: 24%;
    top: 73.8%;
  }
  .sec2 .colorcold {
    color: #052441;
  }
  .sec2 .colorhot {
    color: #631e00;
  }
  .sec2 .swiper2 .swiper-pagination {
    bottom: 11.8%;
  }
  .sec2 .swiper2 .swiper-pagination-bullet {
    width: 6rem;
    height: auto;
    line-height: 7rem;
    margin: 0 15%;
    background: transparent;
    border-radius: 0;
    opacity: 0.5;
  }
  .sec2 .swiper2 .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .sec2 .swiper2 .swiper-pagination-bullet span {
    font-size: 1.8rem;
    padding: 18% 0;
    vertical-align: bottom;
  }
  .sec2 .swiper2 .swiper-pagination-bullet-active span {
    font-size: 2rem;
  }
  .sec2 .swiper2 .swiper-pagination.colorcold .swiper-pagination-bullet-active span {
    border-bottom: 0.2rem solid #052441;
  }
  .sec2 .swiper2 .swiper-pagination.colorhot .swiper-pagination-bullet-active span {
    border-bottom: 0.2rem solid #631e00;
  }

.vj_mvj .sec3 .content {
  top: 8%; }
  .vj_mvj .sec3 .title {
    width: 42%!important;
  }
  .vj_mvj .sec3 .titleicon {
    top: 7.2%;
    left: 1.8rem;
    width: 3rem;
    z-index: 2; }
  .vj_mvj .sec3 .title {
    top: 12.4%;
    left: 3.25rem;
    width: 15.5rem;
    z-index: 2; }
  .vj_mvj .sec3 .wind3-1 {
    top: 31%;
    left: 0%;
    width: 68.4%; }
  .vj_mvj .sec3 .swiper-pagination {
    bottom: 5%;
  }
  .vj_mvj .sec3 .swiper3-pagination .swiper-pagination-bullet {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0 1.1rem;
    background: #fff;
    opacity: 1; }
  .vj_mvj .sec3 .swiper3-pagination .swiper-pagination-bullet-active {
    background: rgba(56, 33, 22, 0.87); }
  .vj_mvj .sec3 .swiper3_container .swiper3_info {
    top: 5.2%;
    width: 100%; }
  .vj_mvj .sec3 .swiper3_container .prev {
    top: 25%;
    left: 2rem;
    transform: translate(0, -50%);
    width: 1rem; }
  .vj_mvj .sec3 .swiper3_container .next {
    top: 25%;
    right: 2rem;
    transform: translate(0, -50%);
    width: 1rem; }
  
  .vj_mvj .sec4 {
    margin-top: -15%;
    padding-top: 11.5rem;
    padding-bottom: 16.5rem;
    z-index: 0;
  }
  .vj_mvj .sec4 .bg {
    top: 0;
    width: 100%;
    z-index: -1;
  }
  .vj_mvj .sec4 .titleicon {
    top: 5.5rem;
    left: 1.8rem;
    width: 3rem;
    z-index: 2;
  }
  .vj_mvj .sec4 .swiper4 {
    width: 93.86667%;
    margin: 0 auto;
    margin-top: 3.75rem; }
  .vj_mvj .sec4 .swiper4-pagination {
    margin-top: 4rem; }
    .vj_mvj .sec4 .swiper4-pagination .swiper-pagination-bullet {
      margin: 0 1rem;
      background: #c8c8c8;
      opacity: 1; }
    .vj_mvj .sec4 .swiper4-pagination .swiper-pagination-bullet-active {
      background: #523e34; }

@keyframes section4_2_qfw_an {
  0% {
    transform: scale(0.3); }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0; } }

@keyframes section4_2_12_an {
  0% {
    transform: scale(0.5); }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }

.vj_mvj .sectj {
  margin-top: 0; }
  .vj_mvj .sectj .title {
    width: 7.45rem; }
  .vj_mvj .sectj .box-swiper {
    margin-top: 4rem; }
    .vj_mvj .sectj .box-swiper .swiper-pagination {
      bottom: 0; }
    .vj_mvj .sectj .box-swiper .swiper-pagination-bullet {
      width: 0.9rem;
      height: 0.9rem;
      margin: 0 1rem;
      background: #d9d9d9;
      opacity: 1; }
    .vj_mvj .sectj .box-swiper .swiper-pagination-bullet-active {
      background: #565656; }
    .vj_mvj .sectj .box-swiper .prod-info {
      padding: 6% 0 30%;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.5rem; }
    .vj_mvj .sectj .box-swiper .btn-checkprod {
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.3rem;
      margin-top: 9%;
      padding: 2.4% 16.4%;
      background: #000;
      display: inline-block; }
    .mo .modal-180 .content {
      padding: 20% 10% 0;
    }
    .vj_mvj .box-preview {
      width: 32%;
    }
