<style>
	.box-link {
		margin-top: 12.6%;
	}
	.box-link .linktitle {
		display: none;
	}
	.box-link .linktitle.active, .box-link .linktitle2.active, .box-link .divider.active {
		display: block;
	}
	.box-link .link-item {
		margin-top: 11%;
		display: none;
	}
	.box-link .link-item.active {
		display: block;
	}
	.box-link .link-item > div {
		width: 43%;
		display: inline-block;
	}
	.box-link .divider {
		width: 32%;
		height: 0.2rem;
		margin: 14% auto;
		background: #d3d3d3;
		display: none;
	}
	.box-link .link-item > div:first-child {
		margin-right: 4.4%;
	}
	.box-link .btn-more-s {
		width: 79%;
		top: 78%;
	}
	.box-service {
		margin-top: 14.2%;
	}
	.box-service img {
		width: 58.8%;
	}
	.bg-grey {
		background: #e9e9e9;
	}
	.foot-menu {
		margin-top: 14.4%;
	}
	.foot-menu a, .footer-item ul a {
		color: #000;
	}
	.foot-menu a:link, .footer-item ul a:link {
		color: #000;
	}
	.foot-menu a:visited, .footer-item ul a:visited {
		color: #000;
	}
	.foot-menu a:hover, .footer-item ul a:hover {
		color: #000;
	}
	.foot-menu a:active, .footer-item ul a:active {
		color: #000;
	}
	.foot-menu li {
		font-size: 1.2rem;
		line-height: 1.2rem;
	}
	.foot-menu li .label {
		padding: 1.3rem 1.8rem;
		border-bottom: 0.1rem solid #a6a6a6;
	}
	.foot-menu li ul li {
		padding: 1.4rem 1.8rem;
		border-bottom: 0.1rem solid #a1a1a1;
	}
	.foot-menu li ul li p {
		line-height: 1.8rem;
	}
	.foot-menu .icon-square {
		width: 0.3rem;
		height: 0.3rem;
		background: #b2b2b2;
		margin-top: 0.5rem;
		margin-right: 1rem;
		vertical-align: top;
	}
	.foot-menu .icon-link {
		width: 1.1rem;
		height: 1.1rem;
		margin-left: 1rem;
		margin-bottom: 0.05rem;
		vertical-align: bottom;
		background: url('../img/mo/common/icon-link.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.copyright {
		padding: 0 1.8rem 15%;
		color: #fff;
		font-size: 1rem;
		line-height: 1.8rem;
		background: #666;
	}
	.copyright div {
		width: 140%;
		margin-left: -20%;
		transform: scale(0.72);
	}
	footer {
		display: -webkit-flex; /* 新版本语法: Chrome 21+ */
		display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
		display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
		display: -moz-box; /* 老版本语法: Firefox (buggy) */
		display: -ms-flexbox; /* 混合版本语法: IE 10 */
		z-index: 10;
	}
	.footer-item {
		-webkit-flex: 1;   /* Chrome */  
	    -ms-flex: 1       /* IE 10 */  
	    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
	    -moz-box-flex: 1;    /* OLD - Firefox 19- */ 
	}
	.footer-item:first-child {
		border-left: 0.1rem solid transparent;
		border-right: 0.1rem solid #fff;
	}
	.footer-item {
		border-left: 0.1rem solid #fff;
		border-right: 0.1rem solid #fff;
	}
	.footer-item:last-child {
		border-left: 0.1rem solid #fff;
		border-right: 0.1rem solid transparent;
	}
	.footer-item ul {
		bottom: 100%;
	}
	.footer-item ul li {
		font-size: 1.2rem;
		line-height: 4rem;
	}
	.footer-item ul a:first-child li {
		border-bottom: 0.1rem solid #e9e9e9;
	}
	.box-link .linktitle,
	.box-link .link-item,
	.box-link .divider,
	.box-service {
		opacity: 0;
	}
</style>

<!-- link -->
<div class="box-link text-center">
	<!-- title -->
	<div class="linktitle linktitle1">
		<img class="full-w" src="../img/mo/common/linktitle1.png" alt="三菱电机空调的优势">
	</div>
	<!-- story & moveeye -->
	<div class="link-item link-item1">
		<div class="rel">
			<img class="full-w" src="../img/common/link-story.jpg" alt="our story">
			<a href="m.story.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div class="rel">
			<img class="full-w" src="../img/common/link-moveeye.jpg" alt="全域慧眼">
			<a href="m.moveeye.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
	</div>
	<div class="divider"></div>
	<div class="linktitle linktitle2">
		<img class="full-w" src="../img/mo/common/linktitle2.png" alt="了解更多三菱电机空调">
	</div>
	<!-- story & moveeye -->
	<div class="link-item link-item2">
		<div class="rel">
			<img class="full-w" src="../img/common/link-story.jpg" alt="our story">
			<a href="m.story.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div class="rel">
			<img class="full-w" src="../img/common/link-moveeye.jpg" alt="全域慧眼">
			<a href="m.moveeye.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
	</div>
	<!-- story & meq -->
	<div class="link-item link-item3">
		<div class="rel">
			<img class="full-w" src="../img/common/link-story.jpg" alt="our story">
			<a href="m.story.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div class="rel">
			<img class="full-w" src="../img/common/link-meq.jpg" alt="meq">
			<a href="m.meq.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
	</div>
	<!-- story & prod -->
	<div class="link-item link-item4">
		<div class="rel">
			<img class="full-w" src="../img/common/link-story.jpg" alt="our story">
			<a href="m.story.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div class="rel">
			<img class="full-w" src="../img/common/link-prod.jpg" alt="产品信息">
			<a href="m.prodjy.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
	</div>
	<!-- story & qrcode -->
	<div class="link-item link-item5">
		<div class="rel">
			<img class="full-w" src="../img/common/link-story.jpg" alt="our story">
			<a href="m.story.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div>
			<img class="full-w" src="../img/common/qrcode.jpg" alt="二维码">
		</div>
	</div>
	<!-- moveeye & meq -->
	<div class="link-item link-item6">
		<div class="rel">
			<img class="full-w" src="../img/common/link-moveeye.jpg" alt="全域慧眼">
			<a href="m.moveeye.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div class="rel">
			<img class="full-w" src="../img/common/link-meq.jpg" alt="meq">
			<a href="m.meq.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
	</div>
	<!-- moveeye & prod -->
	<div class="link-item link-item7">
		<div class="rel">
			<img class="full-w" src="../img/common/link-moveeye.jpg" alt="全域慧眼">
			<a href="m.moveeye.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div class="rel">
			<img class="full-w" src="../img/common/link-prod.jpg" alt="产品信息">
			<a href="m.prodjy.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
	</div>
	<!-- moveeye & qrcode -->
	<div class="link-item link-item8">
		<div class="rel">
			<img class="full-w" src="../img/common/link-moveeye.jpg" alt="全域慧眼">
			<a href="m.moveeye.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div>
			<img class="full-w" src="../img/common/qrcode.jpg" alt="二维码">
		</div>
	</div>
	<!-- meq & prod -->
	<div class="link-item link-item9">
		<div class="rel">
			<img class="full-w" src="../img/common/link-meq.jpg" alt="meq">
			<a href="m.meq.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div class="rel">
			<img class="full-w" src="../img/common/link-prod.jpg" alt="产品信息">
			<a href="m.prodjy.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
	</div>
	<!-- meq & qrcode -->
	<div class="link-item link-item10">
		<div class="rel">
			<img class="full-w" src="../img/common/link-meq.jpg" alt="meq">
			<a href="m.meq.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div>
			<img class="full-w" src="../img/common/qrcode.jpg" alt="二维码">
		</div>
	</div>
	<div class="link-item link-item11">
		<div class="rel">
			<img class="full-w" src="../img/common/link-prod.jpg" alt="产品信息">
			<a href="m.prodjy.html" target="_self">
				<img class="btn-more-s abs left right center" src="../img/mo/common/btn-more-s.png" alt="了解更多">
			</a>
		</div>
		<div>
			<img class="full-w" src="../img/common/qrcode.jpg" alt="二维码">
		</div>
	</div>
</div>
<!-- service -->
<div class="box-service text-center">
	<img src="../img/common/service.png" alt="客服热线">
</div>
<!-- foot menu -->
<ul class="foot-menu">
	<li>
		<a href="m.home.html" target="_self">
			<div class="label bg-grey">首页</div>
		</a>
	</li>
	<li>
		<div class="label bg-grey">关于</div>
		<ul class="hide">
			<a href="m.story.html" target="_self">
				<li><i class="icon-square"></i>品牌故事</li>
			</a>
			<a href="m.about.html" target="_self">
				<li><i class="icon-square"></i>关于我们</li>
			</a>
		</ul>
	</li>
	<li>
		<div class="label bg-grey">产品</div>
		<ul class="hide">
			<a href="m.prodjybg.html" target="_self">
				<li><i class="icon-square"></i>家用壁挂机</li>
			</a>
			<a href="m.prodjygs.html" target="_self">
				<li><i class="icon-square"></i>家用柜机</li>
			</a>
			<a href="m.prodsy.html" target="_self">
				<li><i class="icon-square"></i>商用机</li>
			</a>
		</ul>
	</li>
	<li>
		<div class="label bg-grey">支持</div>
		<ul class="hide">
			<a class="store" href="m.support.html" target="_self">
				<li><i class="icon-square"></i>销售支持</li>
			</a>
			<a class="service" href="m.support.html" target="_self">
				<li><i class="icon-square"></i>售后支持</li>
			</a>
		</ul>
	</li>
	<li>
		<a href="http://saec.gypserver.com/#/register" target="_blank">
			<div class="label bg-grey">注册</div>
		</a>
	</li>
	<li>
		<a href="m.notice.html" target="_self">
			<div class="label bg-grey">重要通知</div>
		</a>
	</li>
	<li>
		<a href="m.recruit.html" target="_self">
			<div class="label bg-grey">招聘信息</div>
		</a>
	</li>
	<li>
		<div class="label bg-grey">相关链接</div>
		<ul class="hide">
			<a href="https://www.mitsubishielectric.co.jp/index.html" target="_blank">
				<li><i class="icon-square"></i>三菱电机株式会社<i class="icon-link"></i></li>
			</a>
			<a href="https://www.mitsubishielectric.com/en/index.html" target="_blank">
				<li><i class="icon-square"></i>三菱电机全球<i class="icon-link"></i></li>
			</a>
			<a href="https://www.mlc-cn.com/index/" target="_blank">
				<li><i class="icon-square"></i>三菱电机空调影像设备有限公司<i class="icon-link"></i></li>
			</a>
		</ul>
	</li>
	<li>
		<div class="label bg-grey">联系我们</div>
		<ul class="hide">
			<li>
				<p>如果您有任何有关三菱电机空调的疑问，需要帮助与支援，请联系我们<br/>地址：中国（上海）自由贸易试验区南洋泾路505号 (200135)<br/>电话：(021)5833-5833&nbsp;&nbsp;&nbsp;&nbsp;传真：(021)5833-6439
				</p>
			</li>
		</ul>
	</li>
</ul>
<!-- copyright -->
<div class="copyright">
	<div>Copyright©2020 上海三菱电机•上菱空调机电器有限公司. All rights reserved.<br/>沪ICP备10028231号-1  沪公网安备 31011502004862号</div>
</div>
<footer class="fixed bottom left full-w bg-grey">
	<div class="footer-item item-story">
		<a href="m.story.html" target="_self">
			<img class="footer-icon full-w" src="../img/mo/common/footer-story.png" alt="品牌">
		</a>
	</div>
	<div class="footer-item item-moveeye">
		<a href="m.moveeye.html" target="_self">
			<img class="footer-icon full-w" src="../img/mo/common/footer-moveeye.png" alt="全城慧眼">
		</a>
	</div>
	<div class="footer-item item-prod rel">
		<img class="footer-icon full-w" src="../img/mo/common/footer-prod.png" alt="产品">
		<ul class="abs left full-w text-center bg-white hide">
			<a href="m.prodjy.html" target="_self">
				<li>家用</li>
			</a>
			<a href="m.prodsy.html" target="_self">
				<li>商用</li>
			</a>
		</ul>
	</div>
	<div class="footer-item item-service">
		<a href="http://callcenter.saec.com.cn:8081/EliteWebChat/clientLogin.do?queue=1&visitorGuid=4d9752fb-43b9-c6e8-e6c9-5151ae3cbb4f&1501044639432" target="_target">
			<img class="footer-icon full-w" src="../img/mo/common/footer-service.png" alt="客服">
		</a>
	</div>
	<div class="footer-item item-shop">
		<a href="m.support.html" target="_self">
			<img class="footer-icon full-w" src="../img/mo/common/footer-shop.png" alt="门店网点">
		</a>
	</div>
</footer>

<script>
	$(function($) {
		var id = $('.container.mo').attr('id').substring(1);
		switch(id) {
			case 'home':
				$('.box-link .linktitle1').addClass('active');
				$('.box-link .link-item1').addClass('active');
				$('.box-link .divider').addClass('active');
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item11').addClass('active');
				break;
			case 'story':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item9').addClass('active');
				break;
			case 'moveeye':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item3').addClass('active');
				break;
			case 'meq':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item2').addClass('active');
				break;
			case 'about':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item11').addClass('active');
				break;
			case 'esep':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item2').addClass('active');
				break;
			case 'recruit':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item2').addClass('active');
				break;
			case 'support':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item3').addClass('active');
				break;
			case 'prodjy':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item3').addClass('active');
				break;
			case 'prodjybg':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item7').addClass('active');
				break;
			case 'prodjybgmodel':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item7').addClass('active');
				break;
			case 'prodjygs':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item9').addClass('active');
				break;
			case 'prodjygsmodel':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item9').addClass('active');
				break;
			case 'prodsy':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item3').addClass('active');
				break;
			case 'prodsync':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item6').addClass('active');
				break;
			case 'prodsyqr':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item6').addClass('active');
				break;
			case 'prodsygs':
				$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item6').addClass('active');
				break;
			default:
				if(id.indexOf('seriesbg') >= 0) {
					// 壁挂
					$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item7').addClass('active');
				} else if(id.indexOf('seriessy') >= 0) {
					// 商用
					$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item3').addClass('active');
				} else {
					// 柜式
					$('.box-link .linktitle2').addClass('active');
				$('.box-link .link-item9').addClass('active');
				};
		};

		// 淡入动画
		setTimeout(function() {
			$.fadeUpAn($('.box-link .linktitle.active'));
			$.fadeUpAn($('.box-link .link-item.active'));
			$.fadeUpAn($('.box-link .divider'));
			$.fadeUpAn($('.box-service'));
			// scroll
			$(window).on('scroll', function() {
				$.fadeUpAn($('.box-link .linktitle.active'));
				$.fadeUpAn($('.box-link .link-item.active'));
				$.fadeUpAn($('.box-link .divider'));
				$.fadeUpAn($('.box-service'));
			});
		}, 300);

		// hover
		$('.btn-more-s').on('touchstart', function() {
			$(this).attr('src', '../img/mo/common/btn-more-s-active.png');
		});

		// foot menu
		$('.foot-menu > li .label').on('click', function() {
			if($(this).next().length > 0) {
				$(this).next().stop(true, true).slideToggle();
				$(this).stop(true, true).toggleClass('bg-grey');
			};
		});

		// footer
		$('footer .footer-icon').on('click', function() {
			if($(this).next().length > 0) {
				$(this).next().slideToggle('fast');
			};
		});

		// 销售支持
	    $('.foot-menu a.store').on('click', function() {
	    	sessionStorage.setItem('store', JSON.stringify(true));
	    });

	    // 售后支持
	    $('.foot-menu a.service').on('click', function() {
	    	sessionStorage.setItem('service', JSON.stringify(true));
	    });
	});
</script>