<style>
	header {
		height: 6rem;
		z-index: 11;
	}
	header a:link {
		color: #000;
	}
	header a:visited {
		color: #000;
	}
	header a:hover {
		color: #000;
	}
	header a:active {
		color: #000;
	}
	header .box-logo {
		margin-left: 1.8rem;
	}
	header .box-search {
		width: 50%;
	}
	header .box-search input {
		height: 3rem;
		top: 1.5rem;
		right: -12.6rem;
		font-size: 1.2rem;
		line-height: 3rem;
		text-indent: 1rem;
		background: #f4f4f4;
		opacity: 0;
	}
	header .inputAn {
		opacity: 1!important;
		right: 7rem!important;
	    -webkit-transition: all 0.6s ease-in-out; /* Safari和Chrome */ 
	    -moz-transition: all 0.6s ease-in-out; /*Firefox 4 */  
	    -o-transition: all 0.6s ease-in-out; /* Opera */ 
	    transition: all 0.6s ease-in-out;	
	}
	header .btn-search {
		width: 4.75rem;
		background: url('../img/mo/common/icon-search.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	header .btn-menu {
		width: 4.4rem;
		margin-right: 0.6rem;
		background: url('../img/mo/common/icon-menu.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	header .box-menu {
		width: 50%;
		top: 6rem;
		font-size: 1.2rem;
		line-height: 1.2rem;
		background: #e9e9e9;
	}
	header .box-menu > li {
		border-bottom: 1px solid #a1a1a1;
	}
	header .box-menu > li .label {
		padding: 1.2rem 1.4rem 1.2rem 2rem;
	}
	header .box-menu > li .icon-slide {
		font-size: 2rem;
		line-height: 0.6rem;
	}
	header .rotate90 {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	header .box-menu > li ul li {
		padding: 1.1rem 2rem;
	}
	header .box-menu .icon-square {
		width: 0.3rem;
		height: 0.3rem;
		background: #a3a3a3;
		vertical-align: bottom;
		margin-right: 0.8rem;
		margin-bottom: 0.4rem;
	}
	header .box-menu .icon-link {
		width: 1.2rem;
		vertical-align: bottom;
		margin-left: 0.6rem;
	}
</style>

<header class="fixed full-w top left bg-white">
	<!-- logo -->
	<div class="box-logo fl full-h">
		<a href="../index.html" target="_self">
			<img class="full-h" src="../img/mo/common/logo.png" alt="Misubishi Electric">
		</a>
		<h1>Misubishi Electric</h1>
	</div>
	<!-- search -->
	<div class="box-search fr full-h rel">
		<input class="abs full-h" type="text" placeholder="请输入">
		<div class="box-btns abs right full-h bg-white">
			<!-- search -->
			<i class="btn-search full-h"></i>
			<!-- search -->
			<i class="btn-menu full-h"></i>
		</div>
	</div>
	<ul class="box-menu abs right hide">
		<li>
			<a href="m.home.html" target="_self">
				<div class="label">首页</div>
			</a>
		</li>
		<li>
			<div class="label">关于<span class="icon-slide fr rotate90">&#155;</span></div>
			<ul>
				<a href="m.story.html" target="_self">
					<li><i class="icon-square"></i>品牌故事</li>
				</a>
				<a href="m.about.html" target="_self">
					<li><i class="icon-square"></i>关于我们</li>
				</a>
			</ul>
		</li>
		<li>
			<div class="label">产品<span class="icon-slide fr rotate90">&#155;</span></div>
			<ul>
				<a href="m.prodjy.html" target="_self">
					<li><i class="icon-square"></i>家用</li>
				</a>
				<a href="m.prodsy.html" target="_self">
					<li><i class="icon-square"></i>商用</li>
				</a>
			</ul>
		</li>
		<li>
			<a href="m.support.html" target="_self">
				<div class="label">支持</div>
			</a>
		</li>
	</ul>
</header>

<script>
	$(function($) {
		// 搜索
		$('header .btn-search').on('click', function() {
			if($('header .box-search input').hasClass('inputAn')) {
				if($('header .box-search input').val() == '') {
					alert('请输入');
				} else {
					sessionStorage.setItem('keyword', JSON.stringify($('header .box-search input').val()));
					window.location.href = 'm.search.html';
				};
			} else {
				$('header .box-search input').addClass('inputAn');
			};
		});
	
		// 一级菜单
		$('header .btn-menu').on('click', function() {
			$('header .box-menu').stop(true, true).slideToggle();
		});

		// 二级菜单
		$('header .box-menu > li').on('click', function() {
			if($(this).find('ul').length > 0) {
				$(this).find('ul').stop(true, true).slideToggle();
				$(this).find('.icon-slide').stop(true, true).toggleClass('rotate90');
			};
		});
	});
</script>