<style>
	.sec-select .slash-select {
		margin-left: 5%;
		margin-bottom: 4.2%;
	}
	.sec-select .content-select {
		margin-top: 11.8%;
	}
	.sec-select .prod-item, .sec-select .area-item {
		width: 42.4%;
		display: inline-block;
	}
	.sec-select .prod-bg, .sec-select .area-cold {
		margin-right: 5%;
	}
	.sec-select .select-item-area {
		margin-top: 12.4%;
	}
	.sec-select .box-area {
		width: 90%;
		margin-top: 11.6%;
	}
	.sec-select .box-area select {
		font-size: 1.2rem;
		line-height: 1.2rem;
		text-indent: 45%;
		background: #efefef;
		padding: 5.2% 0;
	}
	.sec-select .content-select img {
		opacity: 0.5;
	}
	.sec-select .content-select .active img {
		opacity: 1;
	}
	.sec-select .line {
		height: 0.3rem;
		background: #c00000;
		opacity: 0;
	}
	.sec-select .active .line {
		opacity: 1;
	}
	.sec-select .btn-submit {
		width: 42%;
		margin-top: 13.8%;
		padding: 2.6% 0;
		font-size: 1.2rem;
		line-height: 1.2rem;
		background: #494949;
	}
	.sec-select .box-title-select,
	.sec-select .select-item-prod,
	.sec-select .select-item-area,
	.sec-select .box-area,
	.sec-select .btn-submit {
		opacity: 0;
	}
</style>

<div class="sec sec-select">
	<!-- title2 -->
	<div class="box-title box-title-select">
		<img class="slash slash-select" src="../img/common/slash-red.png">
		<img class="full-w" src="../img/mo/common/title-select.png" alt="智能选型">
	</div>
	<!-- content2 -->
	<div class="content content-select text-center">
		<div class="select-item select-item-prod">
			<div class="prod-item prod-bg rel" data-prod="壁挂机">
				<img class="full-w" src="../img/mo/prod/prodbgj.jpg" alt="壁挂机">
				<div class="line abs left bottom full-w"></div>
			</div>
			<div class="prod-item prod-gs rel" data-prod="柜机">
				<img class="full-w" src="../img/mo/prod/prodgj.jpg" alt="柜机">
				<div class="line abs left bottom full-w"></div>
			</div>
		</div>
		<div class="select-item select-item-area">
			<div class="area-item area-cold rel" data-type="1">
				<img class="full-w" src="../img/mo/prod/prodcold.jpg" alt="制冷面积选择">
				<div class="line abs left bottom full-w"></div>
			</div>
			<div class="area-item area-hot rel" data-type="2">
				<img class="full-w" src="../img/mo/prod/prodhot.jpg" alt="制热面积选择">
				<div class="line abs left bottom full-w"></div>
			</div>
		</div>
		<div class="box-area rel center">
			<select class="full-w text-center" name="select-area">
				<option class="default" value="">请选择</option>
				<option value="9-10">9～10cm²</option>
				<option value="10-15">10～15cm²</option>
				<option value="15-21">15～21cm²</option>
				<option value="21-30">21～30cm²</option>
				<option value="30-37">30～37cm²</option>
				<option value="37-44">37～44cm²</option>
			</select>
			<div class="line abs left bottom full-w"></div>
		</div>
		<div class="btn-submit white center">确认</div>
	</div>
</div>

<script>
	$(function($) {
		// 淡入动画
		setTimeout(function() {
			$.fadeUpAn($('.sec-select .box-title-select'));
			$.fadeUpAn($('.sec-select .select-item-prod'));
			$.fadeUpAn($('.sec-select .select-item-area'));
			$.fadeUpAn($('.sec-select .box-area'));
			$.fadeUpAn($('.sec-select .btn-submit'));
			// scroll
			$(window).on('scroll', function() {
				$.fadeUpAn($('.sec-select .box-title-select'));
				$.fadeUpAn($('.sec-select .select-item-prod'));
				$.fadeUpAn($('.sec-select .select-item-area'));
				$.fadeUpAn($('.sec-select .box-area'));
				$.fadeUpAn($('.sec-select .btn-submit'));
			});
		}, 300);

		// 根据系列默认机型
		var series = $('.sec-select').parent().data('series');
		switch(series) {
			case 'bg':
				$('.sec-select .prod-bg').addClass('active');
				break;
			case 'gs':
				$('.sec-select .prod-gs').addClass('active');
				break;
			default:
				//
		};
		// 选好之前不能点击
		$('.sec-select .box-area select').prop('disabled', true);
		// 选机型
	    $('.sec-select .prod-item').on('click', function() {
	        $(this).addClass('active').siblings().removeClass('active');
	    });
	    // 选制冷/热面积
	    $('.sec-select .area-item').on('click', function() {
	        if($('.sec-select .prod-item.active').length == 0) {
	            alert('请选择机型');
	        } else {
	            $(this).addClass('active').siblings().removeClass('active');
	            $('.sec-select .box-area select').prop('disabled', false);
	        };
	    });
	    // 选面积
	    $('.sec-select .box-area select').on('change propertychange', function() {
	        if($(this).val() != '') {
	            $('.sec-select .box-area').addClass('active');
	        } else {
	            $('.sec-select .box-area').removeClass('active');
	        };
	    });
	    // 确认
	    $('.sec-select .btn-submit').on('click', function() {
	        if($('.sec-select .prod-item.active').length == 0) {
	            alert('请选择机型');
	            return;
	        };
	        if($('.sec-select .area-item.active').length == 0) {
	            alert('请选择制冷/热面积');
	            return;
	        };
	        if($('.sec-select .box-area select').val() == '') {
	            alert('请选择面积');
	            return;
	        };
	        var screenSelect = {};
	        screenSelect['areatype'] = parseInt($('.sec-select .area-item.active').data('type'));
	        screenSelect['area'] = $('.sec-select .box-area select').val();
	        sessionStorage.setItem('screenSelect', JSON.stringify(screenSelect));
        	if($('.sec-select .prod-item.active').data('prod') == '壁挂机') {
        		window.location.href = 'm.prodjybgmodel.html';
	        } else {
	        	window.location.href = 'm.prodjygsmodel.html';
	        };
	    });
	});
</script>