/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1{ }
.sec1 .box-title{
    top: 12.5%;
}
.sec1 .box-prod{
	top:29.3%;
}
.sec1 .box-tag {
    width: 83%;
    top: 59.5%;
        left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.05%;
	margin:0 0.32rem;
}
.sec1 .box-download {
	width: 83.6%;
	top: 75.1%;
	left: 8.2%;
}
.sec2 {
    margin-top: -14%;
}
.sec2 .box-title{
	top: 5.8%;
}
.sec2 .box-prod{
	top:30.9%;
}
.sec2 .box-subtitle{
    top: 61.9%;
    left: 0;
}
.sec2 .divider {
    width: 7.2%;
    height: 0.3rem;
    margin: 0 0 7.3% 7.4%;
    background: rgba(122,55, 3, 1);
}
.sec3 {
    margin-top: -14.7%;
    z-index: 2;
}
.sec3 .box-title {
	top: 8.3%;
}
.sec3 .box-subtitle {
    top: 23.9%;
    left: 0;
}
.sec3 .divider {
    width: 7.2%;
    height: 0.3rem;
    margin: 0 0 7.3% 7.4%;
    background: rgba(28,87, 128, 1);
}
.sec3  .box-prod{
	width: 80.5%;
	top:42.4%;
	left: 9.7%;
}
.sec3  .box-prod img{
	width: 42.7%; 
	margin:0 3.6%;
}
.sec3  .box-btn-check {
	width: 38.6%;
    top: 64.1%;
    left: 30.6%;
}

.sec4 {
    margin-top: -37.8%;
}
.sec4 .box-title {
	top: 26.4%;
}
.sec4 .box-subtitle {
    top: 45.4%;
    left: 0;
}
.sec4 .divider {
    width: 7.2%;
    height: 0.3rem;
    margin: 0 0 7.3% 7.4%;
    background: rgba(35,43, 88, 1);
}
.sec4  .box-btn-check {
	width: 38.6%;
    top: 67.1%;
    left: 30.6%;
}


.sec10 {
	margin-top: -14%;
}
.sec10 .box-title10 {
	top: 7.6%;
}
.sec10 .box-swiper {
	top: 31%;
}
.sec10 .swiper-pagination {
	bottom: 0;
}
.sec10 .swiper10 .swiper-pagination-bullet {
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 1rem;
	background: #d9d9d9;
	opacity: 1;
}
.sec10 .swiper10 .swiper-pagination-bullet-active {
	background: #565656;
}
.sec10 .prod-info {
	padding: 6% 0 30%;
}
.sec10 .prod-info {
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.sec10 .btn-checkprod {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin-top: 9%;
	padding: 2.4% 16.4%;
	background: #000;
	display: inline-block;
}
.modal-swt .content{
	width: 89.4%;
	margin: 40% 0 0 5.3%;
	padding:0;
}
.modal-swt .content .btn-close{
	right: 0; 
	top:0;
	width: 13.4%;
    margin-top: 0;
}

.sec2 .box-title,
.sec2 .box-prod,
.sec2 .box-subtitle,
.sec3 .box-title,
.sec3 .box-subtitle,
.sec3 .box-prod,
.sec3 .box-btn-check,
.sec4 .box-title,
.sec4 .box-subtitle,
.sec4 .box-btn-check
 {
	opacity: 0;
}




