/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1{ }
.sec1 .box-title{
    top: 8.7%;
}
.sec1 .box-prod{
	top:29.3%;
}
.sec1 .box-tag {
    width: 83%;
    top:70.1%;
        left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.05%;
	margin:0 0.32rem;
}
.sec1 .box-download {
	width: 83.6%;
	top: 84.1%;
	left: 8.2%;
}
.sec1 .box-swiper{left: 0; top:22%; }
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}
.sec1 .swiper-button-next{
	width: 8.5% !important; position: absolute;top:110% !important;left:55.3% !important;
	background: none !important;
}
.sec1 .swiper-button-prev{
	width: 8.5% !important; position: absolute;top:110% !important;left: 36.5% !important;
	background: none !important;
}


.sec2 {
    margin-top: -14%;
}
.sec2 .box-title{
	top: 2.9%;
}
.sec2 .subtitle21{
    top:13.6%;
    left: 0;
}
.sec2 .subtitle22{
    top: 30.5%;
    left: 0;
}
.sec2 .box-prod21{
	width: 90.6%; left: 4%;
	top:23.4%;
}


.sec3 {
    margin-top: -14.6%;
}
.sec3 .box-title{
	top: 10.9%;
}
.sec3 .box-subtitle{
    top:65.7%;
    left: 0;
}
.sec3 .box-prod{
	left:0;
	top:32.4%;
}

.sec4 {
    margin-top: -14.7%;
    z-index: 3;
}
.sec4 .box-title {
	top:9.6%;
}

.sec4 .box-prod{
	width: 74.9%;
	top:39%;
	left: 4.2%;
}
.sec4 .box-prod img{
	width: 41.4%;
	margin:0 4.2%;
}
.sec4 .box-subtitle {
    top: 60.5%;
    left: 0;
}
.modal-swt .content{
	width: 89.4%;
	margin: 40% 0 0 5.3%;
	padding:0;
}
.modal-swt .content .btn-close{
	right: 0; 
	top:0;
	width: 13.4%;
    margin-top: 0;
}
.sec2 .box-title,
.sec2 .subtitle21,
.box-prod21-img,
.box-prod22-img,
.box-prod23-img,
.sec3 .box-title,
.sec3 .box-prod,
.sec3 .box-subtitle,
.sec4 .box-title,
.sec4 .box-prod,
.sec4 .box-subtitle {
	opacity: 0;
}




