/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1{ }
.sec1 .box-title{
    top: 12.5%;
}
.sec1 .box-prod{
	top:29.3%;
}
.sec1 .box-tag {
    width: 83%;
    top: 59.5%;
        left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.05%;
	margin:0 0.32rem;
}
.sec1 .box-download {
	width: 83.6%;
	top: 75.1%;
	left: 8.2%;
}

.sec2 {
    margin-top: -14%;
}
.sec2 .box-title{
	top: 6.3%;
}
.sec2 .box-prod{
	top:36.2%;
}
.sec2 .box-subtitle{
    top: 70.2%;
    left: 0;
}
.sec2 .box-subtitle-t{
    top: 25%;
    left: 0;
}

.sec3 {
    margin-top: -14%;
}
.sec3 .box-title{
	top: 5.4%;
}
.sec3 .box-subtitle{
    top: 22.5%;
    left: 0;
}
.sec3 .box-btn-check {
	width: 38.6%;
    top:52.2%;
    left: 30.6%;
}

.sec4 {
    margin-top: -14.5%;
}
.sec4 .box-title{
	top: 4.8%;
}
.sec4 .box-prod{
	width: 80.4%;
	top:32.7%;
	left: 9.6%;
}
.sec4 .box-prod img{
	width: 42.6%;
	margin:0 3.6%;
}
.sec4 .box-subtitle41{
    top: 20.5%;
    left: 0;
}
.sec4 .box-subtitle42{
    top: 60%;
    left: 0;
}
.sec4 .box-btn-check {
	width: 38.6%;
    top:35%;
    left: 30.6%;
}

.sec5 {
    margin-top: -14.7%;
}
.sec5 .box-title{
	top: 21.3%;
}
.sec5 .box-subtitle{
    top:42.7%;
    left: 0;
}

.sec5 .box-btn-check {
	width: 38.6%;
    top:59.2%;
    left: 30.6%;
}
.modal-swt .content{
	width: 89.4%;
	margin: 40% 0 0 5.3%;
	padding:0;
}
.modal-swt .content .btn-close{
	right: 0; 
	top:0;
	width: 13.4%;
    margin-top: 0;
}
.sec2 .box-title,
.sec2 .box-prod,
.sec2 .box-subtitle,
.sec2 .box-subtitle-t,
.sec3 .box-title,
.sec3 .box-subtitle,
.sec3 .box-btn-check,
.sec4 .box-title,
.sec4 .box-subtitle41,
.sec4 .box-prod,
.sec4 .box-btn-check,
.sec4 .box-subtitle42,
.sec5 .box-title,
.sec5 .box-subtitle,
.sec5 .box-btn-check {
	opacity: 0;
}




