/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1{ }
.sec1 .box-title {
    top: 12.5%;
}
.sec1 .box-prod{
	top:29.3%;
}
.sec1 .box-tag {
    width: 83%;
    top: 59.5%;
        left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.05%;
	margin:0 0.32rem;
}
.sec1 .box-download {
	width: 83.6%;
	top: 75.1%;
	left: 8.2%;
}

.sec2 {
    margin-top: -14%;
}
.sec2 .box-title{
	top: 6.7%;
}
.sec2 .box-prod{
	top:26.1%;
}
.sec2 .box-subtitle{
    top: 61.6%;
    left: 0;
}

.sec3 {
	/*background: #cbdeeb;*/
    margin-top: -14.5%;
    z-index: 2;
}
.sec3 .box-title {
	top: 6.3%;
}
.sec3 .box-subtitle1 {
    top: 27.7%;
    left: 0;
}
.sec3 .box-subtitle2 {
    top: 50.6%;
    left: 0;
}
.sec3 .box-btn-check {
	width: 38.6%;
    top:67.7%;
    left: 30.6%;
}

.sec4 {
    margin-top: -14.3%;
    z-index: 3;
}
.sec4 .box-title {
	top:9.8%;
}
.sec4 .box-subtitle {
    top: 31.3%;
    left: 0;
}
.sec4 .box-prod{
	width: 74.9%;
	top:60.5%;
	left: 4.2%;
}
.sec4 .box-prod img{
	width: 41.4%;
	margin:0 4.2%;
}

.sec5 {
    margin-top: -14.7%;
    z-index: 2;
}
.sec5 .box-title {
	top: 7.8%;
}
.sec5 .box-subtitle {
    top: 26.9%;
    left: 0;
}
.sec5  .box-btn-check {
	width: 38.6%;
    top: 55%;
    left: 30.6%;
}

.sec6 {
    margin-top: -14.8%;
    z-index: 3;
}
.sec6 .box-title {
	top:8.3%;
}
.sec6 .box-subtitle {
    top: 27.9%;
    left: 0;
}
.sec6 .box-prod{
	width: 31.5%;
	top:47.4%;
	left: 7.2%;
}

.sec7 {
    margin-top: -14.8%;
    z-index: 3;
}
.sec7 .box-title {
	top:8.3%;
}
.sec7 .box-subtitle {
    top: 28%;
    left: 0;
}
.sec7 .box-prod{
	width: 33%;
	top:46.3%;
	left: 7.2%;
}
.modal-swt .content{
	width: 89.4%;
	margin: 40% 0 0 5.3%;
	padding:0;
}
.modal-swt .content .btn-close{
	right: 0; 
	top:0;
	width: 13.4%;
    margin-top: 0;
}

.sec2 .box-title,
.sec2 .box-prod,
.sec2 .box-subtitle,
.sec3 .box-title,
.sec3 .box-subtitle1,
.sec3 .box-subtitle2,
.sec3 .box-btn-check,
.sec4 .box-title,
.sec4 .box-subtitle,
.sec4 .box-prod,
.sec5 .box-title,
.sec5 .box-subtitle,
.sec5 .box-btn-check,
.sec6 .box-title ,
.sec6 .box-subtitle,
.sec6 .box-prod,
.sec7 .box-title ,
.sec7 .box-subtitle,
.sec7 .box-prod {
	opacity: 0;
}




