/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1{ }
.sec1 .box-title {
    top: 12.5%;
}
.sec1 .box-prod{
	top:29.3%;
}
.sec1 .box-tag {
    width: 83%;
    top: 59.5%;
        left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.05%;
	margin:0 0.32rem;
}
.sec1 .box-download {
	width: 83.6%;
	top: 75.1%;
	left: 8.2%;
}

.sec2 {
    margin-top: -14.2%;
    z-index: 3;
}
.sec2 .box-title {
	top: 8.6%;
}
.sec2 .box-subtitle {
    top: 27%;
    left: 0;
}
.sec2 .box-prod{
	width: 32.5%;
	top:40.1%;
	left: 8%;
}
.sec2 .box-btn-check {
	width: 38.6%;
    top: 59.4%;
    left: 30.6%;
}

.sec3 {
	background: #ebd9cb;
    margin-top: -14.5%;
    z-index: 2;
}
.sec3 .box-title {
	top: 10.2%;
}
.sec3 .box-subtitle {
    top: 31.3%;
    left: 0;
}
.sec3 .box-btn-check {
	width: 38.6%;
    top: 63.4%;
    left: 30.6%;
}

.sec4 {
    margin-top: -14.2%;
    z-index: 3;
}
.sec4 .box-title {
	top: 9.4%;
}

.sec4 .box-prod{
	width: 74.9%;
	top:33.7%;
	left: 4.2%;
}
.sec4 .box-prod img{
	width: 41.4%;
	margin:0 4.2%;
}
.sec4 .box-subtitle {
    top: 56.4%;
    left: 0;
}
.modal-swt .content{
	width: 89.4%;
	margin: 40% 0 0 5.3%;
	padding:0;
}
.modal-swt .content .btn-close{
	right: 0; 
	top:0;
	width: 13.4%;
    margin-top: 0;
}

.sec2 .box-title,
.sec2 .box-subtitle,
.sec2 .box-prod,
.sec2 .box-btn-check,
.sec3 .box-title,
.sec3 .box-subtitle,
.sec3 .box-btn-check,
.sec4 .box-title,
.sec4 .box-prod,
.sec4 .box-subtitle {
	opacity: 0;
}




