/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1{ }
.sec1 .box-title{
    top: 12.5%;
}
.sec1 .box-prod{
	top:22.4%;
}
.sec1 .box-tag {
    width: 83%;
    top: 59.5%;
        left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.05%;
	margin:0 0.32rem;
}
.sec1 .box-download {
	width: 83.6%;
	top: 75.1%;
	left: 8.2%;
}

.sec2 {
    margin-top: -14%;
}
.sec2 .box-title{
	top: 2.7%;
}
.sec2 .divider {
    width: 7.3%;
    height: 0.3rem;
    position: absolute;
    left: 7.4%;
    top:13%;
    background: rgba(64,71, 112, 1);
}

.sec2 .box-prod{
	width: 91.2%;
	left: 4.1%;
	top:15.5%;
}

.sec3 {
    margin-top: -14%;
}
.sec3 .box-subtitle3-1{
	top: 10.3%;
}
.sec3 .box-subtitle3-2{
	top: 33.7%;
}
.sec3 .box-subtitle3-3{
	top: 63%;
}
.sec3 .box-prod{
	width: 36.8%;
	left: 58.5%;
	top:41.08%;
}

.sec4 {
    margin-top: -14.6%;
}
.sec4 .box-title{
	top: 8.5%;
}
.sec4 .box-subtitle{
    top: 28.6%;
    left: 0;
}
.sec4 .box-btn-check {
	width: 38.6%;
    top:50.54%;
    left: 30.6%;
}


.sec5 {
    margin-top: -14.7%;
}
.sec5 .box-title{
	top: 6.5%;
}

.sec5 .box-subtitle{
    top: 29.5%;
    left: 0;
}


.sec5 .box-btn-check {
	width: 38.6%;
    top:63.6%;
    left: 30.6%;
}
.modal-swt .content{
	width: 89.4%;
	margin: 40% 0 0 5.3%;
	padding:0;
}
.modal-swt .content .btn-close{
	right: 0; 
	top:0;
	width: 13.4%;
    margin-top: 0;
}
.sec2 .box-title,
.sec2 .divider,
.sec2 .box-prod .box-prod2-1,
.sec2 .box-prod .box-prod2-2,
.sec2 .box-prod .box-prod2-3,
.sec2 .box-prod .box-prod2-4,
.sec2 .box-prod .box-prod2-5,
.sec2 .box-prod .box-prod2-6,
.sec2 .box-prod .box-prod2-7,
.sec3 .box-subtitle3-1,
.sec3 .box-subtitle3-2,
.sec3 .box-subtitle3-3,
.sec3 .box-prod,
.sec4 .box-title,
.sec4 .box-subtitle,
.sec4 .box-btn-check,
.sec5 .box-title,
.sec5 .box-subtitle
 {
	opacity: 0;
}




