/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1{ }
.sec1 .box-title{
    top: 12.5%;
}
.sec1 .box-prod{
	top:22.5%;
}
.sec1 .box-tag {
    width: 83%;
    top: 59.5%;
        left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.05%;
	margin:0 0.32rem;
}
.sec1 .box-download {
	width: 83.6%;
	top: 75.1%;
	left: 8.2%;
}

.sec2 {
    margin-top: -14%;
}
.sec2 .box-title{
	top: 8.6%;
}
.sec2 .box-subtitle{
    top:31.8%;
    left: 0;
}
.sec2 .box-btn-check {
	width: 38.6%;
    top:55.4%;
    left: 30.6%;
}

.sec3 {
    margin-top: -14.7%;
    z-index: 3;
}
.sec3 .box-title {
	top:8.6%;
}
.sec3 .box-subtitle31 {
    top: 31.5%;
    left: 0;
}
.sec3 .box-subtitle32{
    top: 64.3%;
    left: 0;
}
.sec3 .box-prod{
	width: 74.9%;
	top:41.6%;
	left: 4.2%;
}
.sec3 .box-prod img{
	width: 41.4%;
	margin:0 4.2%;
}
.sec4 {
    margin-top: -14.7%;
}
.sec4 .box-title{
	top:9.2%;
}
.sec4 .box-subtitle{
    top:34%;
    left: 0;
}
.sec4 .box-btn-check {
	width: 38.6%;
    top:62.3%;
    left: 30.6%;
}
.modal-swt .content{
	width: 89.4%;
	margin: 40% 0 0 5.3%;
	padding:0;
}
.modal-swt1a .content{ width: 80%; margin: 40% 0 0 9.6%;}
.modal-swt .content .btn-close{
	right: 0; 
	top:0;
	width: 13.4%;
    margin-top: 0;
}
.sec2 .box-title,
.sec2 .box-subtitle,
.sec2 .box-btn-check,
.sec3 .box-title,
.sec3 .box-subtitle31,
.sec3 .box-prod,
.sec3 .box-subtitle32,
.sec4 .box-title,
.sec4 .box-subtitle {
	opacity: 0;
}




