/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1{ }
.sec1 .box-title{
    top: 10.4%;
}
.sec1 .box-prod{
	top:21.3%;
}
.sec1 .box-tag {
    width: 83%;
    top: 69.1%;
        left: 8.5%;
}
.sec1 .box-tag img {
	width: 19.05%;
	margin:0 0.32rem;
}
.sec1 .box-download {
	width: 83.6%;
	top: 82.8%;
	left: 8.2%;
}

.sec2 {
    margin-top: -14.7%;

}
.sec2 .box-title {
	top:8.4%;
}
.sec2 .box-subtitle {
    top:30.3%;
    left: 0;
}
.sec2 .box-prod{
	width: 69.7%;
	top:50%;
	left: 15.06%;
}
.sec2 .box-prod img{
	width: 41.4%;
	margin:0 4.2%;
}

.sec3 {
    margin-top: -14.6%;
}
.sec3 .box-title{
	top: 8.1%;
}
.sec3 .box-subtitle{
    top:32.8%;
    left: 0;
}
.sec3 .box-prod{
	width:26.8%;
	left: 7.3%;
	top:61.2%;
}

.sec4 {
    margin-top: -14.6%;
}
.sec4 .box-title{
	top: 9.8%;
}

.sec4 .box-subtitle{
    top: 32.2%;
    left: 0;
}


.sec4 .box-btn-check {
	width: 38.6%;
    top:63.5%;
    left: 30.6%;
}

.sec5 {
    margin-top: -14.7%;
    z-index: 3;
}
.sec5 .box-title {
	top:9.7%;
}

.sec5 .box-prod{
	width: 74.9%;
	top:31.2%;
	left: 4.2%;
}
.sec5 .box-prod img{
	width: 41.4%;
	margin:0 4.2%;
}
.sec5 .box-subtitle {
    top: 53.5%;
    left: 0;
}
.modal-swt .content{
	width: 89.4%;
	margin: 40% 0 0 5.3%;
	padding:0;
}
.modal-swt .content .btn-close{
	right: 0; 
	top:0;
	width: 13.4%;
    margin-top: 0;
}
.sec2 .box-title,
.sec2 .box-subtitle,
.sec2 .box-prod,
.sec3 .box-title,
.sec3 .box-subtitle,
.sec3 .box-prod,
.sec4 .box-title,
.sec4 .box-subtitle,
.sec5 .box-title,
.sec5 .box-prod,
.sec5 .box-subtitle {
	opacity: 0;
}




