/* 2020/03/11 build */
/* 2020/05/15 update */
/* 2020/06/15 update */
.slash {
	margin-left: 5.8%;
}
.sec1 {
	margin-top: -14.2%;
}
.sec1 .slash {
	margin-bottom: 13%;
}
.sec1 .box-title {
	top: 4.7%;
}
.sec1 .subtitle {
	margin-top: 6.4%;
}
.sec1 .btn-more-m {
	width: 40.4%;
	margin: 57.8% 0 0 30%;
}
.sec1 .swiper-button-prev, .sec1 .swiper-button-next {
	width: 10%;
	height: 8%;
	top: 46.4%;
}
.sec1 .swiper-button-prev {
	left: 2.5%;
	background: url('../../img/mo/about/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec1 .swiper-button-next {
	right: 2.5%;
	background: url('../../img/mo/about/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec1 .swiper-pagination {
	bottom: 11.4%;
}
.sec1 .swiper-pagination .swiper-pagination-bullet {
	width: 1rem;
	height: 1rem;
	margin: 0 1rem;
	background: #fff;
	opacity: 0.5;
}
.sec1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #fff;
	opacity: 1;
}
.sec2 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec2 .box-title2 {
	top: 7.4%;
}
.sec2 .slash {
	margin-bottom: 8%;
}
.sec2 .box-swiper {
	top: 23%;
}
.sec2 .swiper2 {
	padding-top: 20%;
}
.sec2 .swiper-slide .content {
	width: 84%;
	font-size: 1.3rem;
	line-height: 2.34rem;
}
.sec2 .swiper-pagination {
	bottom: 90%;
	padding-left: 3.2%;
	white-space: nowrap;
}
.sec2 .swiper-pagination .swiper-pagination-bullet {
	width: 18%;
	margin: 0 2%!important;
	font-size: 2.16rem;
	line-height: 3.5rem;
	background: transparent;
	border-radius: 0;
	opacity: 0.5;
}
.sec2 .swiper-pagination .swiper-pagination-bullet-active {
	opacity: 1;
}
.sec2 .swiper-pagination .swiper-pagination-bullet .line {
	width: 50%;
	height: 0.26rem;
	background: #ff0000;
	opacity: 0;
}
.sec2 .swiper-pagination .swiper-pagination-bullet-active .line {
	opacity: 1;
}
.sec2 .tip-no {
	margin-top: 10%;
}
.sec2 .modal-loading {
	top: 20%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	top: 12.6%;
}
.sec3 .slash {
	margin-bottom: 9%;
}
.sec3 .subtitle3 {
	margin-top: 15%;
}
.sec3 .btn-more-m {
	width: 40.4%;
	margin: 12% 0 0 9%;
}
/* .sec1 .box-title,
.sec1 .swiper-pagination, */
.sec2 .box-title2,
.sec2 .box-swiper,
.sec3 .box-title3 {
	opacity: 0;
}
