/* 2020/06/17 build */
.sec1 {
	margin-top: -14.2%;
}
.sec1 .content1 {
	width: 90.4%;
	top: 16.8%;
}
.sec1 .slide-title, .sec1 .slide-content {
	border-bottom: 0.1rem solid #000;
}
.sec1 .slide-item:last-child .slide-content {
	border-bottom: none;
}
.sec1 .btn-slide {
	width: 13%;
}
.sec1 .btn-slide .divider {
	background: #000;
}
.sec1 .btn-slide .divider1 {
	width: 46%;
	height: 0.1rem;
	margin-top: 54%;
}
.sec1 .btn-slide .divider2 {
	width: 0.1rem;
	height: 46%;
	top: 30%;
	left: 50%;
}
/* .sec1 .text,
 .sec1 ul {
	opacity: 0;
} */
