/* 2020/03/01 build */
/* 2020/05/21 update */
.sec1 {
	margin-top: -14%;
}
.slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec1 .box-title1-1 {
	top: 7.2%;
}
.sec1 .title1-1 {
	margin-bottom: 10%;
}
.sec1 .divider {
	width: 32%;
	height: 0.2rem;
	top: 49.6%;
	left: 34%;
	background: #d8e3e7;
}
.sec1 .box-title1-2 {
	top: 57.2%;
}
.width50 {
	width: 50%;
}
.sec1 .content1 {
	top: 66%;
}
.sec2 .box-title2 {
	top: 10.8%;
}
.sec2 .title2 {
	margin-bottom: 11%;
}
.sec3 {
	margin-top: -14%;
}
.sec3 .box-title3 {
	top: 10.6%;
}
.sec3 .title3 {
	margin-bottom: 10.6%;
}
.sec4 {
	margin-top: -14%;
}
.sec4 .box-title4 {
	top: 8.4%;
}
.sec4 .title4 {
	margin-bottom: 11%;
}
.sec5 .box-title5 {
	top: 1.6%;
}
.sec5 .title5 {
	margin-bottom: 10.8%;
}
/* .sec1 .box-title1-1,
.sec1 .divider,
.sec1 .box-title1-2,
.sec1 .content1, */
.sec2 .box-title2,
.sec3 .box-title3,
.sec4 .box-title4,
.sec5 .box-title5  {
	opacity: 0;
}
