/* 2020/03/01 build */
/* 2020/04/27 update */
.slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec0 {
	overflow: hidden;
}
.sec0 .box-title0 {
	top: 27.6%;
}
.sec0 .title0 {
	margin-bottom: 8.6%;
}
.sec0 .box-player {
	width: 90.4%;
	top: 35%;
}
.sec0 .btn-player {
	width: 15%;
	top: 34%;
}
.sec0 .box-swiper {
	width: 64.534%;
	top: 56.6%;
}
.sec0 .swiper-container {
	overflow: visible;
}
.sec0 .swiper-container .swiper-pagination {
	bottom: 6%;
}
.sec0 .swiper-pagination .swiper-pagination-bullet {
	width: 0.8rem;
	height: 0.8rem;
	margin: 0 0.9rem!important;
	border-radius: 0;
	background: #d3d3d3;
	opacity: 1;
}
.sec0 .swiper-pagination .swiper-pagination-bullet-active {
	background: #ff0000;
}
.sec1 .box-title1 {
	top: 7.2%;
}
.sec1 .content1 {
	top: 26.6%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 3.8%;
}
.sec2 .content2-1 {
	top: 13.3%;
}
.sec2 .content2-2 {
	top: 41.7%;
}
.sec2 .content2-3 {
	top: 67.7%;
}
.sec2 .btn-check {
	width: 47.4%;
}
.sec2 .content2-1 .btn-check {
	top: 82.4%;
}
.sec2 .content2-2 .btn-check {
	top: 80%;
}
.sec2 .content2-3 .btn-check {
	top: 79.8%;
}
/* .sec0 .box-title0,
.sec0 .box-player,
.sec0 .box-swiper, */
.sec1 .box-title1,
.sec1 .content1 img,
.sec2 .box-title2,
.sec2 .content2-1,
.sec2 .content2-2,
.sec2 .content2-3  {
	opacity: 0;
}
