/* 2020/03/17 build */
.slash {
	margin-left: 6%;
}
.sec1, .sec2 {
	margin-top: -14.2%;
}
.sec .box-title {
	top: 9%;
}
.sec1 .text1, .sec2 .text2 {
	top: 40%;
}
.sec .btn-more {
	width: 47.6%;
	top: 48.4%;
}
/*.sec1 .box-title1,
.sec1 .text1,
.sec1 .btn-more,*/
.sec2 .box-title2,
.sec2 .text2,
.sec2 .btn-more {
	opacity: 0;
}
