/* 2020/03/20 build */
.sec1 {
	margin-top: -6.4%;
	padding-bottom: 10%;
}
.sec1 .slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec1 .box-btns {
	width: 32%;
	bottom: -12%;
}
.sec1 .list-prod {
	margin-top: 16%;
}
.sec1 .list-prod a {
	color: #000;
}
.sec1 .list-prod a:link {
	color: #000;
}
.sec1 .list-prod a:visited {
	color: #000;
}
.sec1 .list-prod a:hover {
	color: #000;
}
.sec1 .list-prod a:active {
	color: #000;
}
.sec1 .prod-item {
	width: 49.8%;
	margin-bottom: 12%;
	vertical-align: top;
	display: inline-block;
}
.sec1 .list-prod a:nth-child(odd) .prod-item {
	border-right: 0.06rem dashed #ccc;
}
.sec1 .prod-name {
	font-size: 1.32rem;
	line-height: 1.6rem;
	padding: 6% 0 10%;
}
.paginationjs .paginationjs-pages, .paginationjs .paginationjs-pages, .paginationjs .paginationjs-pages ul, .paginationjs .paginationjs-pages li {
	float: none;
}
.paginationjs .paginationjs-pages li {
	margin: 1%;
	display: inline-block;
}
.paginationjs .paginationjs-pages li:first-child > a, .paginationjs .paginationjs-pages li:last-child > a {
	padding: 0;
}
.sec1 .modal-loading {
    top: 10%;
}
.modal {
	overflow: scroll;
}
.modal-screen {
	display: none;
}
.modal .content {
	margin-left: 14%;
	padding: 8% 4.6% 15%;
}
.modal .content .content-item {
	margin-top: 3.6%;
}
.modal .title {
	font-size: 1.32rem;
	line-height: 3.8rem;
}
.modal .select-item {
	width: 48.5%;
	font-size: 1.28rem;
	line-height: 3.1rem;
	margin-bottom: 4.5%;
	background: #e5e5e5;
	display: inline-block;
}
.modal .select-item:nth-child(odd) {
	margin-right: 2.6%;
}
.modal .select-item .line {
	height: 0.2rem;
	background: #c00000;
	display: none;
}
.modal .select-item .btn-close {
	width: 5.8%;
	display: none;
}
.modal .select-item.selected {
	background: #f9e5e5;
}
.modal .select-item.selected .line, .modal .select-item.selected .btn-close {
	display: block;
}
.modal .box-btns {
	margin-top: 20%;
}
.modal .box-btns > button {
	width: 48%;
	font-size: 1.2rem;
	line-height: 4rem;
	display: inline-block;
}
.modal .box-btns .btn-reset {
	margin-right: 2.2%;
	background: transparent;
	border: 0.1rem solid #c00000;
}
.modal .box-btns .btn-screen {
	color: #fff;
	background: #000;
	border: 0.1rem solid #000;
}
