/* 2020/03/20 build */
.sec1 {
	margin-top: -6.4%;
	padding-bottom: 10%;
}
.sec1 .slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.sec1 .list-prod {
	margin-top: 16%;
}
.sec1 .list-prod a {
	color: #000;
}
.sec1 .list-prod a:link {
	color: #000;
}
.sec1 .list-prod a:visited {
	color: #000;
}
.sec1 .list-prod a:hover {
	color: #000;
}
.sec1 .list-prod a:active {
	color: #000;
}
.sec1 .prod-item {
	width: 49.8%;
	margin-bottom: 12%;
	vertical-align: top;
	display: inline-block;
}
.sec1 .list-prod a:nth-child(odd) .prod-item {
	border-right: 0.06rem dashed #ccc;
}
.sec1 .prod-name {
	font-size: 1.32rem;
	line-height: 1.6rem;
	padding: 6% 0 10%;
}
.sec1 .modal-loading {
    top: 10%;
}
