/* 2020/06/18 build */
.sec1 {
	margin-top: -14.2%;
	padding-top: 11.6%;
	background: #f4f4f4;
}
.sec1 .slash {
	margin-left: 6%;
	margin-bottom: 8.6%;
}
.sec1 .divider {
	width: 84%;
	height: 0.1rem;
	background: #c3c3c3;
}
.sec1 .box-result {
	width: 84%;
	padding: 10% 0;
}
.sec1 .res-item {
	padding: 4%;
	margin-bottom: 2%;
}
.sec1 .title, .sec1 .data {
	display: inline-block;
}
.sec1 .title {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-bottom: 2%; 
}
.sec1 .res-content {
	font-size: 1.2rem;
	line-height: 2.16rem;
}
.sec1 .date {
	font-size: 1.4rem;
	line-height: 2.1rem;
	margin-top: 2%;
	color: rgba(0, 0, 0, 0.6);
}
.modal-loading {
	top: 20%;
}
/* .sec1 .box-title1,
.sec1 .box-result {
	opacity: 0;
} */
