/* 2020/05/08 build */
.sec0 .box-search {
	width: 86%;
	height: 16%;
	top: 36.8%;
}
.sec0 input {
	text-indent: 3rem;
	font-size: 1.8rem;
	line-height: 5.2rem;
}
.sec1 {
	margin-top: -14.2%;
	padding-top: 11.6%;
	background: #f4f4f4;
}
.sec1 .slash {
	margin-left: 6%;
	margin-bottom: 8.6%;
}
.sec1 .divider {
	width: 84%;
	height: 0.1rem;
	background: #c3c3c3;
	margin-top: 4.8%;
}
.sec1 .box-result {
	width: 84%;
	padding: 10% 0;
	font-size: 1.4rem;
	line-height: 2.52rem;
}
.sec1 .res-item {
	padding: 4%;
	margin-bottom: 2%;
}
.sec1 .box-result a:link {
	color: rgba(0, 0, 0, 0.5);
}
.sec1 .box-result a:visited {
	color: rgba(0, 0, 0, 0.5);
}
.sec1 .box-result a:hover {
	color: rgba(0, 0, 0, 1);
}
.sec1 .box-result a:active {
	color: rgba(0, 0, 0, 0.5);
}
.modal-loading {
	top: 20%;
}
/* .sec1 .box-title1 {
	opacity: 0;
} */
