/* 2020/02/29 build */
/* 2020/04/27 update */
.slash {
	margin-left: 6%;
	margin-bottom: 9%;
}
.box-swiper {
	width: 64.534%;
}
.swiper-container {
	overflow: visible;
}
.swiper-container .swiper-pagination {
	bottom: 0.1%;
}
.swiper-pagination .swiper-pagination-bullet {
	width: 0.8rem;
	height: 0.8rem;
	margin: 0 0.9rem!important;
	border-radius: 0;
	background: #fff;
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
	background: #ff0000;
}
.sec0 {
	z-index: 1;
}
.sec1 {
	margin-top: -43.4%;
}
.sec1 .box-title1 {
	top: 6.8%;
}
.sec1 .subtitle1 {
	margin-top: 4%;
}
.sec1 .box-swiper {
	top: 28%;
}
.sec1, .sec2 {
	overflow: hidden;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
	top: 6.2%;
}
.sec2 .box-swiper {
	top: 28%;
}
/*.sec1 .box-title1,
.sec1 .box-swiper,*/
.sec2 .box-title2,
.sec2 .box-swiper {
	opacity: 0;
}
