/* 2020/03/19 build */
.slash {
	margin-left: 6%;
	margin-bottom: 6.8%;
}
.sec1 {
	margin-top: -6.4%;
}
.sec1 .box-form {
	margin-top: 9%;
	padding: 0 2.8%;
}
.sec1 form {
	height: 4.2rem;
}
select {
	border-radius: 0;
	font-size: 1.2rem;
	line-height: 4.2rem;
	text-indent: 4%;
	background: #ececec;
}
.province, .city {
	width: 43%;
}
.province {
	margin-right: 4%;
}
.btn-pos {
	vertical-align: top;
	display: inline-block;
}
.sec1 .box-swiper {
	margin-top: 10%;
}
.swiper-container {
	padding-bottom: 20%;
}
.box-result li {
	padding: 0 5.2%;
	border-bottom: 0.1rem solid #ccc;
}
.box-result li:first-child {
	border-top: 0.1rem solid #ccc;
}
.res-title {
	font-size: 1.4rem;
	line-height: 2.1rem;
	padding: 4% 0;
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
}
.icon-loc {
	width: 1.15rem;
	height: 1.7rem;
	margin-top: 4%;
	margin-right: 0.6rem;
	vertical-align: top;
	background: url('../../img/mo/support/icon-loc.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.res-title > div {
	-webkit-flex: 1;   /* Chrome */  
    -ms-flex: 1;     /* IE 10 */  
    flex: 1;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;    /* OLD - Firefox 19- */
}
.res-city {
	color: #999;
	font-size: 1rem;
	line-height: 1rem;
}
.sec1 .res-address {
	padding: 2% 0 5%;
	font-size: 1rem;
	line-height: 1.6rem;
}
.sec1 .box-result .btn-pos {
	width: 4.1rem;
	height: 4.1rem;
	top: 30%;
	right: 5%;
	background: url('../../img/mo/support/icon-pos.png') no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}
.tip-no, .tip-error {
	top: 6%;
}
.swiper-pagination {
	bottom: 0;
	font-size: 1.4rem;
	line-height: 1.4rem;
}
.swiper-pagination .swiper-pagination-total {
	color: #666;
}
.sec2 {
	margin-top: 10%;
}
.sec2 .box-title2 {
	top: 3.4%;
}
.sec2 .box-text {
	top: 10.7%;
}
.sec2 .text2-2 {
	margin-top: 9.6%;
}
.sec2 .box-form {
	top: 46.8%;
}
.sec2 form {
	padding: 0 2.8%;
}
.sec2 .form-item {
	height: 4.2rem;
}
.sec2 .form-item1 {
	margin-bottom: 2%;
}
.sec2 .area {
	width: 90%;
}
.sec2 .box-swiper {
	margin-top: 11.8%;
}
.sec2 .res-more {
	font-size: 1.2rem;
	line-height: 1.8rem;
	padding: 2% 0 4%;
}
.sec2 .swiper-pagination {
	bottom: 0;
}
.sec3 {
	margin-top: -2%;
}
.sec3 .content3 {
	width: 84.4%;
}
.sec3 .content3 .btn-policy {
	margin: 15% auto 8%; 
}
.modal .shopmap {
	width: 92%;
	height: 66%;
	margin-top: 10%;
	border-radius: 0.5rem;
}
.modal .btn-close {
	width: 12%;
	margin-top: 1rem;
}