* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.gl_sgl {
  line-height: 1;
}

.gl_sgl .main img {
  width: 100%;
}

.gl_sgl .main .fadeUpAn {
  opacity: 0;
}

.gl_sgl .sec {
  margin-top: -14.0625%;
}

.gl_sgl .sec .content {
  display: flex;
  justify-content: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  margin-top: 9.21053%;
}

.gl_sgl .sec .content .titleBox {
  width: 79.16667%;
  margin-left: 1.64474%;
}

.gl_sgl .sec .content .titleBox .titleicon {
  width: 3.35526%;
}

.gl_sgl .sec .content .titleBox .title {
  margin-left: 6.57895%;
  font-size: initial;
  color: #fff;
}

.gl_sgl .sec .content .swiper-pagination-outer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gl_sgl .sec1 {
  margin-top: 0;
  z-index: 5;
}

.gl_sgl .sec1 .content {
  top: 7.7%;
  margin-top: 0;
}

.gl_sgl .sec1 .box-colors .color-item {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: initial;
  opacity: 1;
}

.gl_sgl .sec1 .box-colors .color-item_w {
  background: #fff;
}

.gl_sgl .sec1 .box-colors .color-item_br {
  background: #611a2b;
}

.gl_sgl .sec1 .box-colors .color-item_b {
  background: #000;
}

.gl_sgl .sec1 .box-colors .color-item_w.active {
  background: #fff;
}

.gl_sgl .sec1 .box-colors .color-item_br.active {
  background: #611a2b;
}

.gl_sgl .sec1 .box-colors .color-item_b.active {
  background: #000;
}

.gl_sgl .sec1 .box-colors .color-item.active::before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 26px;
  height: 26px;
  border: 1px solid #868686;
}

.gl_sgl .sec11 {
  margin-top: 0;
  z-index: 5;
}

.gl_sgl .sec11 .content {
  top: 7.7%;
  margin-top: 0;
}

.gl_sgl .sec11 .itemleft {
  width: 39.58333%;
  padding-top: 5.20833%;
}

.gl_sgl .sec11 .itemleft .itemInfo {
  width: 100%;
  margin-left: 15.78947%;
}

.gl_sgl .sec11 .itemleft .box-title {
  letter-spacing: 0.2rem !important;
}

.gl_sgl .sec11 .itemleft .box-tag {
  display: flex;
  margin: 5.26316% 0;
}

.gl_sgl .sec11 .itemleft .box-tag div {
  width: 11.84211%;
  margin-right: 1.84211%;
}

.gl_sgl .sec11 .itemleft .box-download {
  width: 52.63158%;
}

.gl_sgl .sec11 .itemright {
  width: 39.58333%;
  overflow: hidden;
}

.gl_sgl .sec11 .itemright .itemInfo {
  width: 100%;
  margin-left: 32.23684%;
}

.gl_sgl .sec11 .itemright .product {
  width: 23.02632%;
}

.gl_sgl .sec11 .box-colors {
  display: flex;
  justify-content: space-evenly;
  margin-top: 17.14286%;
  margin-bottom: 5.71429%;
}

.gl_sgl .sec11 .box-colors .color-item {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: initial;
  opacity: 1;
}

.gl_sgl .sec11 .box-colors .color-item_w {
  background: #fff;
}

.gl_sgl .sec11 .box-colors .color-item_br {
  background: #611a2b;
}

.gl_sgl .sec11 .box-colors .color-item_b {
  background: #000;
}

.gl_sgl .sec11 .box-colors .color-item_w.active {
  background: #fff;
}

.gl_sgl .sec11 .box-colors .color-item_br.active {
  background: #611a2b;
}

.gl_sgl .sec11 .box-colors .color-item_b.active {
  background: #000;
}

.gl_sgl .sec11 .box-colors .color-item.active::before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 26px;
  height: 26px;
  border: 1px solid #868686;
}

.gl_sgl .sec11 .level3 {
  top: 0;
  left: 32.23684%;
  width: 14.34211%;
}

.gl_sgl .sec11 .level4 {
  top: 11.84211%;
  left: 32.23684%;
  width: 14.34211%;
}

.gl_sgl .sec11 .btn-360 {
  top: 0;
  left: 32.23684%;
  width: 7.23684%;
  margin-top: 61.84211%;
}

.gl_sgl .sec11 .btn-180 {
  top: 0;
  left: 42.10526%;
  width: 7.23684%;
  margin-top: 61.84211%;
}

.gl_sgl .sec3 {
  z-index: 4;
}

.gl_sgl .sec3 .titleBox .title h3 {
  color: #000;
}

.gl_sgl .sec3 .swiperBox {
  width: 100%;
  margin-top: 9.375%;
}

.gl_sgl .sec3 .swiperBox .swiperTitle {
  width: 40.52083%;
  margin: 0 auto;
}

.gl_sgl .sec3 .swiperBox .swiperTxt {
  bottom: 0;
  right: 25.26316%;
  width: 17.23958%;
  z-index: 1;
}

.gl_sgl .sec3 .swiperBox .swiperTxtzh {
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  width: 20.24169%;
}

.gl_sgl .sec3 .swiperBox .swiperTxt8400 {
  width: 17.1875%;
  margin: 0 auto;
  margin-top: 2.34375%;
}

.gl_sgl .sec3 .swiperBox .swiperSelect {
  width: 23.17708%;
  margin: 0 auto;
  margin-top: 4.16667%;
}

.gl_sgl .sec3 .swiper3 {
  width: 100%;
  margin-top: 2.60417%;
}

.gl_sgl .sec3 .swiper3 .swiper-slide .product {
  position: relative;
  width: 137.8125%;
  margin-left: -19.14062%;
}

.gl_sgl .sec3 .swiper3 .swiper-slide .section3_product_cold {
  top: 0;
  left: 0;
  width: 19.19879%;
  margin-top: 7.55858%;
  margin-left: 74.30083%;
}

.gl_sgl .sec3 .swiper3 .swiper-slide .section3_product_hot {
  top: 0;
  left: 0;
  width: 21.84429%;
  margin-top: 9.22147%;
  margin-left: 13.3031%;
}

.gl_sgl .sec3 .swiper3 .swiper3-button-prev {
  left: 20%;
  width: 38px;
  height: 64px;
  background: url("../../../img/pc/seriesgs/xs_sxs/section3_prev.png") no-repeat;
}

.gl_sgl .sec3 .swiper3 .swiper3-button-next {
  right: 20%;
  width: 38px;
  height: 64px;
  background: url("../../../img/pc/seriesgs/xs_sxs/section3_next.png") no-repeat;
}

.gl_sgl .sec5 {
  z-index: 2;
}

.gl_sgl .sec5 .section5_product {
  top: 0;
  right: 0;
  width: 20.83333%;
  margin-top: 11.45833%;
  margin-right: 10.9375%;
}

.gl_sgl .sec5 .titleBox {
  z-index: 2;
}

.gl_sgl .sec5 .titleBox .title h3 {
  color: #2f4868;
}

.gl_sgl .sec5 .sec5Img {
  right: 27.86458%;
  width: 14.94792%;
  margin-top: 39.21875%;
}

.gl_sgl .sec5 .sec5Txt {
  left: 25.83333%;
  width: 24.27083%;
  margin-top: 44.27083%;
}

.gl_sgl .sec5-2 {
  z-index: 1;
}

.gl_sgl .sec5-2 .section5_product {
  top: 0;
  right: 0;
  width: 20.83333%;
  margin-top: 11.45833%;
  margin-right: 10.9375%;
}

.gl_sgl .sec5-2 .titleBox {
  z-index: 2;
}

.gl_sgl .sec5-2 .titleBox .title h3 {
  color: #000;
}

.gl_sgl .sec5-2 .sec5Img {
  right: 7.55208%;
  width: 18.59375%;
  margin-top: 13.54167%;
}

.gl_sgl .sec5-2 .sec5Txt {
  left: 16.82292%;
  width: 31.77083%;
  margin-top: 61.71875%;
}

.gl_sgl .sec4 {
  z-index: 0;
}

.gl_sgl .sec4 .titleBox {
  z-index: 2;
  margin-top: -3.5%;
}

.gl_sgl .sec4 .titleBox .title h3 {
  color: #000;
}

.gl_sgl .sec4 .swiperBox {
  width: 100%;
}

.gl_sgl .sec4 .swiperBox .sec4infoBox {
  top: 0;
  margin-left: 8.17708%;
  margin-top: 6.48824%;
  width: 45.26042%;
  z-index: 1;
}

.gl_sgl .sec4 .swiperBox .infoBox {
  width: 100%;
  margin: 0 auto;
}

.gl_sgl .sec4 .swiperBox .swiper4-button-prev {
  left: 0;
  width: 26px;
  height: 49px;
  background: url("../../../img/pc/seriesgs/xs_sxs/section4_prev.png") no-repeat;
  background-size: cover;
  top: 42%;
  margin-top: -24.5px;
}

.gl_sgl .sec4 .swiperBox .swiper4-button-next {
  right: 0;
  width: 26px;
  height: 49px;
  background: url("../../../img/pc/seriesgs/xs_sxs/section4_next.png") no-repeat;
  background-size: cover;
  top: 42%;
  margin-top: -24.5px;
}

.gl_sgl .sec4 .swiper4 {
  width: 100%;
  margin-top: -9.21053%;
}

.gl_sgl .sec4 .swiper4 .swiper-slide .product {
  width: 100%;
  margin: 0 auto;
}

.gl_sgl .sec4 .swiper4 .swiper-slide .product .section4_product_1 {
  width: 17.03125%;
  top: 0;
  left: 72.55208%;
  margin-top: 14.21875%;
}

.gl_sgl .sec4 .swiper4 .swiper-slide .product .section4_f_qfw {
  top: 0;
  margin-top: -14.0625%;
  right: 0;
  width: 88.33333%;
  transform: scale(1);
  transform-origin: 72.52358% 51.5873%;
}

.gl_sgl .sec4 .swiper4 .swiper-slide .product .section4_f_nfxc {
  top: 0;
  margin-top: 12.44792%;
  right: 13.48958%;
  width: 78.4375%;
  transform: scale(1);
}

.gl_sgl .sec4 .swiper4 .swiper-slide .product .section4_f_zy {
  top: 0;
  margin-top: 12.44792%;
  right: 13.48958%;
  width: 78.4375%;
  transform: scale(1);
}

.gl_sgl .sec4 .swiper4 .swiper-slide .product .section4_f_sx {
  top: 0;
  margin-top: 0;
  right: 13.48958%;
  width: 78.4375%;
  transform: scale(1);
  transform-origin: 89.56146% 45.3579%;
}

.gl_sgl .sec4 .swiper4 .swiper-slide .product .section4_f_12 {
  top: 0;
  margin-top: 12.44792%;
  right: 13.48958%;
  width: 78.4375%;
  transform: scale(1);
}

.gl_sgl .sec4 .swiper4-pagination {
  bottom: 0%;
}

.gl_sgl .sec4 .swiper4-pagination .swiper-pagination-bullet {
  margin: 0 1rem;
  background: #dcdbd8;
  opacity: 1;
}

.gl_sgl .sec4 .swiper4-pagination .swiper-pagination-bullet-active {
  background: #463228;
}

.gl_sgl .sec6 .swiperBox {
  width: 100%;
  margin-top: 6.25%;
}

.gl_sgl .sec6 .swiper6 {
  width: 100%;
}

.gl_sgl .sec6 .swiper6 .swiper-slide .product {
  width: 111.04167%;
  margin-left: -5.55208%;
}

.gl_sgl .sec6 .swiper6 .swiper6-button-prev {
  width: 26px;
  height: 49px;
  background: url("../../../img/pc/seriesgs/xs_sxs/section4_prev.png") no-repeat;
  left: 22.8%;
}

.gl_sgl .sec6 .swiper6 .swiper6-button-next {
  width: 26px;
  height: 49px;
  background: url("../../../img/pc/seriesgs/xs_sxs/section4_next.png") no-repeat;
  right: 23.3%;
}

.gl_sgl .sec6 .swiper6-pagination {
  bottom: -8%;
}

.gl_sgl .sec6 .swiper6-pagination .swiper-pagination-bullet {
  margin: 0 1rem;
  background: #c8c8c8;
  opacity: 1;
}

.gl_sgl .sec6 .swiper6-pagination .swiper-pagination-bullet-active {
  background: #41596f;
}

.gl_sgl .sectj {
  height: calc(50vw);
}

.gl_sgl .sectj .titleBox {
  z-index: 2;
}

.gl_sgl .sectj .titleBox .title h3 {
  color: #000;
}

.gl_sgl .sectj .swiperBox {
  width: 100%;
  margin-top: 10.9375%;
}

.gl_sgl .sectj .swipertj {
  width: 73.75%;
}

.gl_sgl .sectj .swipertj .swiper-slide {
  width: 100%;
  padding: 0 1.40625%;
}

.gl_sgl .sectj .swipertj .swiper-slide .swiperTxt {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
}

.gl_sgl .sectj .swipertj .swiper-slide .swiperBtn {
  margin-top: 25px;
  padding: 0 15%;
}

.gl_sgl .sectj .swipertj-pagination {
  bottom: -10%;
}

.gl_sgl .sectj .swipertj-pagination .swiper-pagination-bullet {
  margin: 0 1rem;
  background: #d9d9d9;
  opacity: 1;
}

.gl_sgl .sectj .swipertj-pagination .swiper-pagination-bullet-active {
  background: #523e34;
}

.gl_sgl .box-preview {
  width: 24%;
}

@keyframes section4_f_qfw_an {
  0% {
    transform: scale(0.3);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes section4_f_nf_an {
  0% {
    transform: scale(0.5) skewY(0);
  }
  70% {
    opacity: 1;
    transform: scale(1) skewY(-30deg);
  }
  100% {
    opacity: 0;
    transform: scale(1) skewY(-30deg);
  }
}

@keyframes section4_f_zy_an {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg);
  }
}

@keyframes section4_f_sx_an {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(90deg);
  }
}

@keyframes section4_f_12_an {
  0% {
    transform: scale(0.5);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
