
.component-select .sec {
  margin-top: 0 !important; }
  .component-select .sec .content {
    display: block !important;
    left: auto !important;
    transform: inherit !important;
    margin-top: 0 !important; }
  .component-select .sec .box-title h3 {
    margin-left: 5.8% !important; }
  .component-select .sec .content-select {
    margin-top: 5.6% !important; }
