.sec1 .itemleft {
  width: 39.58333%;
  padding-top: 5.20833%; }
  .sec1 .itemleft .itemInfo {
    width: 100%;
    margin-left: 34.86842%; }
  .sec1 .itemleft .box-title {
    letter-spacing: 0.2rem !important; }
  .sec1 .itemleft .box-tag {
    display: flex;
    margin: 5.26316% 0; }
    .sec1 .itemleft .box-tag div {
      width: 11.84211%;
      margin-right: 1.84211%; }
  .sec1 .itemleft .box-download {
    width: 52.63158%; }

.sec1 .itemright {
  width: 39.58333%;
  overflow: hidden; }
  .sec1 .itemright .itemInfo {
    width: 100%;
    margin-left: 46.05263%; }
  .sec1 .itemright .product {
    width: 23.02632%;
    padding-bottom: 20px; }

.sec1 .box-colors {
  display: flex;
  justify-content: space-evenly;
  margin-top: 17.14286%;
  margin-bottom: 5.71429%;
  top: 0;
  margin-top: 65.78947%;
  left: -18.42105%; }
  .sec1 .box-colors .color-item {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: initial;
    opacity: 1; }
  .sec1 .box-colors .color-item_w {
    background: #fff; }
  .sec1 .box-colors .color-item_br {
    background: #4b0408; }
  .sec1 .box-colors .color-item_w.active {
    background: #fff; }
  .sec1 .box-colors .color-item_br.active {
    background: #4b0408; }
  .sec1 .box-colors .color-item.active::before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
    width: 26px;
    height: 26px;
    border: 1px solid #868686; }

.sec1 .level1 {
  margin-top: 1.31579%;
  left: 77.63158%;
  width: 10.13158%; }

.sec1 .levelnx {
  margin-top: 1.31579%;
  left: 77.63158%;
  width: 10.13158%; }

.sec1 .btn-360 {
  top: 0;
  left: -23.02632%;
  width: 7.23684%;
  margin-top: 52.63158%; }

.sec1 .btn-180 {
  top: 0;
  left: -13.81579%;
  width: 7.23684%;
  margin-top: 52.63158%; }
