* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

.vs {
  line-height: 1; }
  .vs .main img {
    width: 100%; }
  .vs .main .fadeUpAn {
    opacity: 0; }
  .vs .sec {
    margin-top: -14.0625%; }
    .vs .sec .content {
      display: flex;
      justify-content: center;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      margin-top: 9.21053%; }
      .vs .sec .content .titleBox {
        width: 79.16667%;
        margin-left: 1.64474%; }
        .vs .sec .content .titleBox .titleicon {
          width: 3.35526%; }
        .vs .sec .content .titleBox .title {
          margin-left: 6.57895%;
          font-size: initial;
          color: #fff; }
      .vs .sec .content .swiper-pagination-outer {
        display: flex;
        justify-content: center;
        width: 100%; }
  .vs .sec1 {
    margin-top: 0;
    z-index: 5; }
    .vs .sec1 .content {
      top: 7.7%;
      margin-top: 0; }
    .vs .sec1 .box-colors .color-item {
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: initial;
      opacity: 1; }
    .vs .sec1 .box-colors .color-item_w {
      background: #fff; }
    .vs .sec1 .box-colors .color-item_b {
      background: #42454b; }
    .vs .sec1 .box-colors .color-item_w.active {
      background: #fff; }
    .vs .sec1 .box-colors .color-item_b.active {
      background: #42454b; }
    .vs .sec1 .box-colors .color-item.active::before {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      width: 26px;
      height: 26px;
      border: 1px solid #868686; }
  .vs .sec11 {
    margin-top: 0;
    z-index: 5; }
    .vs .sec11 .content {
      top: 7.7%;
      margin-top: 0; }
    .vs .sec11 .itemleft {
      width: 39.58333%;
      padding-top: 5.20833%; }
      .vs .sec11 .itemleft .itemInfo {
        width: 100%;
        margin-left: 15.78947%; }
      .vs .sec11 .itemleft .box-title {
        letter-spacing: 0.2rem !important; }
      .vs .sec11 .itemleft .box-tag {
        display: flex;
        margin: 5.26316% 0; }
        .vs .sec11 .itemleft .box-tag div {
          width: 11.84211%;
          margin-right: 1.84211%; }
      .vs .sec11 .itemleft .box-download {
        width: 52.63158%; }
    .vs .sec11 .itemright {
      width: 39.58333%;
      overflow: hidden; }
      .vs .sec11 .itemright .itemInfo {
        width: 100%;
        margin-left: 32.23684%; }
      .vs .sec11 .itemright .product {
        width: 23.02632%; }
    .vs .sec11 .box-colors {
      display: flex;
      justify-content: space-evenly;
      margin-top: 17.14286%;
      margin-bottom: 5.71429%; }
      .vs .sec11 .box-colors .color-item {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: initial;
        opacity: 1; }
      .vs .sec11 .box-colors .color-item_w {
        background: #fff; }
      .vs .sec11 .box-colors .color-item_b {
        background: #42454b; }
      .vs .sec11 .box-colors .color-item_w.active {
        background: #fff; }
      .vs .sec11 .box-colors .color-item_b.active {
        background: #42454b; }
      .vs .sec11 .box-colors .color-item.active::before {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        left: -4px;
        width: 26px;
        height: 26px;
        border: 1px solid #868686; }
    .vs .sec11 .level1 {
      top: 0;
      left: 32.23684%;
      width: 14.34211%; }
    .vs .sec11 .btn-360 {
      top: 0;
      left: 32.23684%;
      width: 7.23684%;
      margin-top: 61.84211%; }
    .vs .sec11 .btn-180 {
      top: 0;
      left: 42.10526%;
      width: 7.23684%;
      margin-top: 61.84211%; }
  .vs .sec3 {
    z-index: 4; }
    .vs .sec3 .titleBox .title h3 {
      color: #000; }
    .vs .sec3 .swiperBox {
      width: 100%;
      margin-top: 9.375%; }
      .vs .sec3 .swiperBox .swiperTitle {
        width: 27.91667%;
        margin: 0 auto; }
      .vs .sec3 .swiperBox .swiperTxt {
        bottom: 0;
        right: 25.26316%;
        width: 17.23958%;
        z-index: 1; }
      .vs .sec3 .swiperBox .swiperTxtzh {
        top: 105%;
        left: 50%;
        transform: translateX(-50%);
        width: 20.24169%; }
      .vs .sec3 .swiperBox .swiperTxt8400 {
        width: 17.1875%;
        margin: 0 auto;
        margin-top: 2.34375%; }
      .vs .sec3 .swiperBox .swiperSelect {
        width: 23.17708%;
        margin: 0 auto;
        margin-top: 4.16667%; }
    .vs .sec3 .swiper3 {
      width: 100%;
      margin-top: 2.60417%; }
      .vs .sec3 .swiper3 .swiper-slide .product {
        width: 137.8125%;
        margin-left: -19.14062%; }
      .vs .sec3 .swiper3 .swiper3-button-prev {
        left: 20%;
        width: 38px;
        height: 64px;
        background: url("../../../img/pc/seriesgs/xs_sxs/section3_prev.png") no-repeat; }
      .vs .sec3 .swiper3 .swiper3-button-next {
        right: 20%;
        width: 38px;
        height: 64px;
        background: url("../../../img/pc/seriesgs/xs_sxs/section3_next.png") no-repeat; }
        .vs .sec5 {
    z-index: 2; }
    .vs .sec5 .titleBox {
      z-index: 2; }
      .vs .sec5 .titleBox .title h3 {
        color: #2f4868; }
    .vs .sec5 .sec5Img {
      right: 27.8125%;
      width: 14.94792%;
      margin-top: 40.26042%; }
    .vs .sec5 .sec5Txt {
      left: 25.52083%;
      width: 23.90625%;
      margin-top: 45.46875%; }
  .vs .sec4 {
    z-index: 1; margin-top: -14.2625%; position: relative; }
    .vs .sec4 .content222{
      width: 100%; position: absolute; left: 0;top:0; height: 100%;
    }
    .vs .sec4 .titleBox {
      z-index: 2;
        left: 11.6%; top:7%;
       }
      .vs .sec4 .titleBox .title h3 {
        color: #000; }
    .vs .sec4 .swiperBox {
      width: 100%; }
      .vs .sec4 .swiperBox .sec4infoBox {
        top:22.65%;
        
        left: 10.4%;
        width: 41%;
        /*height: calc(34.43531%);*/
        /*background: rgba(255, 255, 255, 0.7);*/
        /*clip-path: polygon(100% 0%, 100% 100%, -66% 0%, -100% 0%);*/
        z-index: 1; }
      .vs .sec4 .swiperBox .infoBox {
        width: 100%;
        margin: 0 auto; }
      .vs .sec4 .swiperBox .swiper4-button-prev {
        top:33%;
        left: 8%;
        width: 26px;
        height: 49px;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_prev.png") no-repeat; }
      .vs .sec4 .swiperBox .swiper4-button-next {
        left: 51.6%;
        top:33%;
        width: 26px;
        height: 49px;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_next.png") no-repeat; }
    .vs .sec4 .swiper4 {
      width: 100%;
      margin-top: 0; }
      .vs .sec4 .swiper4 .swiper-slide .product {
        width: 100%;
        margin: 0 auto;  opacity: 0;}
         .vs .sec4 .swiper4 .swiper-slide.swiper-slide-active .product{ opacity: 1; }
        .vs .sec4 .swiper4 .swiper-slide .product .section4_product_1 {
          width: 15.10417%;
          top: 0;
          left: 70.26042%;
          margin-top: 17.34375%; }
        .vs .sec4 .swiper4 .swiper-slide .product .section4_f_qfw {
          top: 0;
          margin-top: -19.27083%;
          right: 0.52083%;
          width: 88.33333%;
          transform: scale(1);
          transform-origin: 72.52358% 51.5873%; }
        .vs .sec4 .swiper4 .swiper-slide .product .section4_f_nf {
          top: 0;
          margin-top: 18.22917%;
          right: 21.45833%;
          width: 66.45833%;
          transform: scale(1);
          transform-origin: 100% 3.05623%; }
        .vs .sec4 .swiper4 .swiper-slide .product .section4_f_zy {
          top: 0;
          margin-top: 10.9375%;
          right: 13.28125%;
          width: 84.0625%;
          transform: scale(1);
          transform-origin: 90.22611% 14.55869%; }
        .vs .sec4 .swiper4 .swiper-slide .product .section4_f_sx {
          top: 0;
          margin-top: -9.375%;
          right: 16.66667%;
          width: 76.04167%;
          transform: scale(1);
          transform-origin: 89.56146% 45.3579%; }
        .vs .sec4 .swiper4 .swiper-slide .product .section4_f_12 {
          top: 0;
          margin-top: 18.22917%;
          left: -0.10417%;
          width: 78.64583%;
          transform: scale(1);
          transform-origin: 100% 4.77099%; }

/*//0619 str*/
 .vs .sec4 .swiper4 .swiper-slide .product .section4_1bgf{ width: 100%; left: 0; top:0;  }
  .vs .sec4 .swiper4 .swiper-slide .product .section4_infont{ 
    position: absolute;
        top: 22.65%;
    left: 10.4%;
    width: 41%;
  }
/*//0619 end*/
    .vs .sec4 .swiper4-pagination {
      top: 44.3%; left:26.3% }
      .vs .sec4 .swiper4-pagination .swiper-pagination-bullet {
        margin: 0 1rem;
        background: #a2a2a2;
        opacity: 1; }
      .vs .sec4 .swiper4-pagination .swiper-pagination-bullet-active {
        background: #463228; }
  .vs .sec6 {
    z-index: 1; }
    .vs .sec6 .swiperBox {
      width: 100%;
      margin-top: 6.25%; }
    .vs .sec6 .swiper6 {
      width: 100%; }
      .vs .sec6 .swiper6 .swiper-slide .product {
        width: 111.04167%;
        margin-left: -5.55208%; }
      .vs .sec6 .swiper6 .swiper6-button-prev {
        width: 26px;
        height: 49px;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_prev.png") no-repeat; }
      .vs .sec6 .swiper6 .swiper6-button-next {
        width: 26px;
        height: 49px;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_next.png") no-repeat; }
    .vs .sec6 .swiper6-pagination {
      bottom: -8%; }
      .vs .sec6 .swiper6-pagination .swiper-pagination-bullet {
        margin: 0 1rem;
        background: #c8c8c8;
        opacity: 1; }
      .vs .sec6 .swiper6-pagination .swiper-pagination-bullet-active {
        background: #41596f; }
  .vs .sectj {
    height: calc(50vw); }
    .vs .sectj .titleBox {
      z-index: 2; }
      .vs .sectj .titleBox .title h3 {
        color: #000; }
    .vs .sectj .swiperBox {
      width: 100%;
      margin-top: 10.9375%; }
    .vs .sectj .swipertj {
      width: 73.75%; }
      .vs .sectj .swipertj .swiper-slide {
        width: 100%;
        padding: 0 1.40625%; }
        .vs .sectj .swipertj .swiper-slide .swiperTxt {
          margin-top: 25px;
          font-size: 16px;
          text-align: center; }
        .vs .sectj .swipertj .swiper-slide .swiperBtn {
          margin-top: 25px;
          padding: 0 15%; }
    .vs .sectj .swipertj-pagination {
      bottom: -10%; }
      .vs .sectj .swipertj-pagination .swiper-pagination-bullet {
        margin: 0 1rem;
        background: #d9d9d9;
        opacity: 1; }
      .vs .sectj .swipertj-pagination .swiper-pagination-bullet-active {
        background: #523e34; }
      .box-preview {
        width: 24%;
      }

@keyframes section4_f_qfw_an {
  0% {
    transform: scale(0.3); }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0; } }

@keyframes section4_f_nf_an {
  0% {
    transform: scale(0.5) skewY(0); }
  70% {
    opacity: 1;
    transform: scale(1) skewY(-30deg); }
  100% {
    opacity: 0;
    transform: scale(1) skewY(-30deg); } }

@keyframes section4_f_zy_an {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(90deg); } }

@keyframes section4_f_sx_an {
  from {
    transform: rotateX(0); }
  to {
    transform: rotateX(90deg); } }

@keyframes section4_f_12_an {
  0% {
    transform: scale(0.5); }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
