* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

.vj_mvj {
  line-height: 1; }
  .vj_mvj .main img {
    width: 100%; }
  .vj_mvj .main .fadeUpAn {
    opacity: 0; }
  .vj_mvj .sec {
    margin-top: -14.0625%; }
    .vj_mvj .sec .content {
      display: flex;
      justify-content: center;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      margin-top: 9.21053%; }
      .vj_mvj .sec .content .titleBox {
        width: 79.16667%;
        margin-left: 1.64474%; }
        .vj_mvj .sec .content .titleBox .titleicon {
          width: 3.35526%; }
        .vj_mvj .sec .content .titleBox .title {
          margin-left: 6.57895%;
          font-size: initial;
          color: #fff; }
      .vj_mvj .sec .content .swiper-pagination-outer {
        display: flex;
        justify-content: center;
        width: 100%; }
  .vj_mvj .sec1 {
    margin-top: 0;
    z-index: 5; }
    .vj_mvj .sec1 .content {
      top: 7.7%;
      margin-top: 0; }
    .vj_mvj .sec1 .box-colors .color-item_y {
      background: #dbc7bb; }
    .vj_mvj .sec1 .box-colors .color-item_b {
      background: #42454b; }
    .vj_mvj .sec1 .box-colors .color-item_y.active {
      background: #dbc7bb; }
    .vj_mvj .sec1 .box-colors .color-item_b.active {
      background: #42454b; }
    .vj_mvj .sec1 .box-colors .color-item.active::before {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      width: 26px;
      height: 26px;
      border: 1px solid #868686; }
  .vj_mvj .sec11 .itemleft {
    width: 39.58333%;
    padding-top: 5.20833%; }
    .vj_mvj .sec11 .itemleft .itemInfo {
      width: 100%;
      margin-left: 15.78947%; }
    .vj_mvj .sec11 .itemleft .box-title {
      letter-spacing: 0.2rem !important; }
    .vj_mvj .sec11 .itemleft .box-tag {
      display: flex;
      margin: 5.26316% 0; }
      .vj_mvj .sec11 .itemleft .box-tag div {
        width: 11.84211%;
        margin-right: 1.84211%; }
    .vj_mvj .sec11 .itemleft .box-download {
      width: 52.63158%; }
  .vj_mvj .sec11 .itemright {
    width: 39.58333%;
    overflow: hidden; }
    .vj_mvj .sec11 .itemright .itemInfo {
      width: 100%;
      margin-left: 32.23684%; }
    .vj_mvj .sec11 .itemright .product {
      width: 23.02632%; }
  .vj_mvj .sec11 .box-colors {
    display: flex;
    justify-content: space-evenly;
    margin-top: 17.14286%;
    margin-bottom: 5.71429%; }
    .vj_mvj .sec11 .box-colors .color-item {
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: initial;
      opacity: 1; }
    .vj_mvj .sec11 .box-colors .color-item_y {
      background: #dbc7bb; }
    .vj_mvj .sec11 .box-colors .color-item_b {
      background: #42454b; }
    .vj_mvj .sec11 .box-colors .color-item_y.active {
      background: #dbc7bb; }
    .vj_mvj .sec11 .box-colors .color-item_b.active {
      background: #42454b; }
    .vj_mvj .sec11 .box-colors .color-item.active::before {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      width: 26px;
      height: 26px;
      border: 1px solid #868686; }
  .vj_mvj .sec11 .level1 {
    top: 0;
    left: 32.23684%;
    width: 14.34211%; }
  .vj_mvj .sec11 .btn-360 {
    top: 0;
    left: 32.23684%;
    width: 7.23684%;
    margin-top: 61.84211%; }
  .vj_mvj .sec11 .btn-180 {
    top: 0;
    left: 42.10526%;
    width: 7.23684%;
    margin-top: 61.84211%; }
  .vj_mvj .sec3 {
    z-index: 4; }
    .colorcold {
      color: #052441;
    }
    .colorhot {
      color: #631e00;
    }
    .vj_mvj .sec3 .swiperBox {
      width: 100%;
      margin-top: 9.375%; }
      .vj_mvj .sec3 .swiperBox .swiperTitle {
        width: 40.52083%;
        margin: 0 auto; }
      .vj_mvj .sec3 .swiperBox .swiperTxt {
        bottom: 0;
        right: 25.26316%;
        width: 17.23958%;
        z-index: 1; }
      .vj_mvj .sec3 .swiperBox .swiperTxtzh {
        top: 105%;
        left: 50%;
        transform: translateX(-50%);
        width: 20.24169%; }
      .vj_mvj .sec3 .swiperBox .swiperTxt8400 {
        width: 17.1875%;
        margin: 0 auto;
        margin-top: 2.34375%; }
      .vj_mvj .sec3 .swiperBox .swiperSelect {
        width: 23.17708%;
        margin: 0 auto;
        margin-top: 4.16667%; }
    .vj_mvj .sec3 .swiper3 {
      width: 100%;
      margin-top: 2.60417%; }
      .vj_mvj .sec3 .swiper3 .swiper-slide .product {
        width: 137.8125%;
        margin-left: -19.14062%; }
        .vj_mvj .sec3 .swiper3 .swiper3-button-prev, .vj_mvj .sec3 .swiper3 .swiper3-button-next {
          width: 3%;
          height: 10%;
        }
      .vj_mvj .sec3 .swiper3 .swiper3-button-prev {
        left: 20%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section3_prev.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
      .vj_mvj .sec3 .swiper3 .swiper3-button-next {
        right: 20%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section3_next.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
  .vj_mvj .sec4 {
    z-index: 3; }
    .vj_mvj .sec4 .titleBox {
      top: -8.2%;
      z-index: 2; }
      .vj_mvj .sec4 .titleBox .title h3 {
        color: #000; }
    .vj_mvj .sec4 .swiperBox {
      width: 100%; }
      .vj_mvj .sec4 .swiperBox .text4-1, .vj_mvj .sec4 .swiperBox .text4-2 {
        width: 35.209%;
        top: 24.4%;
        left: 12.6%;
      }
      .vj_mvj .sec4 .swiperBox .swiper4-button-prev, .vj_mvj .sec4 .swiperBox .swiper4-button-next {
        width: 2%;
        height: 4%;
        top: 33.8%;
      }
      .vj_mvj .sec4 .swiperBox .swiper4-button-prev {
        left: 7.6%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_prev.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
      .vj_mvj .sec4 .swiperBox .swiper4-button-next {
        left: 51.4%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_next.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
    .vj_mvj .sec4 .swiper4 {
      width: 100%;
      margin-top: -9.21053%; }
      .vj_mvj .sec4 .swiper4 .swiper-slide .product {
        width: 100%;
        margin: 0 auto; }
        .vj_mvj .sec4 .swiper4 .swiper-slide .product .section4_product_1 {
          width: 16.875%;
          top: 24.7%;
          left: 73%; }
        .vj_mvj .sec4 .swiper4 .swiper-slide .product .wind4-1 {
          width: 81.667%;
          top: 26.2%;
          right: 18.4%; }
    .vj_mvj .sec4 .swiper4-pagination {
      bottom: 53.6%;
      left: 29%;
      text-align: left; }
      .vj_mvj .sec4 .swiper4-pagination .swiper-pagination-bullet {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 1.2rem;
        background: #fff;
        opacity: 0.5; }
      .vj_mvj .sec4 .swiper4-pagination .swiper-pagination-bullet-active {
        background: #463228;
        opacity: 1; }
  .vj_mvj .sec6 {
    z-index: 3; }
    .vj_mvj .sec6 .swiperBox {
      width: 100%;
      margin-top: 6.25%; }
    .vj_mvj .sec6 .swiper6 {
      width: 100%; }
      .vj_mvj .sec6 .swiper6 .swiper-slide .product {
        width: 111.04167%;
        margin-left: -5.55208%; }
        .vj_mvj .sec6 .swiper6 .swiper6-button-prev, .vj_mvj .sec6 .swiper6 .swiper6-button-next {
          width: 2%;
          height: 9%;
        }
      .vj_mvj .sec6 .swiper6 .swiper6-button-prev {
        left: 24%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_prev.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
      .vj_mvj .sec6 .swiper6 .swiper6-button-next {
        right: 24%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_next.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
    .vj_mvj .sec6 .swiper6-pagination {
      bottom: -8%; }
      .vj_mvj .sec6 .swiper6-pagination .swiper-pagination-bullet {
        margin: 0 1rem;
        background: #c8c8c8;
        opacity: 1; }
      .vj_mvj .sec6 .swiper6-pagination .swiper-pagination-bullet-active {
        background: #202020; }
  .vj_mvj .sectj {
    height: calc(50vw); }
    .vj_mvj .sectj .titleBox {
      z-index: 2; }
      .vj_mvj .sectj .titleBox .title h3 {
        color: #000; }
    .vj_mvj .sectj .swiperBox {
      width: 100%;
      margin-top: 10.9375%; }
    .vj_mvj .sectj .swipertj {
      width: 73.75%; }
      .vj_mvj .sectj .swipertj .swiper-slide {
        width: 100%;
        padding: 0 1.40625%; }
        .vj_mvj .sectj .swipertj .swiper-slide .swiperTxt {
          margin-top: 25px;
          font-size: 16px;
          text-align: center; }
        .vj_mvj .sectj .swipertj .swiper-slide .swiperBtn {
          margin-top: 25px;
          padding: 0 15%; }
    .vj_mvj .sectj .swipertj-pagination {
      bottom: -10%; }
      .vj_mvj .sectj .swipertj-pagination .swiper-pagination-bullet {
        margin: 0 1rem;
        background: #d9d9d9;
        opacity: 1; }
      .vj_mvj .sectj .swipertj-pagination .swiper-pagination-bullet-active {
        background: #523e34; }
      .box-preview {
        width: 24%;
      }

@keyframes section4_f_qfw_an {
  0% {
    transform: scale(0.3); }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0; } }

@keyframes section4_f_zy_an {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(90deg); } }

@keyframes section4_f_12_an {
  0% {
    transform: scale(0.5); }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
