* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

.xej_sxej_pxej {
  line-height: 1; }
  .xej_sxej_pxej .main img {
    width: 100%; }
  .xej_sxej_pxej .main .fadeUpAn {
    opacity: 0; }
  .xej_sxej_pxej .sec {
    margin-top: -14.0625%; }
    .xej_sxej_pxej .sec .content {
      display: flex;
      justify-content: center;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      margin-top: 9.21053%; }
      .xej_sxej_pxej .sec .content .titleBox {
        width: 79.16667%; }
        .xej_sxej_pxej .sec .content .titleBox .titleicon {
          width: 3.35526%;
          margin-left: 1.64474%; }
        .xej_sxej_pxej .sec .content .titleBox .title {
          margin-left: 6.57895%;
          font-size: initial;
          color: #fff; }
      .xej_sxej_pxej .sec .content .swiper-pagination-outer {
        display: flex;
        justify-content: center;
        width: 100%; }
  .xej_sxej_pxej .sec1 {
    margin-top: 0;
    z-index: 5; }
    .xej_sxej_pxej .sec1 .content {
      top: 7.7%;
      margin-top: 0; }
    .xej_sxej_pxej .sec1 .box-colors {
      left: -23.68421%; }
      .xej_sxej_pxej .sec1 .box-colors .color-item_w {
        background: #fff; }
      .xej_sxej_pxej .sec1 .box-colors .color-item_br {
        background: #611a2b; }
      .xej_sxej_pxej .sec1 .box-colors .color-item_b {
        background: #000; }
      .xej_sxej_pxej .sec1 .box-colors .color-item_w.active {
        background: #fff; }
      .xej_sxej_pxej .sec1 .box-colors .color-item_br.active {
        background: #611a2b; }
      .xej_sxej_pxej .sec1 .box-colors .color-item_b.active {
        background: #000; }
      .xej_sxej_pxej .sec1 .box-colors .color-item.active::before {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        left: -4px;
        width: 26px;
        height: 26px;
        border: 1px solid #868686; }
    .xej_sxej_pxej .sec1 .level1 {
      margin-top: 1.97368%;
      left: 87.5%; }
  .xej_sxej_pxej .sec11 {
    margin-top: 0;
    z-index: 5; }
    .xej_sxej_pxej .sec11 .content {
      top: 7.7%;
      margin-top: 0; }
    .xej_sxej_pxej .sec11 .itemleft {
      width: 39.58333%;
      padding-top: 5.20833%; }
      .xej_sxej_pxej .sec11 .itemleft .itemInfo {
        width: 100%;
        margin-left: 15.78947%; }
      .xej_sxej_pxej .sec11 .itemleft .box-title {
        letter-spacing: 0.2rem !important; }
      .xej_sxej_pxej .sec11 .itemleft .box-tag {
        display: flex;
        margin: 5.26316% 0; }
        .xej_sxej_pxej .sec11 .itemleft .box-tag div {
          width: 11.84211%;
          margin-right: 1.84211%; }
      .xej_sxej_pxej .sec11 .itemleft .box-download {
        width: 52.63158%; }
    .xej_sxej_pxej .sec11 .itemright {
      width: 39.58333%;
      overflow: hidden; }
      .xej_sxej_pxej .sec11 .itemright .itemInfo {
        width: 100%;
        margin-left: 32.23684%; }
      .xej_sxej_pxej .sec11 .itemright .product {
        width: 23.02632%; }
    .xej_sxej_pxej .sec11 .box-colors {
      display: flex;
      justify-content: space-evenly;
      margin-top: 17.14286%;
      margin-bottom: 5.71429%; }
      .xej_sxej_pxej .sec11 .box-colors .color-item {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: initial;
        opacity: 1; }
      .xej_sxej_pxej .sec11 .box-colors .color-item_w {
        background: #fff; }
      .xej_sxej_pxej .sec11 .box-colors .color-item_br {
        background: #611a2b; }
      .xej_sxej_pxej .sec11 .box-colors .color-item_b {
        background: #000; }
      .xej_sxej_pxej .sec11 .box-colors .color-item_w.active {
        background: #fff; }
      .xej_sxej_pxej .sec11 .box-colors .color-item_br.active {
        background: #611a2b; }
      .xej_sxej_pxej .sec11 .box-colors .color-item_b.active {
        background: #000; }
      .xej_sxej_pxej .sec11 .box-colors .color-item.active::before {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        left: -4px;
        width: 26px;
        height: 26px;
        border: 1px solid #868686; }
    .xej_sxej_pxej .sec11 .level1 {
      top: 0;
      left: 32.23684%;
      width: 14.34211%; }
    .xej_sxej_pxej .sec11 .btn-360 {
      top: 0;
      left: 32.23684%;
      width: 7.23684%;
      margin-top: 61.84211%; }
    .xej_sxej_pxej .sec11 .btn-180 {
      top: 0;
      left: 42.10526%;
      width: 7.23684%;
      margin-top: 61.84211%; }
  .xej_sxej_pxej .sec3 {
    z-index: 4; }
    .colorcold {
      color: #052441;
    }
    .colorhot {
      color: #631e00;
    }
    .xej_sxej_pxej .sec3 .swiperBox {
      width: 100%;
      margin-top: 9.375%; }
      .xej_sxej_pxej .sec3 .swiperBox .swiperTitle {
        width: 40.52083%;
        margin: 0 auto; }
      .xej_sxej_pxej .sec3 .swiperBox .swiperTxt {
        bottom: 0;
        right: 25.26316%;
        width: 17.23958%;
        z-index: 1; }
      .xej_sxej_pxej .sec3 .swiperBox .swiperTxtzh {
        top: 105%;
        left: 50%;
        transform: translateX(-50%);
        width: 20.24169%; }
      .xej_sxej_pxej .sec3 .swiperBox .swiperTxt8400 {
        width: 17.1875%;
        margin: 0 auto;
        margin-top: 2.34375%; }
      .xej_sxej_pxej .sec3 .swiperBox .swiperSelect {
        width: 23.17708%;
        margin: 0 auto;
        margin-top: 4.16667%; }
    .xej_sxej_pxej .sec3 .swiper3 {
      width: 100%;
      margin-top: 2.60417%; }
      .xej_sxej_pxej .sec3 .swiper3 .swiper-slide .product {
        width: 137.8125%;
        margin-left: -19.14062%; }
        .xej_sxej_pxej .sec3 .swiper3 .swiper3-button-prev, .xej_sxej_pxej .sec3 .swiper3 .swiper3-button-next {
          width: 3%;
          height: 10%;
        }
      .xej_sxej_pxej .sec3 .swiper3 .swiper3-button-prev {
        left: 20%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section3_prev.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
      .xej_sxej_pxej .sec3 .swiper3 .swiper3-button-next {
        right: 20%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section3_next.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
  .xej_sxej_pxej .sec4 {
    z-index: 3; }
    .xej_sxej_pxej .sec4 .titleBox {
      top: -8.6%;
      z-index: 2;}
      .xej_sxej_pxej .sec4 .titleBox h3 {
        color: #000;
      }
    .xej_sxej_pxej .sec4 .swiperBox {
      width: 100%; }
      .xej_sxej_pxej .sec4 .swiperBox .text4-1, .xej_sxej_pxej .sec4 .swiperBox .text4-2 {
        width: 35.209%;
        top: 24.4%;
        left: 12.6%;
      }
      .xej_sxej_pxej .sec4 .swiperBox .swiper4-button-prev, .xej_sxej_pxej .sec4 .swiperBox .swiper4-button-next {
        width: 2%;
        height: 4%;
        top: 33.8%;
      }
      .xej_sxej_pxej .sec4 .swiperBox .swiper4-button-prev {
        left: 7.6%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_prev.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
      .xej_sxej_pxej .sec4 .swiperBox .swiper4-button-next {
        left: 51.4%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_next.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
    .xej_sxej_pxej .sec4 .swiper4 {
      width: 100%;
      margin-top: -9.21053%; }
      .xej_sxej_pxej .sec4 .swiper4 .swiper-slide .product {
        width: 100%;
        margin: 0 auto; }
        .xej_sxej_pxej .sec4 .swiper4 .swiper-slide .product .section4_product_1 {
          width: 17.6042%;
          top: 22.2%;
          left: 72.5%; }
        .xej_sxej_pxej .sec4 .swiper4 .swiper-slide .product .wind4-1 {
          width: 81.667%;
          top: 24%;
          right: 18.3%; }
    .xej_sxej_pxej .sec4 .swiper4-pagination {
      bottom: 53.6%;
      left: 29%;
      text-align: left; }
      .xej_sxej_pxej .sec4 .swiper4-pagination .swiper-pagination-bullet {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 1.2rem;
        background: #fff;
        opacity: 0.5; }
      .xej_sxej_pxej .sec4 .swiper4-pagination .swiper-pagination-bullet-active {
        background: #463228;
        opacity: 1; }
  .xej_sxej_pxej .sec6 {
    z-index: 3; }
    .xej_sxej_pxej .sec6 .swiperBox {
      width: 100%;
      margin-top: 6.25%; }
    .xej_sxej_pxej .sec6 .swiper6 {
      width: 100%; }
      .xej_sxej_pxej .sec6 .swiper6 .swiper-slide .product {
        width: 111.04167%;
        margin-left: -5.55208%; }
        .xej_sxej_pxej .sec6 .swiper6 .swiper6-button-prev, .xej_sxej_pxej .sec6 .swiper6 .swiper6-button-next {
          width: 2%;
          height: 9%;
        }
      .xej_sxej_pxej .sec6 .swiper6 .swiper6-button-prev {
        left: 24%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_prev.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
      .xej_sxej_pxej .sec6 .swiper6 .swiper6-button-next {
        right: 24%;
        background: url("../../../img/pc/seriesgs/xs_sxs/section4_next.png") no-repeat;
        background-position: 100% 0;
        background-size: auto 100%; }
    .xej_sxej_pxej .sec6 .swiper6-pagination {
      bottom: -8%; }
      .xej_sxej_pxej .sec6 .swiper6-pagination .swiper-pagination-bullet {
        margin: 0 1rem;
        background: #c8c8c8;
        opacity: 1; }
      .xej_sxej_pxej .sec6 .swiper6-pagination .swiper-pagination-bullet-active {
        background: #202020; }
  .xej_sxej_pxej .sectj {
    height: calc(50vw); }
    .xej_sxej_pxej .sectj .titleBox {
      z-index: 2; }
      .xej_sxej_pxej .sectj .titleBox .title h3 {
        color: #000; }
    .xej_sxej_pxej .sectj .swiperBox {
      width: 100%;
      margin-top: 10.9375%; }
    .xej_sxej_pxej .sectj .swipertj {
      width: 73.75%; }
      .xej_sxej_pxej .sectj .swipertj .swiper-slide {
        width: 100%;
        padding: 0 1.40625%; }
        .xej_sxej_pxej .sectj .swipertj .swiper-slide .swiperTxt {
          margin-top: 25px;
          font-size: 16px;
          text-align: center; }
        .xej_sxej_pxej .sectj .swipertj .swiper-slide .swiperBtn {
          margin-top: 25px;
          padding: 0 15%; }
    .xej_sxej_pxej .sectj .swipertj-pagination {
      bottom: -10%; }
      .xej_sxej_pxej .sectj .swipertj-pagination .swiper-pagination-bullet {
        margin: 0 1rem;
        background: #d9d9d9;
        opacity: 1; }
      .xej_sxej_pxej .sectj .swipertj-pagination .swiper-pagination-bullet-active {
        background: #523e34; }
      .box-preview {
        width: 24%;
      }

@keyframes section4_f_qfw_an {
  0% {
    transform: scale(0.3); }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0; } }

@keyframes section4_f_nf_an {
  0% {
    transform: scale(0.5) skewY(0); }
  70% {
    opacity: 1;
    transform: scale(1) skewY(-30deg); }
  100% {
    opacity: 0;
    transform: scale(1) skewY(-30deg); } }

@keyframes section4_f_zy_an {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(90deg); } }

@keyframes section4_f_sx_an {
  from {
    transform: rotateX(0); }
  to {
    transform: rotateX(90deg); } }

@keyframes section4_f_12_an {
  0% {
    transform: scale(0.5); }
  70% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }
