/* 2020/06/29 build */
.box-title h3 {
	margin-left: 5.8%;
}
.sec1 {
	padding: 3.2% 0 16.6%;
	background: #f1f1f1;
}
.sec1 .content-item {
	vertical-align: top;
	display: inline-block;
}
.sec1 .item-info {
	width: 34%;
	margin-left: 1.5%;
	padding-top: 2.9%;
}
.sec1 .item-info .level1 {
	width: 12%;
	top: 18%;
	right: 39.6%;
}
.sec1 .item-info .box-tag {
	margin-top: 6%;
}
.sec1 .item-info .box-tag img {
	width: 14%;
	margin-right: 1.2%;
}
.sec1 .item-info .box-download {
	width: 59.744%;
	margin: 5.2% 0 0 -1%;
}
.sec1 .item-option {
	width: 14rem;
	vertical-align: bottom;
	margin-bottom: 1.2%;
}
.sec1 .item-option .box-colors .color-item {
	margin: 0 0.5rem;
	padding: 0.4rem;
	display: inline-block;
	border: 0.01rem solid transparent;
}
.sec1 .item-option .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 2.3rem;
	height: 2.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .color-item2 div {
	background: #4b0408;
}
.sec1 .item-option .box-3d {
	margin-bottom: 21%;
}
.sec1 .item-option .box-3d img {
	width: 40%;
}
.sec1 .item-option .box-3d .btn-180 {
	margin-left: 12%;
}
.sec1 .item-prod {
	width: 9.167%;
	margin-left: 1.6%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .bg {
	opacity: 0;
}
.sec2 .bg-item {
	opacity: 0;
}
.sec2 .bg-item.bgAn1 {
	opacity: 1!important;
    -webkit-transition: all 0.2s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.2s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.2s ease-in-out; /* Opera */ 
    transition: all 0.2s ease-in-out;  
}
.sec2 .bg-item.bgAn2 {
	opacity: 0!important;
    -webkit-transition: all 0.2s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.2s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.2s ease-in-out; /* Opera */ 
    transition: all 0.2s ease-in-out;  
}
.sec2 .box-title2 {
	width: 88.4%;
	top: 7.9%;
	left: 11.6%;
}
.sec2 .colorcold {
	color: #052441;
}
.sec2 .colorhot {
	color: #631e00;
}
.sec2 .box-title.active, .sec2 .box-text.active {
	opacity: 1;
}
.sec2 .box-text {
	width: 31.25%;
	top: 18.1%;
	opacity: 0;
}
.sec2 .text2-1-2, .sec2 .text2-2-2 {
	margin-top: 3.6%;
}
.sec2 .text2-1-3, .sec2 .text2-2-3 {
	margin-top: 137.8%;
}
.sec2 .box-swiper {
	top: 29%;
}
.sec2 .swiper2 {
	padding-bottom: 12%;
}
.sec2 .swiper2 .swiper-slide img {
	width: 137.814%;
	margin-left: -18.907%;
}
.sec2 .box-type {
	width: 27.513%;
	left: 61.1%;
	top: 65.3%;
	z-index: 1;
}
.sec2 .type-item {
	opacity: 0;
}
.sec2 .type-item.active {
	opacity: 1;
}
.sec2 .swiper2 .swiper-button-prev, .sec2 .swiper2 .swiper-button-next {
	width: 4%;
	height: 10.2%;
	top: 35.4%;
}
.sec2 .swiper2 .swiper-button-prev {
	left: 19.2%;
	background: url('../../../img/pc/seriesgs/arrows.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec2 .swiper2 .swiper-button-next {
	right: 19.2%;
	background: url('../../../img/pc/seriesgs/arrows.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec2 .swiper2 .swiper-pagination-bullet {
	width: 10rem;
	height: auto;
	line-height: 7rem;
	margin: 0 7%;
	background: transparent;
	border-radius: 0;
	opacity: 0.5;
}
.sec2 .swiper2 .swiper-pagination-bullet-active {
	opacity: 1;
}
.sec2 .swiper2 .swiper-pagination-bullet span {
	font-size: 2.6rem;
	padding: 20% 0;
	vertical-align: bottom;
}
.sec2 .swiper2 .swiper-pagination-bullet-active span {
	font-size: 3.4rem;
}
.sec2 .swiper2 .swiper-pagination.colorcold .swiper-pagination-bullet-active span {
	border-bottom: 0.3rem solid #052441;
}
.sec2 .swiper2 .swiper-pagination.colorhot .swiper-pagination-bullet-active span {
	border-bottom: 0.3rem solid #631e00;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	width: 88.4%;
	top: 7.2%;
	left: 11.6%;
	z-index: 1;
}
.sec3 .swiper3 .prod3 {
	width: 16.771%;
	right: 11%;
	top: 21.2%;
}
.sec3 .swiper3 .wind3-1 {
	width: 81.5625%;
	right: 18.5%;
	top: 22.6%;
}
.sec3 .swiper3 .text3 {
	width: 50%;
	top: 25.2%;
}
.sec3 .swiper3 .swiper-button-prev, .sec3 .swiper3 .swiper-button-next {
	width: 3%;
	height: 7.2%;
	top: 32.2%;
}
.sec3 .swiper3 .swiper-button-prev {
	left: 7.2%;
	background: url('../../../img/pc/seriesgs/arrows-brown.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec3 .swiper3 .swiper-button-next {
	left: 51.4%;
	background: url('../../../img/pc/seriesgs/arrows-brown.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec3 .swiper3 .swiper-pagination {
	bottom: 53%;
	padding-left: 29%;
	text-align: left;
}
.sec3 .swiper3 .swiper-pagination-bullet {
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 0.6%;
	background: #fff;
}
.sec3 .swiper3 .swiper-pagination-bullet-active {
	background: #452f22;
	opacity: 1;
}
.sec4 {
	margin-top: -14.8%;
}
.sec4 .box-title4 {
	width: 88.4%;
	top: 14%;
	left: 11.6%;
}
.sec4 .box-swiper {
	top: 24.6%;
}
.sec4 .swiper4 {
	padding-bottom: 3.4%;
}
.sec4 .swiper-slide img {
	width: 111.042%;
	margin-left: -5.521%;
}
.sec4 .swiper-button-prev, .sec4 .swiper-button-next {
	width: 4%;
	height: 13.6%;
	top: 41.4%;
}
.sec4 .swiper-button-prev {
	left: 24%;
	background: url('../../../img/pc/seriesgs/arrows-black.png') no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
}
.sec4 .swiper-button-next {
	right: 24%;
	background: url('../../../img/pc/seriesgs/arrows-black.png') no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
}
.sec4 .swiper4 .swiper-pagination-bullet {
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 0.7%;
	background: #c8c8c8;
	opacity: 1;
}
.sec4 .swiper4 .swiper-pagination-bullet-active {
	background: rgba(32, 32, 32, 0.87);
}
.modal-180 .box-preview {
	width: 24%;
}
.component-select {
	margin-top: -6.5%;
}
.sec2 .box-title2,
.sec2 .text2-1,
.sec2 .text2-2,
.sec2 .text2-3,
.sec2 .swiper-container,
.sec2 .box-type,
.sec2 .swiper-button-prev,
.sec2 .swiper-button-next,
.sec2 .swiper-pagination,
.sec3 .box-title3,
.sec3 .text3,
.sec3 .swiper-button-prev,
.sec3 .swiper-button-next,
.sec3 .swiper-pagination,
.sec4 .box-title4,
.sec4 .swiper-container,
.sec4 .swiper-button-prev,
.sec4 .swiper-button-next,
.sec4 .swiper-pagination {
	opacity: 0;
}
