/* 2020/02/27 build */

.sec1 {	padding: 8.3% 0 10.9%;	background: #f1f1f1; }
.sec1 .content-item {vertical-align: top;display: inline-block;}
.sec1 .item-info {	width: 35%;	padding-top: 0.4%; margin-left: 0.28%; position: absolute; left: 16.56%;}
.sec1 .item-info .box-tag {	margin-top: 6%;}
.sec1 .item-info .box-tag img {	width: 13.4%; margin-right: 1.1%;}
.sec1 .item-info .box-download0 { width: 59.674%; margin: 5.5% 0 0 -1%;}

.sec1 .item-prod {	width: 31.51%;	margin-left: 38.52%; margin-top: 1.5%;}
.sec1 .item-prod .level1 {	width: 17.93%;	margin: 0 3.8% 0.4% 0;}
.sec1 .item-prod .box-option {	margin: 3.8% 3.6% 0 0;}
.sec1 .item-prod .option-item {	display: inline-block;}
.sec1 .item-prod .box-colors {	margin-top: 1.6%; vertical-align: top;}
.sec1 .item-prod .box-colors .color-item {	margin: 0 0.5rem; padding: 0.4rem;	border: 0.01rem solid transparent;	display: inline-block;}
.sec1 .item-prod .box-colors .color-item.active {	border: 0.01rem solid #848484;
}


.sec2{ margin-top: -14.2%; color: #404770; margin-bottom:10%;}
.sec2 .box-prod{ margin-top: 8%;}
.sec2 .cont2{ width: 78.343%; left:11.5%; top: 9%;}
.sec2 .cont2_p{ margin-top: 3.6%; text-align:center;}
.sec2 .cont2_mtd{ width: 62.8125%; border-radius: 10px; margin-top:-44%;}
.sec2 .cont2_d2 img{border-radius: 10px 10px 0 0;}
.sec2 .border_b{ width: 60px; height: 3px; background: #404770; overflow: hidden; display: inline-block;}
.sec2 .card-item {
	top: calc(15vh);
	-webkit-transform: matrix(0.92, 0, 0, 0.92, 0, -60); /* Safari和Chrome */  
    -moz-transform: matrix(1, 0, 0, 1, 0, 0); /* Firefox */
    -ms-transform: matrix(1, 0, 0, 1, 0, 0); /* IE9 */  
    -o-transform: matrix(1, 0, 0, 1, 0, 0); /* Opera */  
	transform: matrix(1, 0, 0, 1, 0, 0);
}


.modal-download2 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -230px;}

.sec3{ margin-top: -14.2%;}
.sec3 .cont3{ width: 79.677%; top: 13.7%; left: 11.5%; color:#7a3703;}
.sec3 .cont3_img{ width:43.8% ;}
.sec3 .cont3_p{ padding-top: 2%;}
.sec3 .cont3_dh1 h2 span{ letter-spacing: -0.2rem;}
.cont3_igrb{ border-radius: 10px;}
.sec3 .cont3_dh2{ width: 53.62%; margin: 0 auto;}


.sec5{ margin-top: -14.2%;}
.sec5 .cont5{ color: #232b58; top: 13.7%;  width: 34.89%;  left: 11.5%;}
.sec5 .cont5_dh2{ padding: 0% 0 5% 0; width: 81.3%;}
.sec5 .cont5_dh2 h2{ letter-spacing: -0.1rem!important;}
.sec5 .cont5_dh2 img{ margin: 4.5% 0;}
.sec5 .cont5_dh3{  text-align: justify;}

.modal-download1 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -210px;}
.modal-download1 .btn-close,.modal-download2 .btn-close{ top: 25px; right: 25px; cursor: pointer;}
.modal-download2 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -204px;}

/*sec10*/
.sec10 { margin-top: -6.8%; }
.sec10 .box-title10 { margin-left: 11.6%; }
.sec10 .slide-item { width: 15.6%; margin: 3.6% 1.54%; display: inline-block; }
.sec10 .box-prod { background: rgba(243, 243, 243, 0.5); }
.sec10 .prod-info { padding: 6% 0 30%; font-size: 1.2rem; line-height: 1.4rem; }
.sec10 .btn-checkprod { color: #fff; font-size: 1.3rem; line-height: 1.3rem; margin-top: 9%; padding: 2.4% 16.4%; background: #000; display: inline-block; }
.sec10 .swiper10 .swiper-pagination-bullet { width: 1.3rem; height: 1.3rem; margin: 0 1.4rem; background: #d9d9d9; opacity: 1; }
.sec10 .swiper10 .swiper-pagination-bullet-active { background: #565656; }

.sec0 .box-title0,
.sec2 .cont2_dh1,
.sec2 .cont2_p,
.sec2 .cont2_d2,
.sec2 .cont2_d3,
.sec2 .cont2_d4,
.sec3 .cont3_dh1,
.sec3 .cont3_p,
.sec3 .cont3_dh2,
.sec5 .cont5_dh1,
.sec5 .cont5_dh2,
.sec5 .cont5_dh3,
.sec10 .box-title10,
.sec10 .box-swiper
{
	opacity: 0;
}











