/* pc&mo */

.sec1 {	padding: 8.3% 0 18.4%;	background: #f1f1f1; }
.sec1 .content-item {vertical-align: top;display: inline-block;}
.sec1 .item-info {	width: 35%;	margin-left: 3%;	padding-top: 0.4%;}
.sec1 .item-info .box-tag {	margin-top: 6%;}
.sec1 .item-info .box-tag img {	width: 13.365%; margin-right: 1.1%;}
.sec1 .item-info .box-download0 { width: 59.674%; margin: 5.5% 0 0 -1%;}
.sec1 .item-prod {	width: 33.49%;	margin-left: 0.8%; margin-top: 0.5%;}
.sec1 .item-prod .level1 {	width: 17.93%;	margin: 0 3.8% 0.4% 0;}
.sec1 .item-prod .box-option {	margin: 3.8% 3.6% 0 0;}
.sec1 .item-prod .option-item {	display: inline-block;}
.sec1 .item-prod .box-colors {	margin-top: 1.6%; vertical-align: top;}
.sec1 .item-prod .box-colors .color-item {	margin: 0 0.5rem; padding: 0.4rem;	border: 0.01rem solid transparent;	display: inline-block;}
.sec1 .item-prod .box-colors .color-item.active {	border: 0.01rem solid #848484;
}
.sec1 .color-item div {	width: 2.3rem;	height: 2.3rem;}
.sec1 .color-item1 div {background: #fff;}
.sec1 .color-item2 div {background: #c70023;}
.sec1 .color-item3 div {background: #e8d3b4;}
.sec1 .item-prod .box-3d {width: 35%;}
.sec1 .item-prod .box-3d img {	width: 27.3%;}
.sec1 .item-prod .box-3d .btn-180 {	margin-left: 7.4%;}
.box-title1 h2{ letter-spacing: 0rem !important;}

.sec2{ margin-top: -14%;}
.sec2 .box-prod{ margin-top: 8%;}
.sec2 .cont2{ width: 38.354%; left:11.5%; top: 13%;}
.sec2 .cont2 h2{ color: #7a3703;}
.sec2 .cont2_p{ color: #7a3703; margin-top: 5%;}
.sec2 .gd_ckgd{ width: 41.8%; margin: 12.2% 0 0 0.2%; cursor: pointer;}
.cont2_img .full-w{ width:95.6%;}
.sec2 .cont2_img{ margin-top: 5%; }

.modal-download2 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -230px;}
.modal-download2 .cont3_hide cite.abs{ right: 80px; top: 45px; cursor: pointer;}

.sec3{ margin-top: -14.2%;}
.sec3 .cont3{width: 38.354%; top: 13.7%; left: 11.5%; color:#1c5780;}
.sec3 .cont3_p{ margin-bottom: 0;margin-top: 5%;letter-spacing: 0.2rem !important;}
.sec3 .cont3_img{ width:43.8% ;}
.sec3 .cont3 h3{ padding: 0!important;}
.gd_ckgd{width: 43.7%; margin: 10.3% 0 0 0.5%; cursor: pointer;}
.modal-download1 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -374px; margin-top: -230px; width:784px;}
.cont3_hide cite.abs{ right: 30px; top: 45px; cursor: pointer;}
.cont3_igrb{ border-radius: 10px;}

.sec4{ margin-top: -14.2%;}
.sec4 .cont4{ color: #232b58; top: 15.7%;  width: 36.3%;  left: 11.5%;}
/*.sec4 .cont4_p{ margin-top: 13.8%; margin-left: 1%; }*/
.sec4 .cont4_dh2{ right: 16.51%; top: 42%; width: 28.125%;}

.sec4 .gd_ckgd{width: 52.2%; margin: 15.5% 0 0 0.5%; cursor: pointer;}
.sec4 .cont4_p img{ margin-top: 15%;}

.sec5{ margin-top: -14.2%;}
.sec5 .cont3{ width: 36.3%;  top: 13.7%; left: 11.5%; color:#1c5780;}
.sec5 .cont3_p { margin-top: 2%; }
.box-title_rp2 h2{ letter-spacing: 0!important;}
.sec5 .gd_ckgd{ margin-top: 12.5%;}

.sec6{ margin-top: -14.2%;}
.sec6 .cont3{ width: 36.3%; top: 13.7%; left: 11.5%; color:#325252;}
.sec6 .cont3_p { margin-top:7%;}
.sec6 .cont6_img{ width:36.7%; margin-top:12%;}

.sec7{ margin-top: -14.2%;}
.sec7 .cont3{width: 36.3%; top: 13.7%; left: 11.5%; color:#232b58;}
.sec7 .cont3_p { margin-top:7%;}
.sec7 .cont6_img{ width:37.9%; margin-top:12%;}

.sec0 .box-title0,
.sec2 .cont2_dh1,
.sec2 .cont2_p,
.sec2 .cont2_img,
.sec2 .gd_ckgd,
.sec3 .cont3_dh1,
.sec3 .cont3_rpd,
.sec3 .cont3_p,
.sec3 .gd_ckgd,
.sec4 .cont4_dh1,
.sec4 .cont4_p,
.sec4 .cont4_dh2,
.sec5 .cont3_dh1,
.sec5 .cont3_p,
.sec5 .gd_ckgd,
.sec6 .cont3_dh1,
.sec6 .cont3_p,
.sec6 .cont6_img,
.sec7 .cont3_dh1,
.sec7 .cont3_p,
.sec7 .cont6_img

{
	opacity: 0;
}











