/* 2020/02/27 build */

.sec1 {	padding: 8.3% 0 18.4%;	background: #f1f1f1; }
.sec1 .content-item {vertical-align: top;display: inline-block;}
.sec1 .item-info {	width: 35%;	padding-top: 0.4%; margin-left: 3%;}
.sec1 .item-info .box-tag {	margin-top: 6%;}
.sec1 .item-info .box-tag img {	width: 13.4%; margin-right: 1.1%;}
.sec1 .item-info .box-download0 { width: 59.674%; margin: 5.5% 0 0 -1%;}

.sec1 .item-prod {	width: 33.49%;	margin-left: 0.8%; margin-top:-1.5%;}
.sec1 .item-prod .level1 {	width: 17.93%;	margin: 0 3.8% 0.4% 0;}
.sec1 .item-prod .box-option {	margin: 3.8% 3.6% 0 0;}
.sec1 .item-prod .option-item {	display: inline-block;}
.sec1 .item-prod .box-colors {	margin-top: 1.6%; vertical-align: top;}
.sec1 .item-prod .box-colors .color-item {	margin: 0 0.5rem; padding: 0.4rem;	border: 0.01rem solid transparent;	display: inline-block;}
.sec1 .item-prod .box-colors .color-item.active {	border: 0.01rem solid #848484;
}


.sec2{ margin-top: -14.2%; color: #404770; margin-bottom:10%;}
.sec2 .box-prod{ margin-top: 8%;}
.sec2 .cont2{ width: 38.343%; left:11.5%; top: 10%;}
.sec2 .cont2_p{ left: 11.666%; top: 28%; width: 37.395%;}
.sec2 .cont2_imt1,.sec2 .cont2_imt3{ margin-bottom: 8.75%;}
.sec2 .cont2_rtimg{ width: 37.395%; right: 10.5%; top: 28%;}
.sec2 .border_b{ width: 60px; height: 3px; background: #404770; overflow: hidden; display: inline-block;}
.sec2 .cont2_dzhongt{  width:62.815%; margin-top:-40%;}
.sec2 .card-item {
	top: calc(15vh);
	-webkit-transform: matrix(0.92, 0, 0, 0.92, 0, -60); /* Safari和Chrome */  
    -moz-transform: matrix(1, 0, 0, 1, 0, 0); /* Firefox */
    -ms-transform: matrix(1, 0, 0, 1, 0, 0); /* IE9 */  
    -o-transform: matrix(1, 0, 0, 1, 0, 0); /* Opera */  
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.sec3{ margin-top: -14.2%;}
.sec3 .cont3{ width:36.35%;top: 8.5%; left: 11.5%; color:#1c5780;}
/*.sec3 .cont3_dh2{ padding:5% 0;}*/
.sec3 .cont3_img{ width:43.8% ;}
.sec3 .cont3 p{ color: #333;}
.sec3 .border_b{ width: 60px; height: 3px; background: #1c5780; overflow: hidden; display: inline-block; vertical-align: top;}
.cont3_rtimg{ border-radius: 10px; top: 26%; right: 5%; width: 35.729%;}

.sec4{ margin-top: -14.2%;}
.sec4 .cont4{ color: #7a3703; top: 15.7%;  width: 36.35%;  left: 11.5%;}
.sec4 .cont4_p{ margin-top:11%;  }
.sec4 .cont4_dh2{ right: 16.51%; top: 42%; width: 28.125%;}
/*.sec4 .cont4_p img{ width:41.25%; margin-top: 7%;}*/
.sec4 .gd_ckgd{ width: 43.7%; margin-top: 14%; cursor: pointer;}

.sec5{ margin-top: -14.2%;}
.sec5 .cont5{ color: #1c5780; top: 15.7%;  width: 36.35%;  left: 11.5%;}
.sec5 .cont5_dh2 {  margin: 9% 0 0 0;}
.sec5 .gd_ckgd{ width: 49.54%; cursor: pointer;}
.cont3_igrb{ border-radius: 10px;}

.modal-download1 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -210px;}
.modal-download1 .btn-close,.modal-download2 .btn-close{ top: 25px; right: 25px; cursor: pointer;}
.modal-download2 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -250px;}

.sec0 .box-title0,
.sec2 .cont2_dh1,
.sec2 .cont2_dzhongt,
.sec3 .cont3_dh1,
.sec3 .cont3_p,
.sec3 .cont3_dh2,
.sec3 .cont3_rtimg,
.sec4 .cont4_dh1,
.sec4 .cont4_p,
.sec4 .gd_ckgd,
.sec5 .cont5_dh1,
.sec5 .cont5_dh2,
.sec10 .box-title10,
.sec10 .box-swiper
{
	opacity: 0;
}











