/* 2020/02/27 build */

.sec1 {	padding: 8.3% 0 8.4%;	background: #f1f1f1; }
.sec1 .content-item {vertical-align: top;display: inline-block;}
.sec1 .item-info {	width: 35%;	padding-top: 0.4%; margin-left: 0.28%; position: absolute; left: 16.56%;}
.sec1 .item-info .box-tag {	margin-top: 6%;}
.sec1 .item-info .box-tag img {	width: 13.4%; margin-right: 1.1%;}
.sec1 .item-info .box-download0 { width: 59.674%; margin: 5.5% 0 0 -1%;}

.sec1 .item-prod {	width: 12.656%;	margin-left: 38.52%; margin-top: -4.75%;}
.sec1 .item-prod .level1 {	width: 17.93%;	margin: 0 3.8% 0.4% 0;}
.sec1 .item-prod .box-option {	margin: 3.8% 3.6% 0 0;}
.sec1 .item-prod .option-item {	display: inline-block;}
.sec1 .item-prod .box-colors {	margin-top: 1.6%; vertical-align: top;}
.sec1 .item-prod .box-colors .color-item {	margin: 0 0.5rem; padding: 0.4rem;	border: 0.01rem solid transparent;	display: inline-block;}
.sec1 .item-prod .box-colors .color-item.active {	border: 0.01rem solid #848484;
}


.sec2{ margin-top: -14.2%; color: #1c5780;}
.sec2 .box-prod{ margin-top: 8%;}
.sec2 .cont2{ width: 38.343%; left:11.5%; top: 13%;}
.sec2 .cont2_p{ margin-top: 3.6%;}
.sec2 .cont2_mgt{ width: 29.075%; margin-top: 10%;}

.modal-download2 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -230px;}

.sec3{ margin-top: -14.2%;}
.sec3 .cont3{ width: 32.677%; top: 13.7%; left: 11.5%; color:#7a3703;}
.sec3 .cont3_img{ width:43.8% ;}
.sec3 .gd_ckgd{width: 49.075%; margin: 11.85% 0 0 0.5%; cursor: pointer;}
.cont3_igrb{ border-radius: 10px;}

.sec4{ margin-top: -14.2%;}
.sec4 .cont4{ color: #232b58; top: 15.7%;  width: 30.36%;  left: 11.5%;}
.sec4 .cont4_p{ margin-top:6%; margin-left: 1%; }
.sec4 .cont4_dh2{ right: 16.51%; top: 42%; width: 28.125%;}

.sec4 .gd_ckgd{width: 52.2%; margin: 15.5% 0 0 0.5%; cursor: pointer;}
.sec4 .cont4_p img{ width:95.85%; margin-top: 7%;}

.modal-download1 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -267px;}
.modal-download1 .btn-close,.modal-download2 .btn-close{ top: 25px; right: 25px; cursor: pointer;}
.modal-download2 .cont3_hide{ position: absolute; top: 50%; left: 50%; margin-left: -353px; margin-top: -204px;}

.sec0 .box-title0,
.sec2 .cont2_dh1,
.sec2 .cont2_p,
.sec2 .cont2_mgt,
.sec3 .cont3_dh1,
.sec3 .cont3_p,
.sec3 .cont3_dh2,
.sec3 .gd_ckgd,
.sec4 .cont4_dh1,
.sec4 .cont4_p,
.sec4 .cont4_dh2,
.sec10 .box-title10,
.sec10 .box-swiper
{
	opacity: 0;
}











