/* 2020/04/29 build */
/* 2020/05/18 build */
.slash {
	margin-left: 5%;
	margin-bottom: 6.8%;
}
.sec1 {
	padding: 17.8% 0 22.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .swiper-slide img {
	width: 85.067%;
}
.sec1 .swiper1 .swiper-pagination {
	z-index: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 0.3rem;
	padding: 0.2rem;
	background: transparent;
	border: 0.01rem solid transparent;
	border-radius: 0;
	opacity: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet-active {
	border: 0.01rem solid #848484;
}
.sec1 .swiper1 .swiper-pagination-bullet div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .swiper1 .swiper-pagination-bullet div.color1 {
	background: -webkit-linear-gradient(#fff, #c6c9cb); /*Safari5.1 Chrome 10+*/
	background:-moz-linear-gradient(#fff, #c6c9cb); /*火狐*/
	background: -ms-linear-gradient(#fff, #c6c9cb); /* IE 10 */
	background: -o-linear-gradient(#fff, #c6c9cb); /*Opera 11.10+*/
    background: linear-gradient(#fff, #c6c9cb);
} 
.sec1 .swiper1 .swiper-pagination-bullet div.color2 {
	background: -webkit-linear-gradient(#898b8e, #6d6f72); /*Safari5.1 Chrome 10+*/
	background:-moz-linear-gradient(#898b8e, #6d6f72); /*火狐*/
	background: -ms-linear-gradient(#898b8e, #6d6f72); /* IE 10 */
	background: -o-linear-gradient(#898b8e, #6d6f72); /*Opera 11.10+*/
    background: linear-gradient(#898b8e, #6d6f72);
} 
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.334%;
	z-index: 1;
}
.sec1 .btn-360 img {
	right: 22.6%;
}
.sec1 .btn-180 {
	right: 7.4%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.6%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12.4%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
	top: 6.4%;
}
.sec2 .content2 {
	top: 10.8%;
}
.sec2 .text2-1 {
	margin-top: 12.8%;
}
.sec2 .text2-2 {
	margin-top: 4%;
}
.sec3 {
	margin-top: -14.8%;
}
.sec3 .bg3 {
	height: 100vh;
}
.sec3 .box-title3 {
	top: 7%;
}
.sec3 .box-text {
	top: 43.8%;
}
.sec3 .text3-2 {
	margin-top: 9.8%;
}
.card-item {
	margin-bottom: 5%;
}
.sec4 {
	margin-top: 7.8%;
}
.sec4 .box-cards {
	margin-top: -40%;
	padding-bottom: 18%;
}
.sec4 .swiper4 .swiper-pagination {
	bottom: 9%;
}
.sec4 .swiper4 .swiper-pagination-bullet {
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 1rem;
	background: #fff;
	opacity: 1;
}
.sec4 .swiper4 .swiper-pagination-bullet-active {
	background: #565656;
}
.sec4 .box-title4-1, .sec4 .box-title4-2 {
	top: 7%;
}
.sec4 .text4-1 {
	margin-top: 28.8%;
}
.sec4 .text4-2 {
	margin-top: 4.6%;
}
.sec5 {
	margin-top: -14.4%;
}
.sec5 .box-title5 {
	top: 5.5%;
}
.sec5 .prod5 {
	top: 15.8%;
}
.sec5 .text5-1 {
	top: 46.5%;
}
.sec5 .text5-2 {
	top: 68%;
}
.sec5 .text5-1-2, .text5-2-2 {
	margin-top: 6.4%;
}
.sec2 .box-title2,
.sec2 .prod2,
.sec2 .text2-1,
.sec2 .text2-2,
.sec3 .box-title3,
.sec3 .text3-1,
.sec3 .text3-2,
.sec4 .title4-1,
.sec4 .text4-1,
.sec4 .text4-2,
.sec5 .box-title5,
.sec5 .prod5,
.sec5 .text5-1-1,
.sec5 .text5-1-2,
.sec5 .text5-2-1,
.sec5 .text5-2-2 {
	opacity: 0;
}
