.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 {
	padding: 17.8% 0 21.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .box-prod {
	margin-top: 1%;
}
.sec1 .box-prod img {
	width: 85.067%;
}
.sec1 .box-option {
	margin-top: 6.8%;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.07%;
	top: -66%;
}
.sec1 .btn-360 img {
	right: 22.8%;
}
.sec1 .btn-180 {
	right: 7.6%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.6%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 4.8%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title {
	top: 7.6%;
}
.sec2 .box-text {
	top: 43%;
}
.sec2 .content {
    top: 84.5%;
    z-index: 5;
}
.sec2 .content-item.show {
	display: block;
}
.sec2 .btn-sleepmode-1,
.sec2 .btn-sleepmode-2 {
    position: absolute;
    width: 35.5%;
    left: 50%;
    margin-left: -17.75%;
    top: 238%;
}
.sec2 .hand{
    width: 9.8%;
    position: absolute;
    top: 415%;
    left: 59%;
    pointer-events: none;
}
.sec3 {
	margin-top: 0%;
}
.sec3 .box-text {
	top: 10.6%;
}
.sec3 .box-text .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 4.4% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec3 .box-img {
	top: 29.9%;
}
.sec3 .box-cards {
	top: 51.1%;
}
.sec4 {
	margin-top: -14.9%;
}
.sec4 .box-prod{
	top: 5%;
}
.sec4 .box-title4-1 {
	top: 7.5%;
	z-index: 1;
}
.sec4 .box-title4-1 .slash{
    margin-bottom: 4%;
}
.sec4 .box-title4-2 {
	top: 26.8%;
	z-index: 1;
}
.sec4 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 5% 0 6.4% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec4 .divider.color1 {
	background: #373737;
}
.sec5 {
	margin-top: -15.5%;
}
.sec5 .bg5 {
	height: 162vh;
}
.sec5 .box-title5-1 {
	top: 8%;
}
.sec5 .box-effect {
	top: 17.6%;
}
.sec5 .box-effect .box-wind {
	height: 0%;
	top: 62%;
	overflow: hidden;
}
.sec5 .box-title5-2 {
	top: 31.5%;
}
.sec5 .divider {
	width: 8%;
	height: 0.2rem;
	margin: 0 0 2.4% 11%;
	background: rgba(0, 0, 0, 0.65);
}
.sec5 .box-text5-1 {
	top: 51%;
}
.sec5 .box-text5-1 .divider {
	width: 81.9%;
	height: 0.1rem;
	margin: -6.3% 0 4.4% 9%;
	background: rgba(91, 85, 92, 1);
}
.sec5 .box-text5-2 {
	top: 71.4%;
}
.sec5 .box-text5-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: -24.5% 0 4.4% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec2 .box-title,
.sec2 .box-text,
.sec2 .content,
.sec3 .box-text,
.sec3 .box-img,
.sec3 .box-cards,
.sec4 .box-title4-1,
.sec4 .box-title4-2,
.sec4 .box-series,
.sec5 .box-title5-1,
.sec5 .box-title5-2,
.sec5 .box-text5-1,
.sec5 .box-text5-2{
	opacity: 0;
}


.scale{
    animation: scale 1.5s linear 0s infinite;
    -ms-animation: scale 1.5s linear 0s infinite;
    -webkit-animation: scale 1.5s linear 0s infinite;
    -o-animation: scale 1.5s linear 0s infinite;
    -moz-animation: scale 1.5s linear 0s infinite;
}
@keyframes scale{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
@-ms-keyframes scale{
    0%{-ms-transform: scale(1);}
    50%{-ms-transform: scale(1.2);}
    100%{-ms-transform: scale(1);}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.2);}
    100%{-webkit-transform: scale(1);}
}
@-o-keyframes scale{
    0%{-o-transform: scale(1);}
    50%{-o-transform: scale(1.2);}
    100%{-o-transform: scale(1);}
}
@-moz-keyframes scale{
    0%{-moz-transform: scale(1);}
    50%{-moz-transform: scale(1.2);}
    100%{-moz-transform: scale(1);}
}