.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 {
	padding: 17.8% 0 21.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .box-prod {
	margin-top: 1%;
}
.sec1 .box-prod img {
	width: 85.067%;
}
.sec1 .box-option {
	margin-top: 6.8%;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.07%;
	top: -66%;
}
.sec1 .btn-360 img {
	right: 22.8%;
}
.sec1 .btn-180 {
	right: 7.6%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.6%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 4.8%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
	top: 6.6%;
}
.sec2 .box-image {
	top: 18.6%;
}
.sec2 .box-text2-1 {
	top: 35%;
}
.sec2 .box-text2-2 {
	top: 42.6%;
}
.sec2 .box-text2-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 6% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec3 {
	margin-top: -14.7%;
}
.sec3 .box-title3 {
	top: 7.4%;
}
.sec3 .box-text {
	top: 42.6%;
}
.sec3 .box-text .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 4.4% 21.7%;
	background: rgba(98, 86, 80, 1);
}
.sec3 .box-img {
	top: 31.8%;
}
.sec4 {
	margin-top: -15.5%;
}
.sec4 .bg4 {
	height: 172vh;
}
.sec4 .box-title4-1 {
	top: 4.5%;
}
.sec4 .box-title4-1 .divider {
	width: 81.9%;
	height: 0.1rem;
	margin: -6.3% 0 4.4% 9%;
	background: rgba(91, 85, 92, 1);
}
.sec4 .box-effect {
	top: 16.9%;
}
.sec4 .box-effect .box-wind {
	height: 0%;
	top: 62%;
	overflow: hidden;
}
.sec4 .box-title4-2 {
	top: 29.3%;
}
.sec4 .box-text4-1 {
	top: 50%;
}
.sec4 .box-text4-1 .divider {
	width: 81.9%;
	height: 0.1rem;
	margin: -6.3% 0 4.4% 9%;
	background: rgba(104, 97, 101, 1);
}
.sec4 .box-text4-2 {
	top: 72.3%;
}
.sec4 .box-text4-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: -24.5% 0 4.4% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec2 .box-title2,
.sec2 .box-text2-1,
.sec2 .box-text2-2,
.sec3 .box-title3,
.sec3 .box-text,
.sec3 .box-img,
.sec3 .box-cards,
.sec4 .box-title4-1,
.sec4 .box-title4-2,
.sec4 .box-text4-1,
.sec4 .box-text4-2,
.sec5 .box-title5,
.sec5 .box-swiper {
	opacity: 0;
}

