.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 {
	padding: 17.8% 0 21.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .box-prod {
	margin-top: 1%;
}
.sec1 .box-prod img {
	width: 85.067%;
}
.sec1 .box-option {
	margin-top: 6.8%;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.07%;
	top: -66%;
}
.sec1 .btn-360 img {
	right: 22.8%;
}
.sec1 .btn-180 {
	right: 7.6%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.6%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 4.8%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .bg2 {
	height: 162vh;
}
.sec2 .box-title2 {
	top: 5%;
}
.sec2 .box-title2 .slash{
	margin-bottom: 4%;
}
.sec2 .box-effect {
	top: 7.6%;
}
.sec2 .box-effect .box-wind {
	height: 0%;
	top: 73%;
	overflow: hidden;
}
.sec2 .box-text2-1 {
	top: 46.5%;
}
.sec2 .box-text2-2 {
	top: 54%;
}
.sec2 .box-text2-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0% 0 4.4% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec2 .box-text2-3 {
	top: 62.1%;
}
.sec2 .box-text2-4 {
	top: 84.4%;
}
.sec3 {
	margin-top: -18%;
}
.sec3 .box-title {
	top: 4.9%;
}
.sec3 .box-title .slash{
	margin-bottom: 8%;
}
.sec3 .box-text3-1 {
	top: 28.5%;
}
.sec3 .box-text3-1 .divider {
	width: 30.6%;
	height: 0.1rem;
	margin: -6% 0 4.4% 36.4%;
	background: rgba(38, 49, 59, 1);
}
.sec3 .box-img {
	top: 59.4%;
}
.sec3 .box-text3-2 {
	top: 78.6%;
}
.sec3 .box-text3-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: -4.5% 0 8.4% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec4 {
	margin-top: -14.4%;
}
.sec4 .box-title {
	top: 7.6%;
}
.sec4 .box-text {
	top: 43%;
}
.sec4 .content {
    top: 84.5%;
    z-index: 5;
}
.sec4 .content-item.show {
	display: block;
}
.sec4 .btn-sleepmode-1,
.sec4 .btn-sleepmode-2 {
    position: absolute;
    width: 35.5%;
    left: 50%;
    margin-left: -17.75%;
    top: 238%;
}
.sec4 .hand{
    width: 9.8%;
    position: absolute;
    top: 415%;
    left: 59%;
    pointer-events: none;
}
.sec5 {
	margin-top: 0%;
}
.sec5 .box-text {
	top: 10.6%;
}
.sec5 .box-text .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 4.4% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec5 .box-img {
	top: 29.9%;
}
.sec5 .box-cards {
	top: 51.1%;
}
.sec2 .box-title2,
.sec2 .box-text2-1,
.sec2 .box-text2-2,
.sec2 .box-text2-3,
.sec2 .box-text2-4,
.sec3 .box-title3,
.sec3 .box-text3-1,
.sec3 .box-text3-2,
.sec3 .box-img,
.sec3 .box-cards,
.sec4 .box-title4,
.sec4 .box-text,
.sec4 .content,
.sec5 .box-text,
.sec5 .box-img,
.sec5 .box-cards,
.sec6 .box-title6,
.sec6 .box-swiper {
	opacity: 0;
}

.scale{
    animation: scale 1.5s linear 0s infinite;
    -ms-animation: scale 1.5s linear 0s infinite;
    -webkit-animation: scale 1.5s linear 0s infinite;
    -o-animation: scale 1.5s linear 0s infinite;
    -moz-animation: scale 1.5s linear 0s infinite;
}
@keyframes scale{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
@-ms-keyframes scale{
    0%{-ms-transform: scale(1);}
    50%{-ms-transform: scale(1.2);}
    100%{-ms-transform: scale(1);}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.2);}
    100%{-webkit-transform: scale(1);}
}
@-o-keyframes scale{
    0%{-o-transform: scale(1);}
    50%{-o-transform: scale(1.2);}
    100%{-o-transform: scale(1);}
}
@-moz-keyframes scale{
    0%{-moz-transform: scale(1);}
    50%{-moz-transform: scale(1.2);}
    100%{-moz-transform: scale(1);}
}