/* 2020/05/04 build */
/* 2020/05/18 update */
/* 2020/06/16 update */
.slash {
	margin-left: 5%;
	margin-bottom: 8%;
}
.sec1 {
	padding: 17.8% 0 21.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .box-prod {
	margin-top: 1%;
}
.sec1 .box-prod img {
	width: 85.067%;
}
.sec1 .box-option {
	margin-top: 6.8%;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.07%;
	top: -66%;
}
.sec1 .btn-360 img {
	right: 22.8%;
}
.sec1 .btn-180 {
	right: 7.6%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.6%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 4.8%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .btn-player {
	width: 22.667%;
	top: 40%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	top: 3.6%;
}
.sec3 .content3 {
	top: 10.8%;
}
.sec3 .text3 {
	margin-top: 14%;
}
.sec3 .card3-1 {
	margin-top: 17%;
}
.sec3 .card3-2 {
	margin-top: 6%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	top: 6.6%;
}
.sec4 .box-text {
	top: 62.2%;
}
.sec4 .text4-2 {
	margin-top: 11.6%;
}
.card-item {
	margin-bottom: 5%;
}
.sec5 {
	margin-top: -14.2%;
}
.sec5 .bg5 {
	height: 100vh;
}
.sec5 .box-title5 {
	top: 7.6%;
}
.sec5 .box-text {
	top: 57%;
}
.sec5 .text5-2 {
	margin-top: 12.6%;
}
.sec6 .bg {
	opacity: 0;
}
.sec6 .content-item {
	opacity: 0;
}
.sec6 .content-item.active {
	opacity: 1;
}
.sec6 .box-title6-1, .sec6 .box-title6-2 {
	top: 4%;
}
.sec6 .box-text {
	top: 14.6%;
}
.sec6 .text6-1-2, .sec6 .text6-2-2 {
	margin-top: 5%;
}
.sec6 .text6-1-3, .sec6 .text6-2-3 {
	margin-top: 7%;
}
.sec6 .text6-1-4, .sec6 .text6-2-4 {
	margin-top: 6.6%;
}
.sec6 .box-option {
	top: 85%;
}
.color1 {
	color: #052441;
}
.color2 {
	color: #631e00;
}
.sec6 .box-option span {
	font-size: 1.6rem;
	line-height: 1.6rem;
	padding: 5% 0;
}
.sec6 .option-item {
	width: 50%;
	display: inline-block;
	opacity: 0.5;
}
.sec6 .option-item.active {
	opacity: 1;
}
.sec6 .option-item1.active span {
	border-bottom: 0.2rem solid #052441;
}
.sec6 .option-item2.active span {
	border-bottom: 0.2rem solid #631e00;
}
.sec7 {
	margin-top: -14.2%;
}
.sec7 .box-title7 {
	top: 7.8%;
}
.sec7 .box-text {
	top: 26.3%;
}
.sec8 {
	margin-top: -14.2%;
}
.sec8 .box-title8 {
	top: 4.4%;
}
.sec8 .box-text {
	top: 20.8%;
}
.sec8 .text8-2 {
	margin-top: 110%;
}
.sec8 .box-swiper {
	top: 69.1%;
}
.sec8 .swiper8 {
	padding-bottom: 21%;
}
.sec8 .swiper8 .swiper-slide img {
	width: 93.02%;
}
.sec8 .swiper8 .swiper-pagination-bullet {
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 1rem;
	background: #fff;
	opacity: 1;
}
.sec8 .swiper8 .swiper-pagination-bullet-active {
	background: #2e4d4b;
}
.sec9 {
	margin-top: -15.8%;
}
.sec9 .box-title9 {
	top: 6.8%;
}
.sec9 .box-text {
	top: 22.1%;
}
.sec9 .text9-2 {
	margin-top: 10.3%;
}
.sec9 .text9-3 {
	margin-top: 39.6%;
}
.sec9 .text9-4 {
	margin-top: 4.6%;
}
.sec9 .text9-5 {
	margin-top: 24%;
}
.sec3 .box-title3,
.sec3 .prod3,
.sec3 .text3,
.sec3 .card3-1,
.sec3 .card3-2,
.sec4 .box-title4,
.sec4 .text4-1,
.sec4 .text4-2,
.sec5 .box-title5,
.sec5 .text5-1,
.sec5 .text5-2,
.sec6 .box-title,
.sec6 .text6-1,
.sec6 .text6-2,
.sec6 .text6-3,
.sec6 .text6-4,
.sec6 .box-option,
.sec7 .box-title7,
.sec7 .text7-1,
.sec7 .text7-2,
.sec8 .box-title8,
.sec8 .text8-1,
.sec8 .text8-2,
.sec8 .box-swiper,
.sec9 .box-title9,
.sec9 .text9-1,
.sec9 .text9-2,
.sec9 .text9-3,
.sec9 .text9-4,
.sec9 .text9-5 {
	opacity: 0;
}
