/* 2020/04/15 build */
/* 2020/05/20 update */
/* 2020/06/16 update */
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 {
	padding: 17.8% 0 22.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .swiper-slide img {
	width: 85.067%;
}
.sec1 .swiper1 .swiper-pagination {
	z-index: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 0.3rem;
	padding: 0.2rem;
	background: transparent;
	border: 0.01rem solid transparent;
	border-radius: 0;
	opacity: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet-active {
	border: 0.01rem solid #848484;
}
.sec1 .swiper1 .swiper-pagination-bullet div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .swiper1 .swiper-pagination-bullet div.color1 {
	background: #fff;
} 
.sec1 .swiper1 .swiper-pagination-bullet div.color2 {
	background: #c70023;
} 
.sec1 .swiper1 .swiper-pagination-bullet div.color3 {
	background: #e8d3b4;
} 
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.334%;
	z-index: 1;
}
.sec1 .btn-360 img {
	right: 22.6%;
}
.sec1 .btn-180 {
	right: 7.4%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.8%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
	top: 7.6%;
}
.sec2 .box-prod {
	top: 8.4%;
}
.sec2 .box-text {
	top: 49%;
}
.sec2 .btn-check-plus {
	width: 39%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .btn-player {
	width: 22.667%;
	top: 42%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .box-title4 {
	top: 6.3%;
	z-index: 1;
}
.sec4 .box-swiper {
	top: 14.6%;
}
.sec4 .swiperprod {
	padding-bottom: 47%;
}
.sec4 .swiperprod .swiper-pagination-bullet {
	width: 0.88rem;
	height: 0.88rem;
	margin: 0 1rem;
	background: #d9d9d9;
	opacity: 1;
}
.sec4 .swiperprod .swiper-pagination-bullet-active {
	background: #565656;
}
.sec4 .box-info-swiper {
	top: 65.6%;
	overflow: hidden;
	z-index: 1;
}
.sec4 .swiperinfo {
	-webkit-transform: scale(0.65); /* Safari和Chrome */  
    -moz-transform: scale(0.65); /* Firefox */
    -ms-transform: scale(0.65); /* IE9 */  
    -o-transform: scale(0.65); /* Opera */  
	transform: scale(0.65);
	overflow: visible;
}
.sec4 .swiperinfo .swiper-slide {
	vertical-align: top;
}
.sec4 .swiperinfo .swiper-slide img {
	width: 87%;
}
.sec5 {
	margin-top: -14.2%;
}
.sec5 .box-title5 {
	top: 8.8%;
	z-index: 1;
}
.sec5 .divider {
	width: 7%;
	height: 0.2rem;
	margin: 8% 0 5% 6%;
}
.sec4 .divider.color1 {
	background: #373737;
}
.sec4 .divider.color2 {
	background: #6b030e;
}
.sec4 .divider.color3 {
	background: #4e2d00;
}
.sec5 .box-swiper {
	top: 27.4%;
}
.sec5 .swiperprod {
	padding-bottom: 16%;
}
.sec5 .swiperprod .swiper-pagination-bullet {
	width: 33.33%;
	height: auto;
	line-height: 3.2rem;
	background: transparent;
	margin: 0;
	border-radius: 0;
	opacity: 0.5;
}
.sec5 .swiperprod .swiper-pagination-bullet-active {
	opacity: 1;
}
.sec5 .swiperprod .swiper-pagination-bullet > span {
	vertical-align: bottom;
}
.sec5 .swiperprod .swiper-pagination.color1 {
	color: #373737;
}
.sec5 .swiperprod .swiper-pagination.color2 {
	color: #6b030e;
}
.sec5 .swiperprod .swiper-pagination.color3 {
	color: #4e2d00;
}
.sec5 .swiperprod .swiper-pagination-bullet .series {
	font-size: 1.5rem;
}
.sec5 .swiperprod .swiper-pagination-bullet-active .series {
	font-size: 1.8rem;
}
.sec5 .swiperprod .swiper-pagination-bullet .panel {
	font-size: 1.2rem;
}
.sec5 .swiperprod .swiper-pagination-bullet-active .panel {
	font-size: 1.4rem;
}
.sec5 .swiperprod .swiper-pagination-bullet .line {
	width: 60%;
	height: 0.2rem;
	background: #fff;
	opacity: 0;
}
.sec5 .swiperprod .swiper-pagination-bullet-active .line {
	opacity: 1;
}
.sec6 {
	margin-top: -14.2%;
	z-index: 1;
}
.sec6 .box-title6 {
	top: 18.8%;
}
.sec6 .divider {
	width: 8%;
	height: 0.2rem;
	margin: 27% 0 3% 8%;
	background: rgba(105, 57, 0, 0.65);
}
.sec6 .prod6-1 {
	width: 46.934%;
}
.sec6 .prod6-2 {
	width: 25.867%;
	top: 11.3%;
}
.sec6 .prod6-3 {
	width: 44%;
	top: 46.6%;
}
.sec6 .prod6-4 {
	width: 23.334%;
	top: 30.9%;
}
.sec7 {
	margin-top: -13%;
}
.sec7 .bg7 {
	height: 100vh;
}
.sec7 .box-title7 {
	top: 7.4%;
}
.sec7 .box-text {
	top: 56.6%;
}
.sec7 .text7-2 {
	margin-top: 10.2%;
}
.card-item {
	margin-bottom: 5%;
}
.sec8 .box-title8 {
	top: 7.1%;
}
.sec8 .box-effect {
	width: 55.734%;
	top: 15.2%;
	right: 4.6%;
}
.sec8 .box-wind {
	width: 142.11%;
	height: 0%;
	top: 78%;
	right: 29%;
	overflow: hidden;
}
.sec8 .box-text {
	top: 39.2%;
}
.sec8 .divider {
	width: 8%;
	height: 0.2rem;
	margin: 5.6% 0 2.8% 11%;
	background: rgba(0, 0, 0, 0.65);
}
.sec8 .box-cards {
	padding-bottom: 18%;
}
.sec9 {
	margin-top: -14.4%;
}
.sec9 .box-title9 {
	top: 5.8%;
}
.sec9 .content9 {
	top: 19%;
}
.sec9 .prod9 {
	margin-top: 15.4%;
}
.sec9 .divider {
	width: 8%;
	height: 0.2rem;
	margin: 14% 0 3.8% 11%;
	background: rgba(0, 0, 0, 0.65);
}
.sec10 {
	margin-top: -14.2%;
}
.sec10 .box-title10 {
	top: 7.8%;
}
.sec10 .box-text {
	top: 26.3%;
}
.sec11 {
	margin-top: -14.6%;
}
.sec11 .box-title11 {
	top: 5.4%;
}
.sec11 .prod11 {
	top: 13%;
}
.sec11 .box-text {
	top: 60%;
}
.sec11 .box-text .divider {
	width: 8%;
	height: 0.2rem;
	margin: 4.8% 0 2.4% 12.6%;
	background: rgba(105, 57, 0, 0.65);
}
.sec2 .box-title2,
.sec2 .box-prod,
.sec2 .box-text,
.sec4 .box-title4,
.sec4 .swiperprod,
.sec4 .box-info-swiper,
.sec4 .swiper-pagination,
.sec5 .box-title5,
.sec5 .swiperprod,
.sec5 .swiper-pagination,
.sec6 .title6,
.sec6 .divider,
.sec6 .subtitle6,
.sec6 .prod6-1,
.sec6 .prod6-2,
.sec6 .prod6-3,
.sec6 .prod6-4,
.sec7 .box-title7,
.sec7 .text7-1,
.sec7 .text7-2,
.sec8 .box-title8,
.sec8 .text8-1,
.sec8 .divider,
.sec8 .text8-2,
.sec9 .box-title9,
.sec9 .text9-1,
.sec9 .prod9,
.sec9 .divider,
.sec9 .text9-2,
.sec10 .box-title10,
.sec10 .text10-1,
.sec10 .text10-2,
.sec11 .box-title11,
.sec11 .text11-1,
.sec11 .divider,
.sec11 .text11-2 {
	opacity: 0;
}
