/* 2020/04/30 build */
/* 2020/05/19 update */
/* 2020/06/17 update */
.slash {
	margin-left: 5%;
	margin-bottom: 6.8%;
}
.sec1 {
	padding: 17.8% 0 21.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 3.2%;
}
.sec1 .level-kt {
	margin-top: 0.3%;
}
.sec1 .box-prod img {
	width: 85.067%;
}
.sec1 .box-option {
	margin-top: 6.6%;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .color-item1 div {
	background: #fff;
}
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.07%;
	top: -64%;
}
.sec1 .btn-360 img {
	right: 22.8%;
}
.sec1 .btn-180 {
	right: 7.6%;
}
.sec1 .box-tag {
	margin-top: 16%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.6%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12.4%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .bg2 {
	height: 100vh;
}
.sec2 .box-title2 {
	top: 4.6%;
}
.sec2 .box-text {
	top: 48.4%;
}
.sec2 .text2-2 {
	margin-top: 8.4%;
}
.sec3 {
	margin-top: 12%;
}
.sec3 .box-title3 {
	top: 4.2%;
}
.sec3 .box-effect {
	width: 23.734%;
	top: 21%;
	left: 5.4%;
}
.sec3 .box-wind {
	width: 384.269%;
	height: 0%;
	top: 67%;
	left: 14%;
	overflow: hidden;
}
.sec3 .box-text {
	top: 58.2%;
}
.sec3 .text3-2 {
	margin-top: 9.6%;
}
.card-item {
	margin-bottom: 5%;
}
.sec4 {
	margin-top: -14.4%;
}
.sec4 .box-title4 {
	top: 6.8%;
}
.sec4 .text4 {
	top: 38.7%;
}
.sec4 .box-effect {
	width: 45.6%;
	top: 9.8%;
	left: 9.2%;
}
.sec4 .box-wind {
	width: 172.52%;
	height: 0%;
	top: 71%;
	left: 26.8%;
	overflow: hidden;
}
.sec4 .box-cards {
	padding-bottom: 18%;
}
.sec5 {
	margin-top: -14.4%;
}
.sec5 .box-title5 {
	top: 2.8%;
}
.sec5 .prod5 {
	top: 11.2%;
}
.sec5 .text5-1 {
	top: 48.2%;
}
.sec5 .text5-1-2 {
	margin-top: 4.4%;
}
.sec5 .text5-1-3 {
	top: 31%;
}
.sec5 .text5-1-4, .sec5 .text5-1-5 {
	margin-top: 0.8%;
}
.sec5 .text5-1-6 {
	margin-top: 1%;
}
.sec5 .text5-2 {
	top: 68.4%;
}
.sec6 {
	margin-top: -14.2%;
}
.sec6 .box-title6 {
	top: 7.8%;
}
.sec6 .box-text {
	top: 26.3%;
}
.component-select {
	margin-top: -2.2%;
}
.sec2 .box-title2,
.sec2 .text2-1,
.sec2 .text2-2,
.sec3 .box-title3,
.sec3 .text3-1,
.sec3 .text3-2,
.sec4 .box-title4,
.sec4 .text4,
.sec5 .box-title5,
.sec5 .prod5,
.sec5 .text5-1-1,
.sec5 .text5-1-2,
.sec5 .text5-1-3,
.sec5 .text5-1-4,
.sec5 .text5-1-5,
.sec5 .text5-1-6,
.sec5 .text5-2-1,
.sec6 .box-title6,
.sec6 .text6-1,
.sec6 .text6-2 {
	opacity: 0;
}
