/* 2020/04/30 build */
/* 2020/04\5/19 update */
.slash {
	margin-left: 5%;
	margin-bottom: 6.8%;
}
.sec1 {
	padding: 17.8% 0 22.8%;
	background: #f1f1f1;
}
.sec1 .level-wgj {
	margin-top: 3.8%;
}
.sec1 .box-option {
	margin-top: 9%;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid #848484;
	display: inline-block;
}
.sec1 .color-item div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .color-item1 div {
	background: -webkit-linear-gradient(#898b8e, #6d6f72); /*Safari5.1 Chrome 10+*/
	background:-moz-linear-gradient(#898b8e, #6d6f72); /*火狐*/
	background: -ms-linear-gradient(#898b8e, #6d6f72); /* IE 10 */
	background: -o-linear-gradient(#898b8e, #6d6f72); /*Opera 11.10+*/
    background: linear-gradient(#898b8e, #6d6f72);
}
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.07%;
	top: -70%;
}
.sec1 .btn-360 img {
	right: 22.8%;
}
.sec1 .btn-180 {
	right: 7.6%;
}
.sec1 .box-tag {
	margin-top: 16%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.6%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12.4%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .bg2 {
	height: 100vh;
}
.sec2 .box-title2 {
	top: 4.9%;
}
.sec2 .box-text {
	top: 58.6%;
}
.sec2 .text2-2 {
	margin-top: 7.4%;
}
.sec2 .text2-3 {
	margin-top: 13.4%;
}
.sec2 .text2-4 {
	margin-top: 7%;
}
.sec2 .text2-5 {
	margin-top: 7%;
}
.sec3 {
	margin-top: -14.2%;
}
.sec3 .box-title3 {
	top: 4.5%;
}
.sec3 .title3 {
	margin-top: 35%;
}
.sec3 .content-item {
	opacity: 0;
}
.sec3 .content-item.active {
	opacity: 1;
}
.sec3 .box-wind3-1 {
	height: 0%;
	top: 12%;
	overflow: hidden;
}
.sec3 .box-wind3-2 {
	height: 0%;
	top: 11.8%;
	overflow: hidden;
}
.sec3 .box-text3-1, .sec3 .box-text3-2 {
	top: 49.1%;
}
.sec3 .text3-1-2, .sec3 .text3-2-2 {
	top: 83.2%;
}
.sec3 .box-option {
	top: 87%;
}
.sec3 .option-item {
	width: 50%;
	font-size: 1.6rem;
	line-height: 2rem;
	color: #2f3e56;
	display: inline-block;
}
.sec3 .option-item span {
	padding: 8% 0;
	opacity: 0.4;
}
.sec3 .option-item.active span {
	border-bottom: 0.3rem solid #fff;
	opacity: 1;
}
.card-item {
	margin-bottom: 5%;
}
.sec4 {
	margin-top: -14.2%;
}
.sec4 .bg4 {
	height: 100vh;
}
.sec4 .box-title4 {
	top: 7.3%;
}
.sec4 .box-text {
	top: 48%;
}
.sec4 .text4-2 {
	margin-top: 15%;
}
.sec4 .box-cards {
	padding-bottom: 18%;
}
.component-select {
	margin-top: -11.2%;
}
.sec2 .box-title2,
.sec2 .text2-1,
.sec2 .text2-2,
.sec2 .text2-3,
.sec2 .text2-4,
.sec2 .text2-5,
.sec3 .slash3,
.sec3 .title3,
.sec3 .text3-1-1,
.sec3 .text3-1-2,
.sec3 .text3-1-3,
.sec3 .box-option,
.sec4 .box-title4,
.sec4 .text4-1,
.sec4 .text4-2 {
	opacity: 0;
}
