/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 {
	padding: 17.8% 0 22.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .swiper-slide img {
	width: 85.067%;
}
.sec1 .swiper1 .swiper-pagination {
	z-index: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 0.3rem;
	padding: 0.2rem;
	background: transparent;
	border: 0.01rem solid transparent;
	border-radius: 0;
	opacity: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet-active {
	border: 0.01rem solid #848484;
}
.sec1 .swiper1 .swiper-pagination-bullet div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .swiper1 .swiper-pagination-bullet div.color1 {
	background: -webkit-linear-gradient(#f9f9f9,#c6cacb); /*Safari5.1 Chrome 10+*/
	background:-moz-linear-gradient(#f9f9f9,#c6cacb); /*火狐*/
	background: -ms-linear-gradient(#f9f9f9,#c6cacb); /* IE 10 */
	background: -o-linear-gradient(#f9f9f9,#c6cacb); /*Opera 11.10+*/
    background: linear-gradient(#f9f9f9,#c6cacb);
} 
.sec1 .swiper1 .swiper-pagination-bullet div.color2 {
	background: -webkit-linear-gradient(#926660,#67281f); /*Safari5.1 Chrome 10+*/
	background:-moz-linear-gradient(#926660,#67281f); /*火狐*/
	background: -ms-linear-gradient(#926660,#67281f); /* IE 10 */
	background: -o-linear-gradient(#926660,#67281f); /*Opera 11.10+*/
    background: linear-gradient(#926660,#67281f);
} 
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.334%;
	z-index: 1;
}
.sec1 .btn-360 img {
	right: 22.6%;
}
.sec1 .btn-180 {
	right: 7.4%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.8%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12.4%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .bg2 {
	height: 90vh;
}
.sec2 .box-title2 {
	top: 7.2%;
}
.sec2 .box-text {
	top: 44.5%;
}
.sec2 .text2-1 {
	margin-bottom: 14.4%;
}
.sec2 .box-cards .card-item {
	margin-bottom: 4%;
}
.sec3 {
	margin-top: 14%;
}
.sec3 .box-title3 {
	top: 7.6%;
}
.sec3 .box-text {
	top: 43%;
}
.sec3 .content {
    top: 84.5%;
    z-index: 5;
}
.sec3 .content-item.show {
	display: block;
}
.sec3 .btn-sleepmode-1,
.sec3 .btn-sleepmode-2 {
    position: absolute;
    width: 35.5%;
    left: 50%;
    margin-left: -17.75%;
    top: 238%;
}
.sec3 .hand{
    width: 9.8%;
    position: absolute;
    top: 415%;
    left: 59%;
    pointer-events: none;
}
.sec4 {
	margin-top: 0%;
}
.sec4 .box-text {
	top: 10.6%;
}
.sec4 .box-text .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 4.4% 46.2%;
	background: rgba(38, 49, 59, 1);
}
.sec4 .box-img {
	top: 29.9%;
}
.sec4 .box-cards {
	top: 51.1%;
}
.sec5 {
	margin-top: -15%;
}
.sec5 .box-prod {
	top: 0;
}
.sec5 .box-title5 {
	top: 7%;
}
.sec5 .box-title5 .slash{
    margin-bottom: 4%;
}
.sec5 .box-text5-1 {
	top: 29%;
}
.sec5 .box-text5-2 {
	top: 34.6%;
}
.sec5 .box-text5-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 6.2% 46.2%;
	background: rgb(35, 65, 65);
}
.sec2 .box-title2,
.sec2 .box-text,
.sec3 .box-title3,
.sec3 .box-text,
.sec3 .content,
.sec4 .box-text,
.sec4 .box-img,
.sec4 .box-cards,
.sec5 .box-title5,
.sec5 .box-text5-1,
.sec5 .box-text5-2{
	opacity: 0;
}

.scale{
    animation: scale 1.5s linear 0s infinite;
    -ms-animation: scale 1.5s linear 0s infinite;
    -webkit-animation: scale 1.5s linear 0s infinite;
    -o-animation: scale 1.5s linear 0s infinite;
    -moz-animation: scale 1.5s linear 0s infinite;
}
@keyframes scale{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
@-ms-keyframes scale{
    0%{-ms-transform: scale(1);}
    50%{-ms-transform: scale(1.2);}
    100%{-ms-transform: scale(1);}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.2);}
    100%{-webkit-transform: scale(1);}
}
@-o-keyframes scale{
    0%{-o-transform: scale(1);}
    50%{-o-transform: scale(1.2);}
    100%{-o-transform: scale(1);}
}
@-moz-keyframes scale{
    0%{-moz-transform: scale(1);}
    50%{-moz-transform: scale(1.2);}
    100%{-moz-transform: scale(1);}
}