/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 {
	padding: 17.8% 0 22.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .swiper-slide img {
	/* width: 170%;
	margin-left: -35%; */
    width: 85%;
    margin-left: 7.5%;
}
.sec1 .box-option {
	margin-top: -8%;
}
.sec1 .box-colors .color-item {
	margin: 0 0.3rem;
	padding: 0.2rem;
	border: 0.01rem solid transparent;
	display: inline-block;
}
.sec1 .box-colors .color-item.active {
	border: 0.01rem solid #848484;
}
.sec1 .color-item div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .color-item1 div {
	background: #FFF;
}
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.07%;
	top: -70%;
	z-index: 1;
}
.sec1 .btn-360 img {
	right: 22.8%;
}
.sec1 .btn-180 {
	right: 7.6%;
}
.sec1 .box-tag {
	margin-top: 16%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.8%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12.4%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .bg2 {
	height: 90vh;
}
.sec2 .box-title2 {
	top: 7.2%;
}
.sec2 .box-text {
	top: 44.5%;
}
.sec2 .text2-1 {
	margin-bottom: 14.4%;
}
.sec2 .box-cards .card-item {
	margin-bottom: 4%;
}
.sec3 {
	margin-top: 14%;
}
.sec3 .box-title3 {
	top: 5%;
}
.sec3 .box-title3 .slash{
    margin-bottom: 8%;
}
.sec3 .box-img {
	top: 43.2%;
}
.sec3 .box-text3-1 {
	top: 58.5%;
}
.sec3 .box-text3-2 {
	top: 65.5%;
}
.sec3 .box-text3-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 9.2% 46.2%;
	background: rgb(28, 46, 65);
}
.sec3 .box-text3-3 {
	top: 78.2%;
}
.sec4 {
	margin-top: -15%;
}
.sec4 .box-prod {
	top: 0;
}
.sec4 .box-title4 {
	top: 7%;
}
.sec4 .box-title4 .slash{
    margin-bottom: 4%;
}
.sec4 .box-text4-1 {
	top: 29%;
}
.sec4 .box-text4-2 {
	top: 34.6%;
}
.sec4 .box-text4-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 6.2% 46.2%;
	background: rgb(35, 65, 65);
}
.sec2 .box-title2,
.sec2 .box-text,
.sec3 .box-title3,
.sec3 .box-text3-1,
.sec3 .box-text3-2,
.sec3 .box-text3-3,
.sec3 .box-img,
.sec4 .box-title4,
.sec4 .box-text4-1,
.sec4 .box-text4-2{
	opacity: 0;
}
