/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 {
	padding: 17.8% 0 22.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .swiper-slide img {
	width: 85.067%;
}
.sec1 .swiper1 .swiper-pagination {
	z-index: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 0.3rem;
	padding: 0.2rem;
	background: transparent;
	border: 0.01rem solid transparent;
	border-radius: 0;
	opacity: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet-active {
	border: 0.01rem solid #848484;
}
.sec1 .swiper1 .swiper-pagination-bullet div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .swiper1 .swiper-pagination-bullet div.color1 {
	background: #FFF;
} 
.sec1 .swiper1 .swiper-pagination-bullet div.color2 {
	background: #6c412e;
} 
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.334%;
	z-index: 1;
}
.sec1 .btn-360 img {
	right: 22.6%;
}
.sec1 .btn-180 {
	right: 7.4%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.8%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12.4%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
    top: 5%;
    z-index: 1;
}
.sec2 .box-title2 .slash{
    margin-bottom: 8%;
}
.sec2 .box-img-swiper{
    top: 17.4%;
    z-index: 1;
    height: 70%;
}
.sec2 .box-text2-1{
    top: 66.7%;
    z-index: 1;
}
.sec2 .box-text2-2{
    top: 73%;
    z-index: 1;
}
.sec2 .box-text2-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 5.2% 46.2%;
}
.sec2 .box-text2-2 .divider.color1{
	background: rgb(79, 94, 101);
}
.sec2 .box-text2-2 .divider.color2{
	background: rgb(86, 60, 42);
}
.sec2 .box-img2{
	width: 94.8%;
	left: 2.6%;
	top: 17.5%;
}
.sec2 .swiperimg{
    height: 110%;
}
.sec2 .swiperimg .swiper-pagination {
	bottom: 7.6%;
}
.sec2 .swiperimg .swiper-pagination-bullet {
	width: 0.88rem;
	height: 0.88rem;
	margin: 0 1rem;
	background: #d9d9d9;
	opacity: 1;
}
.sec2 .swiperimg .swiper-pagination-bullet-active {
	background: #565656;
}
.sec3 {
	margin-top: -15%;
}
.sec3 .bg3 {
	height: 90vh;
}
.sec3 .box-title3 {
	top: 7.2%;
}
.sec3 .box-text {
	top: 44.5%;
}
.sec3 .text3-1 {
	margin-bottom: 14.4%;
}
.sec3 .box-cards .card-item {
	margin-bottom: 4%;
}
.sec4 {
	margin-top: 15%;
}
.sec4 .box-prod {
	top: 0;
}
.sec4 .box-title4 {
	top: 4.4%;
}
.sec4 .box-text4-1 {
	top: 10%;
}
.sec4 .box-text4-2 {
	top: 46.4%;
}
.sec4 .box-text4-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 5.2% 9.8%;
	background: rgb(32, 55, 51);
}
.sec4 .box-img {
	top: 21.7%;
}
.sec4 .box-card {
	top: 57.5%;
}
.sec2 .box-title2,
.sec2 .box-img2,
.sec2 .box-text2-1,
.sec2 .box-text2-2,
.sec3 .box-title3,
.sec3 .box-text,
.sec4 .box-title4,
.sec4 .box-text4-1,
.sec4 .box-text4-2,
.sec4 .box-img,
.sec4 .box-card{
	opacity: 0;
}
