/* 2020/04/24 build */
/* 2020/05/19 update */
.slash {
	margin-left: 5%;
	margin-bottom: 6.8%;
}
.sec1 {
	padding: 17.8% 0 22.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .swiper-slide img {
	width: 85.067%;
}
.sec1 .swiper1 .swiper-pagination {
	z-index: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 0.3rem;
	padding: 0.2rem;
	background: transparent;
	border: 0.01rem solid transparent;
	border-radius: 0;
	opacity: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet-active {
	border: 0.01rem solid #848484;
}
.sec1 .swiper1 .swiper-pagination-bullet div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .swiper1 .swiper-pagination-bullet div.color1 {
	background: -webkit-linear-gradient(#fff, #c6c9cb); /*Safari5.1 Chrome 10+*/
	background:-moz-linear-gradient(#fff, #c6c9cb); /*火狐*/
	background: -ms-linear-gradient(#fff, #c6c9cb); /* IE 10 */
	background: -o-linear-gradient(#fff, #c6c9cb); /*Opera 11.10+*/
    background: linear-gradient(#fff, #c6c9cb);
} 
.sec1 .swiper1 .swiper-pagination-bullet div.color2 {
	background: -webkit-linear-gradient(#898b8e, #6d6f72); /*Safari5.1 Chrome 10+*/
	background:-moz-linear-gradient(#898b8e, #6d6f72); /*火狐*/
	background: -ms-linear-gradient(#898b8e, #6d6f72); /* IE 10 */
	background: -o-linear-gradient(#898b8e, #6d6f72); /*Opera 11.10+*/
    background: linear-gradient(#898b8e, #6d6f72);
} 
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.334%;
	z-index: 1;
}
.sec1 .btn-360 img {
	right: 22.6%;
}
.sec1 .btn-180 {
	right: 7.4%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.6%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12%;
}
.sec2 {
	margin-top: -14%;
}
.sec2 .box-title2 {
	top: 6.2%;
}
.sec2 .content2 {
	top: 10.5%;
}
.sec2 .text2-1 {
	margin-top: 8.6%;
}
.sec2 .text2-2 {
	margin-top: 9.6%;
}
.sec2 .text2-3 {
	margin-top: 12%;
}
.sec3 {
	margin-top: -14.4%;
}
.sec3 .box-title3 {
	top: 3.6%;
}
.sec3 .content3 {
	top: 11.4%;
}
.sec3 .text3-1 {
	margin-top: 11.2%;
}
.sec3 .text3-2 {
	margin-top: 70.6%;
}
.sec3 .box-swiper {
	top: 67%;
}
.sec3 .swiper3 .swiper-slide {
	padding-bottom: 14.2%;
	opacity: 0.3;
    -webkit-transition: all 0.4s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.4s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.4s ease-in-out; /* Opera */ 
    transition: all 0.4s ease-in-out;
}
.sec3 .swiper3 .swiper-slide.swiper-slide-active {
	opacity: 1;
    -webkit-transition: all 0.4s ease-in-out; /* Safari和Chrome */ 
    -moz-transition: all 0.4s ease-in-out; /*Firefox 4 */  
    -o-transition: all 0.4s ease-in-out; /* Opera */ 
    transition: all 0.4s ease-in-out;  
}
.sec3 .swiper3 .swiper-slide img {
	width: 51.456%;
}
.sec3 .swiper3 .swiper-pagination-bullet {
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 1rem;
	background: #fff;
	opacity: 1;
}
.sec3 .swiper3 .swiper-pagination-bullet-active {
	background: #6d271c;
}
.sec4 {
	margin-top: -14.4%;
}
.sec4 .bg4 {
	height: 100vh;
}
.sec4 .box-title4 {
	top: 5%;
}
.sec4 .box-text {
	top: 41.8%;
}
.sec4 .text4-2 {
	margin-top: 9.8%;
}
.card-item {
	margin-bottom: 5%;
}
.sec5 {
	margin-top: 7.8%;
}
.sec5 .box-cards {
	margin-top: -40%;
	padding-bottom: 18%;
}
.sec5 .swiper-button-prev, .sec5 .swiper-button-next {
	top: 42%;
}
.sec5 .swiper5 .swiper-pagination {
	bottom: 9%;
}
.sec5 .swiper5 .swiper-pagination-bullet {
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 1rem;
	background: #fff;
	opacity: 1;
}
.sec5 .swiper5 .swiper-pagination-bullet-active {
	background: #565656;
}
.sec5 .box-title5-1, .sec5 .box-title5-2 {
	top: 7%;
}
.sec5 .text5-1 {
	margin-top: 28.2%;
}
.sec5 .text5-2 {
	margin-top: 4.8%;
}
.sec6 {
	margin-top: -14.4%;
}
.sec6 .box-title6 {
	top: 5.5%;
}
.sec6 .prod6 {
	top: 15.8%;
}
.sec6 .text6-1 {
	top: 47.3%;
}
.sec6 .text6-2 {
	top: 67.8%;
}
.sec6 .text6-1-2, .text6-2-2 {
	margin-top: 6.4%;
}
.sec2 .box-title2,
.sec2 .prod2,
.sec2 .text2-1,
.sec2 .text2-2,
.sec2 .text2-3,
.sec3 .box-title3,
.sec3 .prod3,
.sec3 .text3-1,
.sec3 .text3-2,
.sec3 .box-swiper,
.sec4 .box-title4,
.sec4 .text4-1,
.sec4 .text4-2,
.sec5 .box-title5-1,
.sec5 .text5-1,
.sec5 .text5-2,
.sec6 .box-title6,
.sec6 .prod6,
.sec6 .text6-1-1,
.sec6 .text6-1-2,
.sec6 .text6-2-1,
.sec6 .text6-2-2 {
	opacity: 0;
}
