/* 2020/04/15 build */
.box-title {
	left: 0;
}
.slash {
	margin-left: 5%;
	margin-bottom: 6%;
}
.sec1 {
	padding: 17.8% 0 22.8%;
	background: #f1f1f1;
}
.sec1 .level1 {
	margin-top: 5.4%;
}
.sec1 .swiper-slide img {
	width: 85.067%;
}
.sec1 .swiper1 .swiper-pagination {
	z-index: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet {
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 0.3rem;
	padding: 0.2rem;
	background: transparent;
	border: 0.01rem solid transparent;
	border-radius: 0;
	opacity: 1;
}
.sec1 .swiper1 .swiper-pagination-bullet-active {
	border: 0.01rem solid #848484;
}
.sec1 .swiper1 .swiper-pagination-bullet div {
	width: 1.3rem;
	height: 1.3rem;
}
.sec1 .swiper1 .swiper-pagination-bullet div.color1 {
	background: #FFF;
} 
.sec1 .swiper1 .swiper-pagination-bullet div.color2 {
	background: #aaa49c;
} 
.sec1 .btn-360 img, .sec1 .btn-180 {
	width: 11.334%;
	z-index: 1;
}
.sec1 .btn-360 img {
	right: 22.6%;
}
.sec1 .btn-180 {
	right: 7.4%;
}
.sec1 .box-tag {
	margin-top: 13%;
}
.sec1 .box-tag img {
	width: 16%;
	margin: 0.8%;
}
.sec1 .box-download {
	width: 83.47%;
	margin-top: 12.4%;
}
.sec2 {
	margin-top: -14.2%;
}
.sec2 .box-title2 {
    top: 5%;
}
.sec2 .box-title2 .slash{
    margin-bottom: 8%;
}
.sec3 {
	margin-top: 0;
}
.sec3 .bg3 {
	height: 90vh;
}
.sec3 .box-img{
	top: -6.3%;
	z-index: 1;
}
.sec3 .box-img .img3-1{
	width: 25.8%;
	margin-left: 37%;
}
.sec3 .box-text3-1 {
	top: 11.5%;
}
.sec3 .box-text3-2 {
	top: 21.2%;
}
.sec3 .box-text3-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0 0 7.2% 46.2%;
	background: rgb(42, 73, 107);
}
.sec3 .box-qr {
	top: 43.2%;
}
.sec3 .box-cards .card-item {
	margin-bottom: 4%;
}
.sec3 .box-cards .card-item:last-child{
	margin-bottom: 14%;
}
.sec4 {
	margin-top: 0;
}
.sec4 .bg4 {
	height: 90vh;
}
.sec4 .box-title4 {
	top: 6.2%;
}
.sec4 .box-text {
	top: 45.5%;
}
.sec4 .text4-1 {
	margin-bottom: 10.4%;
}
.sec4 .box-cards .card-item {
	margin-bottom: 4%;
}
.sec5 {
	margin-top: 14.2%;
}
.sec5 .box-title5 {
	top: 3.5%;
	z-index: 1;
}
.sec5 .box-title5 .slash{
	margin-bottom: 7%;
}
.sec5 .box-effect {
	top: 5.54%;
}
.sec5 .box-effect .box-wind {
	height: 0%;
	top: 67%;
	overflow: hidden;
}
.sec5 .box-text5-1 {
	top: 37%;
}
.sec5 .box-text5-2 {
	top: 45.3%;
}
.sec5 .box-text5-3 {
	top: 59.5%;
}
.sec5 .box-text5-3 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0% 0 7.4% 46.2%;
	background: rgba(65, 50, 35, 1);
}
.sec5 .box-card {
	top: 69.5%;
}
.sec6 {
	margin-top: -14.6%;
}
.sec6 .box-title6 {
	top: 4%;
}
.sec6 .box-title6 .slash{
	margin-bottom: 7%;
}
.sec6 .box-prod {
	top: 9.6%;
}
.sec6 .box-text6-1 {
	top: 18.6%;
}
.sec6 .box-text6-2 {
	top: 45.3%;
}
.sec6 .box-text6-2 .divider {
	width: 7.4%;
	height: 0.2rem;
	margin: 0% 0 3.4% 46.2%;
	background: rgba(57, 81, 77, 1);
}
.sec6 .box-text6-3 {
	top: 54.5%;
}
.sec6 .box-text6-4 {
	top: 72.5%;
}
.sec7 {
	margin-top: -14.2%;
}
.sec7 .box-title7 {
	top: 7.8%;
}
.sec7 .box-text {
	top: 26.3%;
}
.sec2 .box-title2,
.sec3 .box-text3-1,
.sec3 .box-text3-2,
.sec3 .box-qr,
.sec4 .box-title4,
.sec4 .box-text,
.sec5 .box-title5,
.sec5 .box-text5-1,
.sec5 .box-text5-2,
.sec5 .box-text5-3,
.sec5 .box-card,
.sec6 .box-title6,
.sec6 .box-text6-1,
.sec6 .box-text6-2,
.sec6 .box-text6-3,
.sec6 .box-text6-4,
.sec7 .box-title7,
.sec7 .text7-1,
.sec7 .text7-2 {
	opacity: 0;
}
