<style>
	.box-link {
		margin-top: 7.8%;
	}
	.box-link .link-item {
		width: 37%;
		vertical-align: top;
		display: none;
	}
	.box-link .linktitle {
		margin-bottom: 6.8%;
	}
	.box-link .divider {
		width: 0.1rem;
		height: 26rem;
		margin: 0.4% 2.6% 0;
		background: #d3d3d3;
		vertical-align: top;
		display: none;
	}
	.box-link .link-item .clearfix div {
		width: 47%;
		display: none;
	}
	.box-link .link-item.active, .box-link .divider.active, .box-link .link-item1.active .clearfix div, .box-link .link-item2.active .clearfix div.show {
		display: inline-block;
	}
	.box-link .btn-more-m {
		width: 79%;
		bottom: 5%;
	}
	.box-service {
		margin-top: 5%;
	}
	.box-service img {
		width: 23.59375%;
	}
	.foot-nav {
		margin-top: 6.8%;
		padding: 3.6% 0 4%;
		background: #939393;
	}
	.foot-nav .nav-item {
		width: 12.3125rem;
		margin: 0 3rem;
		vertical-align: top;
		display: inline-block;
	}
	.foot-nav .nav-item .label {
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding: 1rem 0;
	}
	.foot-nav a {
		color: #fff;
	}
	.foot-nav a:link {
		color: #fff;
	}
	.foot-nav a:visited {
		color: #fff;
	}
	.foot-nav a:hover {
		color: #fff;
	}
	.foot-nav a:active {
		color: #fff;
	}
	.foot-nav .icon-arrow {
		width: 0.9rem;
		height: 1.3rem;
		bottom: 1.1rem;
		right: 1rem;
		background: url('img/common/icon-arrow.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-nav hr {
		opacity: 0.2;
	}
	.foot-nav ul {
		margin-top: 2rem;
	}
	.foot-nav ul li {
		line-height: 3.1rem;
	}
	.foot-nav ul a {
		font-size: 1.3rem;
		line-height: 1.3rem;
	}
	.foot-nav .icon-story {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 0.5rem;
		margin-bottom: 1.4rem;
		vertical-align: bottom;
		background: url('img/common/icon-story.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-nav .icon-about {
		width: 1.4rem;
		height: 1.5rem;
		margin-right: 0.5rem;
		margin-bottom: 1.4rem;
		vertical-align: bottom;
		background: url('img/common/icon-about.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-nav .icon-bg {
		width: 1.9rem;
		height: 1.4rem;
		margin-right: 0.5rem;
		margin-bottom: 1.4rem;
		vertical-align: bottom;
		background: url('img/common/icon-bg.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-nav .icon-gs {
		width: 1.6rem;
		height: 1.4rem;
		margin-left: 0.2rem;
		margin-right: 0.5rem;
		margin-bottom: 1.4rem;
		vertical-align: bottom;
		background: url('img/common/icon-gs.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-nav .icon-sy {
		width: 1.5rem;
		height: 1.4rem;
		margin-left: 0.2rem;
		margin-right: 0.5rem;
		margin-bottom: 1.4rem;
		vertical-align: bottom;
		background: url('img/common/icon-sy.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-nav .icon-store {
		width: 1.6rem;
		height: 1.4rem;
		margin-right: 0.5rem;
		margin-bottom: 1.4rem;
		vertical-align: bottom;
		background: url('img/common/icon-store.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-nav .icon-point {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 0.5rem;
		margin-bottom: 1.4rem;
		vertical-align: bottom;
		background: url('img/common/icon-point.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-link {
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding: 2.4rem 0 10rem;
	}
	.foot-link .foot-link-item {
		vertical-align: top;
		display: inline-block;
	}
	.foot-link .foot-link-item1 {
		white-space: nowrap;
		padding-top: 1.8rem;
	}
	.foot-link a {
		color: #000;
		padding: 0 2%;
	}
	.foot-link a:link {
		color: #000;
	}
	.foot-link a:visited {
		color: #000;
	}
	.foot-link a:hover {
		color: #000;
	}
	.foot-link a:active {
		color: #000;
	}
	.foot-link .icon-link {
		width: 1.4rem;
		height: 1.3rem;
		margin-left: 0.4rem;
		margin-bottom: 0.2rem;
		vertical-align: bottom;
		background: url('img/pc/common/icon-link.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
	.foot-link .other-link {
		width: 21rem;
		margin-left: 1%;
		display: inline-block;
	}
	.foot-link .other-link ul {
		top: 100%;
		padding-top: 1rem;
	}
	.foot-link .other-link ul li {
		padding: 0.6rem 0;
	}
	.foot-link .foot-link-item2 {
		padding-left: 4rem;
		border-left: 0.1rem solid rgba(0, 0, 0, 0.3);
	}
	.foot-link .foot-link-item2 div {
		margin: 0.1rem 0 0.5rem 0;
	}
	.copyright {
		padding: 1.36% 10.4%;
		font-size: 1.26rem; 
		line-height: 2.2rem;
		background: #666;
	}
	.box-link, .box-service {
		opacity: 0;
	}
</style>

<!-- link -->
<div class="box-link text-center">
	<div class="link-item link-item1">
		<div class="linktitle linktitle1">
			<img class="full-w" src="img/pc/common/linktitle1.png" alt="三菱电机空调的优势">
		</div>
		<div class="clearfix">
			<div class="link-story rel fl">
				<img class="full-w" src="img/common/link-story.jpg" alt="our story">
				<a href="p.story.html" target="_self">
					<img class="btn-more-m abs left right center" src="img/pc/common/btn-more-m.png" alt="了解更多">
				</a>
			</div>
			<div class="link-moveeye rel fr">
				<img class="full-w" src="img/common/link-moveeye.jpg" alt="全域慧眼">
				<a href="p.moveeye.html" target="_self">
					<img class="btn-more-m abs left right center" src="img/pc/common/btn-more-m.png" alt="了解更多">
				</a>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="link-item link-item2">
		<div class="linktitle linktitle2">
			<img class="full-w" src="img/pc/common/linktitle2.png" alt="了解更多三菱电机空调">
		</div>
		<div class="clearfix">
			<div class="link-story rel">
				<img class="full-w" src="img/common/link-story.jpg" alt="our story">
				<a href="p.story.html" target="_self">
					<img class="btn-more-m abs left right center" src="img/pc/common/btn-more-m.png" alt="了解更多">
				</a>
			</div>
			<div class="link-moveeye rel">
				<img class="full-w" src="img/common/link-moveeye.jpg" alt="全域慧眼">
				<a href="p.moveeye.html" target="_self">
					<img class="btn-more-m abs left right center" src="img/pc/common/btn-more-m.png" alt="了解更多">
				</a>
			</div>
			<div class="link-meq rel">
				<img class="full-w" src="img/common/link-meq.jpg" alt="MEQ">
				<a href="p.meq.html" target="_self">
					<img class="btn-more-m abs left right center" src="img/pc/common/btn-more-m.png" alt="了解更多">
				</a>
			</div>
			<div class="link-prod rel">
				<img class="full-w" src="img/common/link-prod.jpg" alt="产品信息">
				<a href="p.prodjy.html" target="_self">
					<img class="btn-more-m abs left right center" src="img/pc/common/btn-more-m.png" alt="了解更多">
				</a>
			</div>
			<div class="link-qrcode">
				<img class="full-w" src="img/common/qrcode.jpg" alt="三菱电机空调微信公众号">
			</div>
		</div>
	</div>
</div>
<!-- service -->
<div class="box-service text-center">
	<img src="img/common/service.png" alt="客服热线">
</div>
<!-- foot nav -->
<div class="foot-nav white text-center">
	<div class="nav-item text-left">
		<a href="p.home.html" target="_self">
			<div class="rel">
				<div class="label bold900">首页</div>
				<i class="icon-arrow abs"></i>
			</div>
		</a>
		<hr>
	</div>
	<div class="nav-item text-left">
		<div class="label bold900">关于</div>
		<hr>
		<ul class="text-left">
			<li>
				<a href="p.story.html" target="_self"><i class="icon-story"></i>品牌故事</a>
			</li>
			<li>
				<a href="p.about.html" target="_self"><i class="icon-about"></i>关于我们</a>
			</li>
		</ul>
	</div>
	<div class="nav-item text-left">
		<div class="label bold900">产品</div>
		<hr>
		<ul class="text-left">
			<li>
				<a href="p.prodjybg.html" target="_self"><i class="icon-bg"></i>家用壁挂机</a>
			</li>
			<li>
				<a href="p.prodjygs.html" target="_self"><i class="icon-gs"></i>家用柜机</a>
			</li>
			<li>
				<a href="p.prodsy.html" target="_self"><i class="icon-sy"></i>商用机</a>
			</li>
		</ul>
	</div>
	<div class="nav-item text-left">
		<div class="label bold900">支持</div>
		<hr>
		<ul class="text-left">
			<li>
				<a class="store" href="p.support.html" target="_self"><i class="icon-store"></i>销售支持</a>
			</li>
			<li>
				<a class="service" href="p.support.html" target="_self"><i class="icon-point"></i>售后支持</a>
			</li>
		</ul>
	</div>
	<div class="nav-item text-left">
		<a href="http://saec.gypserver.com/#/register" target="_blank">
			<div class="rel">
				<div class="label bold900">注册</div>
				<i class="icon-arrow abs"></i>
			</div>
		</a>
		<hr>
	</div>
</div>
<!-- foot link -->
<div class="foot-link text-center">
	<div class="foot-link-item foot-link-item1 text-left">
		<a class="bold700" href="http://saec.gypserver.com/#/register" target="_blank">会员登录</a>
		<span>丨</span>
		<a class="bold700" href="p.notice.html" target="_self">重要通知</a>
		<span>丨</span>
		<a class="bold700" href="p.recruit.html" target="_self">招聘信息</a>
		<span>丨</span>
		<div class="other-link rel">
			<a class="bold700">相关链接</a>
			<ul class="abs left full-w hide">
				<li><a href="https://www.mitsubishielectric.co.jp/index.html" target="_blank">三菱电机株式会社<i class="icon-link"></i></a></li>
				<li><a href="https://www.mitsubishielectric.com/en/index.html" target="_blank">三菱电机全球<i class="icon-link"></i></a></li>
				<li><a href="https://www.mlc-cn.com/index/" target="_blank">三菱电机空调影像设备有限公司<i class="icon-link"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="foot-link-item foot-link-item2 text-left">
		<div class="bold700">联系我们</div>
		<p>如果您有任何有关三菱电机空调的疑问，需要帮助与支援，请联系我们<br/>地址：中国（上海）自由贸易试验区南洋泾路505号 (200135)<br/>电话：(021)5833-5833&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真：(021)5833-6439</p>
	</div>
</div>  
<!-- copyright -->
<div class="copyright white">
	<div>Copyright©2020 上海三菱电机•上菱空调机电器有限公司. All rights reserved.<br/>沪ICP备10028231号-1  沪公网安备 31011502004862号</div>
</div>

<script>
	$(function($) {
		var id = $('.container.pc').attr('id').substring(1);
		if(id == 'home') {
			// 首页全展示
			$('.box-link .link-item').addClass('active');
			$('.box-link .divider').addClass('active');
			$('.box-link .link-prod').addClass('show');
			$('.box-link .link-qrcode').addClass('show');
		} else {
			// 其他页面展示两个
			$('.box-link .link-item2').addClass('active');
			switch(id) {
				case 'story':
					$('.box-link .link-meq').addClass('show');
					$('.box-link .link-prod').addClass('show');
					break;
				case 'moveeye':
					$('.box-link .link-story').addClass('show');
					$('.box-link .link-meq').addClass('show');
					break;
				case 'meq':
					$('.box-link .link-story').addClass('show');
					$('.box-link .link-moveeye').addClass('show');
					break;
				case 'about':
					$('.box-link .link-prod').addClass('show');
					$('.box-link .link-qrcode').addClass('show');
					break;
				case 'esep':
					$('.box-link .link-story').addClass('show');
					$('.box-link .link-moveeye').addClass('show');
					break;
				case 'recruit':
					$('.box-link .link-story').addClass('show');
					$('.box-link .link-moveeye').addClass('show');
					break;
				case 'support':
					$('.box-link .link-story').addClass('show');
					$('.box-link .link-meq').addClass('show');
					break;
				case 'prodjy':
					$('.box-link .link-story').addClass('show');
					$('.box-link .link-meq').addClass('show');
					break;
				case 'prodjybg':
					$('.box-link .link-moveeye').addClass('show');
					$('.box-link .link-prod').addClass('show');
					break;
				case 'prodjybgmodel':
					$('.box-link .link-moveeye').addClass('show');
					$('.box-link .link-prod').addClass('show');
					break;
				case 'prodjygs':
					$('.box-link .link-meq').addClass('show');
					$('.box-link .link-prod').addClass('show');
					break;
				case 'prodjygsmodel':
					$('.box-link .link-meq').addClass('show');
					$('.box-link .link-prod').addClass('show');
					break;
				case 'prodsy':
					$('.box-link .link-story').addClass('show');
					$('.box-link .link-meq').addClass('show');
					break;
				case 'prodsync':
					$('.box-link .link-moveeye').addClass('show');
					$('.box-link .link-meq').addClass('show');
					break;
				case 'prodsyqr':
					$('.box-link .link-moveeye').addClass('show');
					$('.box-link .link-meq').addClass('show');
					break;
				case 'prodsygs':
					$('.box-link .link-moveeye').addClass('show');
					$('.box-link .link-meq').addClass('show');
					break;
				default:
					if(id.indexOf('seriesbg') >= 0) {
						// 壁挂
						$('.box-link .link-moveeye').addClass('show');
						$('.box-link .link-prod').addClass('show');
					} else if(id.indexOf('seriesgs') >= 0) {
						// 柜式
						$('.box-link .link-meq').addClass('show');
						$('.box-link .link-prod').addClass('show');
					} else {
						// 商用
						$('.box-link .link-story').addClass('show');
						$('.box-link .link-meq').addClass('show');
					};
			};
		};
		if($('.box-link .link-item2.active .clearfix div.show').length > 0) {
			$($('.box-link .link-item2.active .clearfix div.show')[0]).addClass('fl');
			$($('.box-link .link-item2.active .clearfix div.show')[1]).addClass('fr');
		};
		
		// 淡入动画
	    setTimeout(function() {
	    	$.fadeUpAn($('.box-link'));
			$.fadeUpAn($('.box-service'));
			// scroll
			$(window).on('scroll', function() {
				$.fadeUpAn($('.box-link'));
				$.fadeUpAn($('.box-service'));
			});
	    }, 300);

		// divider变化
		function setDivider() {
			if($(window).width() > 960) {
				var h = ($(window).width() * 41.3) / 1920;
				$('.box-link .divider').css({'height': h + 'rem'});
			} else {
				$('.box-link .divider').css({'height': '16rem'});
			};
		};
	    setDivider();
	    $(window).on('resize', function() {
    		setDivider();
	    });

	    // 销售支持
	    $('.foot-nav a.store').on('click', function() {
	    	sessionStorage.setItem('store', JSON.stringify(true));
	    });

	    // 售后支持
	    $('.foot-nav a.service').on('click', function() {
	    	sessionStorage.setItem('service', JSON.stringify(true));
	    });

	    // hover
	    $('.btn-more-m').hover(function() {
			$(this).attr('src', 'img/pc/common/btn-more-m-active.png');
		}, function() {
			$(this).attr('src', 'img/pc/common/btn-more-m.png');
		});

		// 相关链接
		$('.foot-link .other-link').hover(function() {
			$(this).find('ul').stop(true, true).slideDown();
		}, function() {
			$(this).find('ul').stop(true, true).slideUp();
		});

		$('.foot-link .other-link ul li').hover(function(e) {
			e.stopPropagation();
		}, function() {
			//
		});
	});
</script>