<style>
	header {
		min-width: 960px;
		height: 9.4rem;
		display: box;
		display: -webkit-box;
		display: -webkit-flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: flex;
		z-index: 11;
	}
	header .box-logo {
		height: 53.2%;
		margin-top: 2.2rem;
		margin-left: 5.2%;
	}
	header nav {
		-prefix-box-flex: 1; 
		-webkit-box-flex: 1; 
		-webkit-flex: 1; 
		-moz-box-flex: 1; 
		-ms-flex: 1; 
		flex: 1; 
	}
	header nav > ul {
		margin-top: 2.4rem;
	}
	header nav > ul li {
		width: 10rem;
		height: 4.8rem;
		font-size: 1.5rem;
		line-height: 4.8rem;
		display: inline-block;
	}
	header nav > ul li > ul {
		top: 4.8rem;
	}
	header nav > ul li > ul li {
		font-size: 1.3rem;
	}
	header nav > ul li > ul .block {
		height: 2rem;
	}
	header nav > ul li > ul .divider {
		width: 60%;
		height: 0.2rem;
		background: #ff0000;
	}
	header .lightgrey {
		background: #f4f4f4;
		-webkit-transition: all 0.2s ease-in-out; /* Safari和Chrome */ 
	    -moz-transition: all 0.2s ease-in-out; /*Firefox 4 */  
	    -o-transition: all 0.2s ease-in-out; /* Opera */ 
	    transition: all 0.2s ease-in-out;  
	}
	header a {
		color: #000;
	}
	header a:link {
		color: #000;
	}
	header a:visited {
		color: #000;
	}
	header a:hover {
		color: #000;
	}
	header a:active {
		color: #000;
	}
	header .box-search {
		width: 25rem;
		height: 46.82%;
		margin-top: 2.76rem;
	}
	header .box-search input {
		width: 15rem;
		height: 3rem;
		top: 0.7rem;
		right: -5.4rem;
		font-size: 1.2rem;
		line-height: 3rem;
		text-indent: 1rem;
		background: #f4f4f4;
		opacity: 0;
	}
	.inputAn {
		opacity: 1!important;
		right: 10rem!important;
	    -webkit-transition: all 0.6s ease-in-out; /* Safari和Chrome */ 
	    -moz-transition: all 0.6s ease-in-out; /*Firefox 4 */  
	    -o-transition: all 0.6s ease-in-out; /* Opera */ 
	    transition: all 0.6s ease-in-out;	
	}
	header .box-search .btn-search {
		width: 9.6rem;
	}
	header .icon-search {
		width: 4.4rem;
		height: 4.4rem;
		background: url('img/pc/common/icon-search.png') no-repeat;
		background-position: 0 0;
		background-size: 100% auto;
	}
</style>

<header class="fixed full-w top left bg-white">
	<!-- logo -->
	<div class="box-logo">
		<a href="index.html" target="_self">
			<img class="full-h" src="img/pc/common/logo.png" alt="Misubishi Electric">
		</a>
		<h1>Misubishi Electric</h1>
	</div>
	<nav class="text-center">
		<ul>
			<li><a href="p.home.html" target="_self"><div class="label">首页</div></a></li>
			<li class="rel">
				<div class="label">关于</div>
				<ul class="abs left right center full-w bg-white hide">
					<div class="block"></div>
					<div class="divider center"></div>
					<a href="p.story.html" target="_self"><li>品牌故事</li></a>
					<a href="p.about.html" target="_self"><li>关于我们</li></a>
				</ul>
			</li>
			<li class="rel">
				<div class="label">产品</div>
				<ul class="abs left right center full-w bg-white hide">
					<div class="block"></div>
					<div class="divider center"></div>
					<a href="p.prodjy.html" target="_self"><li>家用</li></a>
					<a href="p.prodsy.html" target="_self"><li>商用</li></a>
				</ul>
			</li>
			<li><a href="p.support.html" target="_self"><div class="label">支持</div></a></li>
		</ul>
	</nav>
	<!-- search -->
	<div class="box-search rel">
		<input class="abs full-h" type="text" placeholder="请输入">
		<div class="btn-search abs right bg-white">
			<i class="icon-search pointer" alt="搜索"></i>
		</div>
	</div>
</header>

<script>
	$(function($) {
		// 一级菜单动效
		$('header nav li.rel').hover(function() {
			if($(this).find('.label').next().length > 0) {
				$(this).find('.label').next().stop(true, true).slideDown();
			};
		}, function() {
			if($(this).find('.label').next().length > 0) {
				$(this).find('.label').next().stop(true, true).slideUp();
			};
		});

		// 二级菜单动效
		$('header nav li.rel > ul li').hover(function(e) {
			e.stopPropagation();
			$(this).addClass('lightgrey');
		}, function() {
			$(this).removeClass('lightgrey');
		});

	    // 搜索动效
		$('header .icon-search').hover(function() {
			$('header .box-search input').addClass('inputAn');
		});

		// 点击搜索
		$('header .icon-search').on('click', function() {
			if($('header .box-search input').val() == '') {
				alert('请输入');
			} else {
				sessionStorage.setItem('keyword', JSON.stringify($('header .box-search input').val()));
				window.location.href = 'p.search.html';
			};
		});
	});
</script>