<style>
	.sec-select .box-title-select {
		padding-left: 11.6%;
	}
	.sec-select .content-select {
		margin-top: 5.6%;
	}
	.sec-select .select-item, .sec-select .select-item-prod > div {
		display: inline-block;
	}
	.sec-select .select-item-prod {
		width: 45%;
		margin-right: 1%;
	}
	.sec-select .select-item-prod > div {
		width: 44.792%;
	}
	.sec-select .select-item-prod > div:first-child {
		margin-right: 6%;
	}
	.sec-select .select-item-area {
		width: 20.15625%;
	}
	.sec-select .select-item .area-cold {
		margin-bottom: 7.4%;
	}
	.sec-select .line {
		height: 0.4rem;
		background: #c00000;
		opacity: 0;
	}
	.sec-select .box-area {
		width: 66.2%;
		margin-top: 3%;
	}
	.sec-select .box-area select {
		padding: 1.8% 0;
		font-size: 1.5rem;
		line-height: 1.5rem;
		text-indent: 45%;
		background: #efefef;
	}
	.sec-select .box-select img {
		opacity: 0.5;
	}
	.sec-select .active img, .sec-select .active select {
		opacity: 1;
	}
	.sec-select .active .line {
		opacity: 1;
	}
	.sec-select .btn-submit {
		width: 13%;
		margin-top: 3.4%;
		padding: 0.8% 0;
		font-size: 1.5rem;
		line-height: 1.5rem;
		background: #494949;
	}
	.sec-select .box-title-select,
	.sec-select .box-select,
	.sec-select .box-area,
	.sec-select .btn-submit {
		opacity: 0;
	}
</style>

<section class="sec sec-select">
	<!-- title -->
		<div class="box-title box-title-select">
			<img class="slash-m slash-select" src="img/common/slash-red.png">
			<h3>智能选型</h2>
		</div>
		<!-- content -->
		<div class="content content-select text-center">
			<div class="box-select">
				<div class="select-item select-item-prod text-left">
					<div class="prod-item prod-bg rel" data-prod="壁挂机">
						<img class="full-w" src="img/pc/prod/prodbg.png" alt="壁挂机">
						<div class="line abs bottom left full-w"></div>
					</div>
					<div class="prod-item prod-gs rel" data-prod="柜机">
						<img class="full-w" src="img/pc/prod/prodgs.png" alt="柜机">
						<div class="line abs bottom left full-w"></div>
					</div>
				</div>
				<div class="select-item select-item-area">
					<div class="area-item area-cold rel" data-type="1">
						<img class="full-w" src="img/pc/prod/areacold.png" alt="制冷面积">
						<div class="line abs bottom left full-w"></div>
					</div>
					<div class="area-item area-hot rel" data-type="2">
						<img class="full-w" src="img/pc/prod/areahot.png" alt="制热面积">
						<div class="line abs bottom left full-w"></div>
					</div>
				</div>
			</div>
			<div class="box-area rel center">
				<select class="full-w" name="select-area">
					<option class="default" value="">请选择</option>
					<option value="9-10">9～10cm²</option>
					<option value="10-15">10～15cm²</option>
					<option value="15-21">15～21cm²</option>
					<option value="21-30">21～30cm²</option>
					<option value="30-37">30～37cm²</option>
					<option value="37-44">37～44cm²</option>
				</select>
				<div class="line abs bottom left full-w"></div>
			</div>
			<div class="btn btn-submit white center pointer">确认</div>
		</div>
</section>

<script>
	$(function($) {
		// 淡入动画
		setTimeout(function() {
			$.fadeUpAn($('.sec-select .box-title-select'));
			$.fadeUpAn($('.sec-select .box-select'));
			$.fadeUpAn($('.sec-select .box-area'));
			$.fadeUpAn($('.sec-select .btn-submit'));
			// scroll
			$(window).on('scroll', function() {
				$.fadeUpAn($('.sec-select .box-title-select'));
				$.fadeUpAn($('.sec-select .box-select'));
				$.fadeUpAn($('.sec-select .box-area'));
				$.fadeUpAn($('.sec-select .btn-submit'));
			});
		}, 300);

		// 根据系列默认机型
		var series = $('.sec-select').parent().data('series');
		switch(series) {
			case 'bg':
				$('.sec-select .prod-bg').addClass('active');
				break;
			case 'gs':
				$('.sec-select .prod-gs').addClass('active');
				break;
			default:
				//
		};
		// 选好之前不能点击
		$('.sec-select .box-area select').prop('disabled', true);
		// 选机型
	    $('.sec-select .prod-item').on('click', function() {
	        $(this).addClass('active').siblings().removeClass('active');
	    });
	    // 选制冷/热面积
	    $('.sec-select .area-item').on('click', function() {
	        if($('.sec-select .prod-item.active').length == 0) {
	            alert('请选择机型');
	        } else {
	            $(this).addClass('active').siblings().removeClass('active');
	            $('.sec-select .box-area select').prop('disabled', false);
	        };
	    });
	    // 选面积
	    $('.sec-select .box-area select').on('change propertychange', function() {
	        if($(this).val() != '') {
	        	$('.sec-select .box-area').addClass('active');
	        } else {
	            $('.sec-select .box-area').removeClass('active');
	        };
	    });
	    // 确认
	    $('.sec-select .btn-submit').on('click', function() {
	        if($('.sec-select .prod-item.active').length == 0) {
	            alert('请选择机型');
	            return;
	        };
	        if($('.sec-select .area-item.active').length == 0) {
	            alert('请选择制冷/热面积');
	            return;
	        };
	        if($('.sec-select .box-area select').val() == '') {
	            alert('请选择面积');
	            return;
	        };
	        var screenSelect = {};
	        screenSelect['areatype'] = parseInt($('.sec-select .area-item.active').data('type'));
	        screenSelect['area'] = $('.sec-select .box-area select').val();
	        sessionStorage.setItem('screenSelect', JSON.stringify(screenSelect));
        	if($('.sec-select .prod-item.active').data('prod') == '壁挂机') {
        		window.location.href = 'p.prodjybgmodel.html';
	        } else {
	        	window.location.href = 'p.prodjygsmodel.html';
	        };
	    });
	});
</script>