<style>
	.sidebar {
		width: 10rem;
		top: 18rem;
		right: -10.1rem;
		box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
		z-index: 10;
	}
	.sidebar .box-slide-top {
		height: 3rem;
		top: -3.2rem;
		border-top-left-radius: 0.8rem;
		border-top-right-radius: 0.8rem;
		box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
	}
	.sidebar .icon-slide-top {
		margin-top: 0.5rem;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid #656565;
	}
	.sidebar .box-slide-left {
		width: 2rem;
		height: 23.6rem;
		line-height: 25.6rem;
		right: 10.2rem;
		border-top-left-radius: 0.8rem;
		border-bottom-left-radius: 0.8rem;
		box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
	}
	.sidebar .icon-slide-left {
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid #656565;
	}
	.sidebar .box-qrcode, .sidebar .box-list {
		right: 10.2rem;
	}
	.sidebar .box-qrcode {
		width: 16.6rem;
	}
	.sidebar .box-list {
		width: 10rem;
		font-size: 1.6rem;
	}
	.sidebar a {
		color: #666;
	}
	.sidebar a:link {
		color: #666;
	}
	.sidebar a:visited {
		color: #666;
	}
	.sidebar a:hover {
		color: #666;
	}
	.sidebar a:active {
		color: #666;
	}
	.sidebar .box-list li {
		line-height: 4.75rem;
	}
	.sidebar .box-list a:first-child li {
		border-bottom: 0.1rem solid #cbcbcb;
	}
	.sidebar .divider {
		width: 78%;
		height: 0.1rem;
		background: #cbcbcb;
	}
	.sidebar .box-top {
		height: 4rem;
		line-height: 4rem;
		color: #656565;
		font-size: 1.4rem;
	}
</style>

<div class="sidebar fixed bg-white">
	<div class="box-slide-top abs full-w bg-white text-center pointer"><i class="icon-slide-top"></i></div>
	<div class="box-slide-left abs top bg-white text-center pointer"><i class="icon-slide-left"></i></div>
	<div class="box-wechat rel pointer">
		<img class="full-w" src="img/common/icon-wechat.png">
		<div class="box-qrcode abs bottom hide">
			<img class="full-w" src="img/common/qrcode.jpg">
		</div>
	</div>
	<div class="divider center"></div>
	<div class="box-online rel pointer">
		<img class="full-w" src="img/common/icon-service.png">
		<div class="box-list abs top full-h bg-white text-center hide">
			<ul>
				<a href="http://callcenter.saec.com.cn:8081/EliteWebChat/clientLogin.do?queue=1&visitorGuid=4d9752fb-43b9-c6e8-e6c9-5151ae3cbb4f&1501044639432" target="_blank"><li>在线客服</li></a>
				<a href="http://callcenter.saec.com.cn:8081/SanLing/MessageBoard.html" target="_blank"><li>在线保修</li></a>
			</ul>
		</div>
	</div>
	<div class="divider center"></div>
	<div class="box-top text-center pointer">返回顶部</div>
</div>

<script>
	$(function($) {
		// 展开侧边
		$('.sidebar .box-slide-left').on('click', function() {
			$('.sidebar').stop(true, true).animate({right: '0rem'}, 300);
			$('.sidebar .box-slide-left').fadeOut(100);
		});

		// 二维码动效
		$('.sidebar .box-wechat').hover(function() {
			$('.sidebar .box-qrcode').show();
		}, function() {
			$('.sidebar .box-qrcode').hide();
		});

		// 客服动效
		$('.sidebar .box-online').hover(function() {
			$('.sidebar .box-list').show();
		}, function() {
			$('.sidebar .box-list').hide();
		});

		// 返回顶部
		$('.sidebar .box-top').on('click', function() {
			$('html, body').animate({
				scrollTop: 0,
			}, 400);
		});

		// 收起侧边
		$('.sidebar .box-slide-top').on('click', function() {
			$('.sidebar').stop(true, true).animate({right: '-10.1rem'}, 300);
			$('.sidebar .box-slide-left').fadeIn(100);
		});
	});
</script>